<ion-content>
	<div class="screen-header">
		<div>
			Customer Details
		</div>
		<div>
			<img class="cursor" src="/assets/images/svg/close.svg" (click)="close()" width="16px" height="16px" />
		</div>
	</div>

	<div class="customer-info">
		<div class="name">{{ customer.name }}</div>
		<div class="address1">
			{{ customer.address1 }}
		</div>
		<div>&nbsp;</div>
	</div>

	<mat-tab-group class="tab-group">
		<mat-tab label="First" class="demo-tab-content"> ADDRESS </mat-tab>
		<mat-tab label="Second" class="demo-tab-content"> CONTACT PERSONS </mat-tab>
		<mat-tab label="Third" class="demo-tab-content"> LATEST </mat-tab>
	</mat-tab-group>
</ion-content>
