<div>
    <div style="padding: 16px;">
        Default Units
    </div>
    <div>
        
        <form [formGroup]="submitForm">
            <div class="timezone">
                <mat-form-field class="mat-width-ext">
                    <mat-label>Timezone</mat-label>
                    <mat-select formControlName="timezoneid" 
                     required >
                        <mat-option *ngFor="let item of timezonesdata" > {{item.description}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
        {{this.submitForm.value | json}}
    </div>
</div>
