<ion-content>
	<div style="padding: 1rem; border-bottom: 1px solid #f2f2f2">
		<span style="font-style: 20px; text-align: left; padding-left: 16px; font-size: 18px"> Customer Accounts Statement </span>
	</div>
	<div style="padding-top: 16px">
		<form [formGroup]="statementForm" style="display: grid; grid-template-columns: 300px 150px 150px 1fr; gap: 60px; padding-left: 32px">
			<div class="customers" style="padding-top: 20px">
				<mat-form-field style="width: 300px">
					<mat-label>Customers</mat-label>
					<input
						matInput
						[matAutocomplete]="auto"
						formControlName="customerctrl"
						required
						matTooltip="Type to filter the Customer list"
						matTooltipPosition="after"
						appSelectOnFocus
					/>
					<button mat-button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearInput()">
						<mat-icon>close</mat-icon>
					</button>
					<mat-autocomplete #auto="matAutocomplete" panelWidth="auto" (optionSelected)="getPosts($event)">
						<mat-option
							*ngFor="let customer of filteredCustomer | async"
							[value]="customer"
							style="height: 70px; border-bottom: 1px solid lightsteelblue"
						>
							<!-- <span>{{ customer.name }} </span> -->
							<div style="display: grid; grid-template-columns: 1fr">
								<div>
									<div style="font-size: 15px; padding: 2px; line-height: 1em">{{ customer.name }}</div>
									<div style="font-size: 14px; padding: 2px; line-height: 1em; color: grey">{{ customer.address1 }}</div>
									<div style="font-size: 14px; padding: 2px; line-height: 1em; color: grey">{{ customer.address2 }},{{ customer.address3 }}</div>
								</div>
							</div>
						</mat-option>
					</mat-autocomplete>
					<mat-hint>Type Customer Name and Select</mat-hint>
					<mat-error *ngIf="statementForm.controls['customerctrl'].hasError('incorrect')"> Invalid Customer Selected </mat-error>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field style="width: 150px !important; padding-top: 20px">
					<mat-label>From</mat-label>
					<input
						matInput
						readonly
						[max]="maxDate"
						[matDatepicker]="startdate"
						formControlName="startdate"
						(focus)="startdate.open()"
						required
						(dateChange)="startDateSelected($event)"
						style="width: 150px"
					/>
					<mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
					<mat-datepicker #startdate></mat-datepicker>
					<mat-hint>Defaults to 90 Days</mat-hint>
				</mat-form-field>
			</div>

			<div>
				<mat-form-field style="width: 150px !important; padding-top: 20px">
					<mat-label>To</mat-label>
					<input
						matInput
						readonly
						[matDatepicker]="enddate"
						[max]="maxDate"
						formControlName="enddate"
						(focus)="enddate.open()"
						required
						(dateChange)="endDateSelected($event)"
					/>
					<mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
					<mat-datepicker #enddate></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="search-btn" style="padding-top: 20px">
				<button mat-raised-button color="primary" style="font-size: 1rem" (click)="getStatement()"> Get Customer Statement </button>
			</div>
		</form>
	</div>

	<div *ngIf="this.statementForm.value.customerid !== 'all' ">
		<div
			*ngIf="isloading"
			style="
				display: flex;
				justify-content: flex-end;
				font-size: 16px;
				padding: 6px;
				font-weight: 500;
				width: 80%;
				margin: 0 auto;
				top: 29px;
				position: relative;
			"
		>
			<div style="font-size: 14px; color: grey; align-self: flex-end"> Matching Records: {{this.statementdata.length}} </div>&nbsp;&nbsp;&nbsp;&nbsp;
			<div>
				<div style="font-size: 13px; color: grey"> Opening Balance </div>
				<div style="font-size: 18px"> {{openingbalance | currency: "INR"}} </div> </div
			>&nbsp;&nbsp;&nbsp;&nbsp;
			<div>
				<div style="font-size: 13px; color: grey"> Closing Balance </div>
				<div style="font-size: 18px"> {{closingbalance | currency: "INR"}} </div>
			</div>
			<div
				>&nbsp;&nbsp;&nbsp;&nbsp;
				<img
					matTooltip="Download"
					matTooltipClass="tooltip"
					src="/assets/images/svg/direct-download.svg"
					style="cursor: pointer"
					width="32px"
					height="32px"
					(click)="exportCustomerStatement()"
				/>
			</div>
		</div>

		<div #epltable *ngIf="isloading">
			<table style="width: 80%; display: grid; margin: 0 auto; padding-top: 32px">
				<thead>
					<tr class="header">
						<th style="text-align: left">S.No</th>
						<th style="text-align: left">Ref Date</th>
						<th style="text-align: left">Txn Type</th>
						<th style="text-align: left">Reference</th>
						<th style="text-align: right">Invoice Amt</th>
						<th style="text-align: right">Received Amt</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of statementdata ? statementdata : []; let idx = index" class="list-item row-color">
						<td style="text-align: left">{{ idx + 1 }}</td>
						<td>{{ item.ref_date_f | date: 'dd/MMM/yyyy' }}</td>
						<td>{{ item.type }}</td>
						<td>{{ item.refn }}</td>

						<td style="text-align: right">{{ item.invoice_amount | currency: "INR" }}</td>
						<td style="text-align: right"> {{ +item?.Received_Amount | currency: "INR" }} </td>
					</tr>
				</tbody>
			</table>

			<div *ngIf="datafetch" style="width: 80%; display: flex; margin: 0 auto">
				<span *ngIf="statementdata?.length === 0 " style="text-align: center; font-size: 18px; color: indianred; padding: 16px; font-style: italic">
					No Records Found
				</span>
			</div>
		</div>
	</div>

	<div *ngIf="this.statementForm.value.customerid === 'all' ">
		<div #epltable *ngIf="isloading && isOBLoaded && isCBLoaded">
			<div
				style="
					display: flex;
					justify-content: flex-end;
					font-size: 16px;
					padding: 6px;
					font-weight: 500;
					width: 80%;
					margin: 0 auto;
					top: 29px;
					position: relative;
				"
			>
				<div style="font-size: 14px; color: grey; align-self: flex-end"> Matching Records: {{this.statementdata.length}} </div>
				<div
					>&nbsp;&nbsp;&nbsp;&nbsp;
					<img
						matTooltip="Download"
						matTooltipClass="tooltip"
						src="/assets/images/svg/direct-download.svg"
						style="cursor: pointer"
						width="32px"
						height="32px"
						(click)="exportAllCustomerStatement()"
					/>
				</div>
			</div>

			<table style="width: 80%; display: grid; margin: 0 auto; padding-top: 32px">
				<thead>
					<tr class="header1">
						<th style="text-align: left">S.No</th>
						<th style="text-align: left">Ref Date</th>
						<th style="text-align: left">Customer</th>
						<th style="text-align: left">Location</th>
						<th style="text-align: left">Txn Type</th>
						<th style="text-align: left">Reference</th>
						<th style="text-align: right">Invoice Amt</th>
						<th style="text-align: right">Received Amt</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of statementdata ? statementdata : []; let idx = index" class="list-item1 row-color">
						<ng-content *ngIf="check(item)"></ng-content>

						<td style="grid-column: 1/-1; padding: 16px 0px" *ngIf="newrow">
							<b>{{item.name}}</b>
							Opening Balance:{{getCurrentCustomerOB(item)}} &nbsp;&nbsp;&nbsp;&nbsp; Closing Balance:{{getCurrentCustomerCB(item)}}
						</td>

						<td style="text-align: left">{{ idx + 1 }}</td>
						<td>{{ item.name }}</td>
						<td>{{ item.ref_date_f | date: 'dd/MMM/yyyy' }}</td>

						<td>{{ item.place }}</td>
						<td>{{ item.type === undefined ? 'No Records': item.type}}</td>
						<td>{{ item.refn }}</td>

						<td style="text-align: right">{{ item.invoice_amount | currency: "INR" }}</td>
						<td style="text-align: right"> {{ +item?.Received_Amount | currency: "INR" }} </td>
					</tr>
				</tbody>
			</table>

			<div *ngIf="datafetch" style="width: 80%; display: flex; margin: 0 auto">
				<span *ngIf="statementdata?.length === 0 " style="text-align: center; font-size: 20px; padding: 16px; font-style: italic">
					No Records Found
				</span>
			</div>
		</div>
	</div>
</ion-content>
