<ion-content>
	<div class="content">
		<div style="padding-top: 10px; padding-bottom: 10px;">
			<h3>Add Enquiry</h3>
		</div>
		<div>
			<button appPreventDoubleClick (throttledClick)="addProduct()" [throttleTime]="500" mat-raised-button color="primary">
				+ Add Item
			</button>
		</div>
	</div>
	<form (ngSubmit)="onSubmit()" [formGroup]="submitForm" #myForm="ngForm">
		<div class="enq-form">
			<div class="actn-row">
				<div style="padding-left: 7px; cursor: pointer;">
					<img src="/assets/images/svg/trash.svg" width="18px" height="18px" *ngIf="showDelIcon" (click)="onRemoveRows()" />
					<span class="itms-lbl" *ngIf="showDelIcon" (click)="onRemoveRows()">&nbsp;Delete</span>
				</div>
				<div class="itms-lbl">
					{{productarr.controls.length || 0}} Items
				</div>
			</div>

			<div formArrayName="productarr" class="list-block">
				<div class="item-details" *ngFor="let product of productarr.controls; let idx = index">
					<ng-container [formGroupName]="idx">
						<div class="id">
							<!-- {{ idx+1}}) -->
							<mat-checkbox (change)="checkedRow(idx, $event)" formControlName="checkbox"></mat-checkbox>
						</div>

						<div>
							<mat-form-field class="example-full-width">
								<mat-label>Item Code</mat-label>
								<input matInput autofocus="*ngIf=idx === 1" type="text" formControlName="product_code" />
							</mat-form-field>
						</div>
						<div>
							<mat-form-field class="example-full-width">
								<input matInput type="text" formControlName="notes" placeholder="Item description" />
							</mat-form-field>
						</div>

						<div>
							<mat-form-field class="example-full-width">
								<mat-label>Qty(max 1000)</mat-label>
								<input matInput type="number" formControlName="quantity" />
								<mat-icon matSuffix (click)="openCurrencyPad(idx)">view_comfy</mat-icon>
							</mat-form-field>
						</div>
					</ng-container>
				</div>
			</div>

			<div class="add-item">
				<div *ngIf="!customerAdded; else elseBlock" style="align-self: left;">
					<mat-form-field class="example-full-width">
						<mat-label>Search Customer</mat-label>

						<input matInput type="text" readonly formControlName="customer" />
						<mat-icon matSuffix (click)="showAllCustomersComp()" style="cursor: pointer;">search</mat-icon>
					</mat-form-field>
				</div>

				<div>
					<mat-form-field class="example-full-width">
						<mat-label>Remarks (Optional)</mat-label>
						<input matInput type="text" formControlName="remarks" />
					</mat-form-field>
				</div>
			</div>

			<div class="submit">
				<button mat-raised-button color="primary" type="submit" name="action" class="cursor">
					Add Enquiry
				</button>
			</div>
		</div>
	</form>

	<ng-template #elseBlock>
		<div class="elseblock">
			<div style="font-size: 12px; color: #797979;">
				Customer Name &nbsp;&nbsp;<span style="font-size: 12px; color: rgb(13, 13, 190);" (click)="showAllCustomersComp()">[Change]</span>
			</div>
			{{customerData.name}}
		</div>
	</ng-template>
</ion-content>
