.screen-header {
	display: flex;
	font-weight: 400;
	padding: 10px;
	width: 100%;
	font-size: 14px;
}

// Notes: How to center absolute div horizontally using CSS?
.enq-form {
	display: grid;
	align-content: flex-start;
	width: 90%;

	left: 0;
	right: 0;

	margin-left: auto;
	margin-right: auto;
	max-height: 420px;

	border: 0px solid red;
	overflow-y: auto;
	overscroll-behavior-y: auto;

	// snap helps to keep the lastest added row visible
	scroll-snap-type: y proximity;
	scroll-snap-points-y: repeat(420px);
	position: absolute;
	// padding-bottom: 8px;
}

// snap helps to keep the lastest added row visible
// .enq-form > div > div:last-child {
// 	scroll-snap-align: end;
// 	// scroll-padding: 0 0 50px 0;
// }

.enq-form > div:last-child {
	scroll-snap-align: end;
	// scroll-padding: 0 0 50px 0;
}

.submit {
	justify-content: center;
	align-self: center;
}

.item-details {
	display: grid;
	grid-template-columns: 40px 40px 120px 1fr minmax(120px, 150px);
	align-items: center;
	grid-gap: 10px;
	padding-left: 12px;
	padding-right: 12px;
}

.example-full-width {
	width: 100%;
}

.remarks-txtarea {
	width: 400px;
}

.save-btn {
	width: 400px;
}

.id {
	font-size: 14px;
}

.add-item {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	padding: 10px;

	grid-gap: 30px;
	color: darkblue;
	font-size: 18px;
}

.list-block {
	display: grid;

	overflow-y: auto;
	border: 0px solid red;
}

.elseblock {
	display: grid;
	justify-self: left;
	align-items: center;
}

.content {
	display: flex;
	justify-content: space-between;

	width: 100%;
	margin: 0 auto;
}

.customer {
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr 1fr;
	padding-bottom: 10px;
	width: 100%;
}

.cust-info {
	display: grid;
	align-self: center;
	font-size: 12px;
	justify-content: left;
	padding-left: 10px;
}

.actn-row {
	display: grid;
	grid-template-columns: 40px 40px 120px 1fr minmax(120px, 150px);
	align-items: center;
	grid-gap: 10px;

	background-color: lightgrey;
	padding: 3px;

	width: 90%;
	margin: 0 auto;
	border-top: 0px solid #dfdfdf;
	border-bottom: 0px solid #dfdfdf;
	margin-bottom: 1px;
	margin-top: 5px;
}

.items {
	margin-right: auto;
}

.itms-lbl {
	color: #797979;
	font-size: 14px;
}

//@extend
.main-add {
	display: grid;
	grid-template-columns: 200px 1fr minmax(80px, 100px) 150px;
	align-items: center;
	grid-gap: 10px;
}

.small-icon-button {
	width: 42px !important;
	height: 42px !important;
	line-height: 42px !important;

	.mat-icon {
		width: 32px !important;
		height: 32px !important;
		line-height: 28px !important;
	}
	.material-icons {
		font-size: 32px !important;
	}
}

.footer {
	display: flex;
	position: fixed;
	justify-content: space-around;
	bottom: 0px;

	width: 100%;
	height: auto;
	background-color: #ffffff;
	border-top: 1px solid #f1f1f1;
}

.enq-bottom {
	display: grid;
	position: fixed;

	bottom: 56px;

	width: 100%;
	padding: 0px 5%;
	height: auto;
	background-color: #ffffff;
}
