.screen-header {
	display: flex;
	margin-left: 80px;
	padding: 8px;
	font-size: 16px;
	font-weight: 500;
	color: #222222;
	background-color: rgb(250, 250, 250);
	justify-content: space-between;
}

.enq-form {
	display: grid;
	width: calc(100% - 80px);
	margin-left: 80px;
	padding-top: 20px;
}

.e-form {
	display: grid;
	width: 80%;
	margin: 0 auto;
}

.save-enquiry {
	display: flex;
	height: 80px;
	justify-content: space-evenly;
	align-items: center;
}

.actn-btn-sec {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid rgb(230, 230, 230);
}

.add-remarks,
.add-items {
	display: flex;
	text-align: center;

	align-items: center;
	align-self: center;
}

.list-item {
	display: grid;
	max-height: 70vh;
	min-height: 70vh;
	overflow-y: auto;
}

.item-details {
	display: grid;
	grid-template-columns: 30px 1fr 200px 50px;
	align-items: center;
}

.styl-txt-box-small {
	width: 100px !important;
	border: 1px solid #d1d1d1;
	padding: 8px;
	// border-radius: 5px;
}

.example-full-width {
	width: 90%;
}

.remarks-txtarea {
	width: 400px;
}

.add-cust {
	width: 400px;
	display: flex;
}

.save-btn {
	width: 400px;
}

.add-items-lbl,
.add-cust-lbl {
	align-self: center;
	font-size: 18px;
}

.id {
	font-size: 14px;
}

#theItem:focus {
	border-bottom-color: red;
}

.o-form {
	display: flex;
	text-align: left;
	font-size: 20px;
	color: #222222;
	padding: 10px;
}

.o-form {
	display: flex;
	justify-content: space-between;
}

.add-item {
	text-align: center;
	padding: 10px;

	border: 1px solid rgb(83, 83, 85);
	color: darkblue;
	font-size: 18px;
}
