<ion-content>
	<div class="screen-header">
		<div>
			<span style="color: #310ac0; cursor: pointer;" (click)="openEnquiry()">Inquiry Dashboard</span> /
			<span style="color: #797979;">Add Inquiry</span>
		</div>
		<div>
			&nbsp;
		</div>
	</div>

	<form [formGroup]="submitForm" #myForm="ngForm">
		<ng-container *ngIf="getLength() !== 0">
			<div class="actn-row">
				<div>&nbsp;</div>
				<div style="cursor: pointer; text-align: center;">
					<img src="/assets/images/svg/trash.svg" width="18px" height="18px" *ngIf="showDelIcon" (click)="onRemoveRows()" />
					<span class="itms-lbl" *ngIf="showDelIcon" (click)="onRemoveRows()"></span>
				</div>
				<div class="itms-lbl">Item Code</div>
				<div class="itms-lbl">Item Description</div>

				<div class="itms-lbl">
					Qty
				</div>
			</div>
		</ng-container>

		<ng-container *ngIf="getLength() === 0">
			<div style="display: grid; place-items: center; padding-top: 2rem;">
				<div style="color: #333333;"><h4>Inquiry cart</h4></div>
				<div style="color: #666666;">There are no items in your Inquiry cart</div>
			</div>
		</ng-container>

		<div class="enq-form">
			<ng-container *ngIf="getLength() !== 0">
				<div formArrayName="productarr" class="list-block">
					<div class="item-details" *ngFor="let product of productarr.controls; let idx = index">
						<ng-container [formGroupName]="idx">
							<div>
								{{idx + 1}}
							</div>
							<div class="id">
								<mat-checkbox (change)="checkedRow(idx, $event)" formControlName="checkbox"></mat-checkbox>
							</div>

							<div>
								<mat-form-field class="example-full-width">
									<input matInput type="text" formControlName="product_code" />
								</mat-form-field>
							</div>
							<div>
								<mat-form-field class="example-full-width" floatLabel="never">
									<input matInput type="text" formControlName="notes" placeholder="Item description" />
									<mat-error *ngIf="product.controls.notes.hasError('required')">
										Item description required
									</mat-error>
								</mat-form-field>
							</div>

							<div>
								<mat-form-field class="example-full-width" floatLabel="never">
									<input matInput type="number" formControlName="quantity" />
									<mat-error *ngIf="product.controls.quantity.hasError('required')">
										Quantity required
									</mat-error>
								</mat-form-field>
							</div>
						</ng-container>
					</div>
				</div>
			</ng-container>
		</div>

		<div class="enq-bottom">
			<mat-card style="background-color: #eee;">
				<div class="customer">
					<div>
						<mat-form-field class="example-full-width" style="padding-right: 10px;">
							<input matInput [matAutocomplete]="auto" formControlName="customerctrl" #typehead1 autofocus required matTooltipPosition="after" />
							<mat-placeholder class="placeholder">Select Customer</mat-placeholder>
							<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
								<mat-icon>close</mat-icon>
							</button>

							<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="setCustomerInfo($event, 'click')">
								<mat-option *ngIf="isCLoading" class="is-loading"><mat-spinner diameter="20"></mat-spinner></mat-option>
								<ng-container *ngIf="!isCLoading">
									<mat-option *ngFor="let customer of customer_lis" [value]="customer">
										<span>{{ customer.name }} </span>
									</mat-option>
								</ng-container>
							</mat-autocomplete>
							<mat-error *ngIf="submitForm.controls['customerctrl'].hasError('required')">
								Please enter a value
							</mat-error>
							<mat-error *ngIf="submitForm.controls['customerctrl'].hasError('incorrect')">
								Please select a valid project
							</mat-error>
						</mat-form-field>
					</div>
					<div class="cust-info">
						<div *ngIf="iscustomerselected">
							<div>
								<span>Address1:&nbsp;</span>
								<span>{{address1 | nullna}}</span>
							</div>
							<div>
								<span>Address2:&nbsp;</span>
								<span>{{address2 | nullna}}</span>
							</div>
						</div>
					</div>
					<div class="cust-info" style="justify-content: center;">
						<div *ngIf="iscustomerselected">
							<div>
								<span>District:&nbsp;</span>
								<span>{{district | nullna}}</span>
							</div>
							<div>
								<span>GST:&nbsp;</span>
								<span>{{gst | nullna}}</span>
							</div>
						</div>
					</div>

					<div class="cust-info">
						<div *ngIf="iscustomerselected">
							<div>
								<span>Phone:&nbsp;</span>
								<span>{{phone | nullna}}</span>
							</div>
							<div>
								<span>Whatsapp:&nbsp;</span>
								<span>{{gst | nullna}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="main-add">
					<div>
						<mat-form-field class="example-full-width">
							<input matInput [matAutocomplete]="auto1" formControlName="productctrl" #typehead #plist matTooltipPosition="after" />
							<mat-placeholder class="placeholder">Select Item Code</mat-placeholder>
							<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearProdInput()">
								<mat-icon>close</mat-icon>
							</button>

							<mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayProdFn" (optionSelected)="setItemDesc($event, 'click')">
								<mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="20"></mat-spinner></mat-option>
								<ng-container *ngIf="!isLoading">
									<mat-option *ngFor="let product of product_lis" [value]="product">
										<span>{{ product.product_code }} </span>
									</mat-option>
								</ng-container>
							</mat-autocomplete>

							<mat-error *ngIf="submitForm.controls['productctrl'].hasError('incorrect')">
								Invalid product code
							</mat-error>
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="example-full-width">
							<input matInput type="text" formControlName="tempdesc" required />
							<mat-placeholder class="placeholder">Item description</mat-placeholder>
							<mat-error *ngIf="submitForm.controls['tempdesc'].hasError('required')">
								Please enter a value
							</mat-error>
						</mat-form-field>
					</div>

					<div>
						<mat-form-field class="example-full-width">
							<mat-label>Qty</mat-label>
							<input matInput type="number" min="1" max="1000" formControlName="tempqty" required />
							<mat-hint matTooltip="Info about the action">Hint: Max 1000</mat-hint>
						</mat-form-field>
					</div>
					<div>
						<button mat-stroked-button color="primary" (click)="add()">+ New Row</button>
					</div>
				</div>
			</mat-card>
		</div>

		<ng-container>
			<div class="footer">
				<div>
					<mat-form-field style="width: 320px;">
						<mat-label>Remarks (Optional)</mat-label>
						<input matInput type="text" formControlName="remarks" />
					</mat-form-field>
				</div>
				<div class="submit">
					<span class="itms-lbl">Showing {{productarr.controls.length || 0}} Items</span>&nbsp;
					<button
						appPreventDoubleClick
						class="cursor"
						(throttledClick)="presentAlertConfirm()"
						[throttleTime]="500"
						mat-stroked-button
						color="primary"
					>
						Clear All</button
					>&nbsp;
					<button appPreventDoubleClick class="cursor" (throttledClick)="onSubmit()" [throttleTime]="500" mat-raised-button color="primary">
						Add Inquiry
					</button>
				</div>
			</div>
		</ng-container>
	</form>

	<!-- <ng-template #elseBlock>
		<div class="elseblock">
			<div style="font-size: 12px; color: #797979;">
				Customer Name &nbsp;&nbsp;<span style="font-size: 12px; color: rgb(13, 13, 190);" (click)="showAllCustomersComp()">[Change]</span>
			</div>
			{{customerData.name}}
		</div>
	</ng-template> -->
</ion-content>
