<!-- @format -->

<div class="content">
	<div class="pinfo">
		<div>
			Product Info
		</div>
		<div (click)="editProduct()">
			+ Edit Product
		</div>
		<div (click)="addProduct()">
			+ Add Product
		</div>
	</div>
	<div class="main-info">
		<div class="code">
			<div class="sitem1">Code</div>
			<div class="sitem2">{{productinfo.product_code || 'N/A'}}</div>
		</div>
		<div class="desc">
			<div class="sitem1">Description</div>
			<div class="sitem2">{{productinfo.description || 'N/A'}}</div>
		</div>
		<div class="altcode">
			<div class="sitem1">Alternate Code</div>
			<div class="sitem2">{{productinfo.alternatecode || 'N/A'}}</div>
		</div>
		<div class="vendor-info">
			<div class="sitem1">Alternate Code</div>
			<div class="sitem2">{{productinfo.vendor_name || 'N/A'}}</div>
		</div>
	</div>
	<br />
	<div class="addl-info1">
		<div class="item1">
			<div class="sitem1">UOM</div>
			<div class="sitem2">{{productinfo.unit || 'N/A'}}</div>
		</div>
		<div class="item2">
			<div class="sitem1">Packet Size</div>
			<div class="sitem2">{{productinfo.packetsize || 'N/A'}}</div>
		</div>
		<div class="item3">
			<div class="sitem1">HSN Code</div>
			<div class="sitem2">{{productinfo.hsncode || 'N/A'}}</div>
		</div>
		<div class="item4">
			<div class="sitem1">Tax Rate</div>
			<div class="sitem2">{{productinfo.taxrate || 'N/A'}}</div>
		</div>
		<div class="item5">
			<div class="sitem1">Min Qty</div>
			<div class="sitem2">{{productinfo.minqty || 'N/A'}}</div>
		</div>
	</div>
	<br />
	<div class="addl-info2">
		<div class="item1">
			<div class="sitem1">Unit/Price</div>
			<div class="sitem2">{{productinfo.unit_price || 'N/A'}}</div>
		</div>
		<div class="item2">
			<div class="sitem1">Mrp</div>
			<div class="sitem2">{{productinfo.mrp || 'N/A'}}</div>
		</div>
		<div class="item3">
			<div class="sitem1">Purchase Price</div>
			<div class="sitem2">{{productinfo.purchaseprice || 'N/A'}}</div>
		</div>
		<div class="item4">
			<div class="sitem1">Sale Price</div>
			<div class="sitem2">{{productinfo.salesprice || 'N/A'}}</div>
		</div>
		<div class="item5">
			<div class="sitem1">Max Disc</div>
			<div class="sitem2">{{productinfo.maxdiscount || 'N/A'}}</div>
		</div>
	</div>
</div>
