.heading {
	padding: 10px;
	font-size: 20px;
	color: #222222;
	font-weight: 500;
}

.add-prod-wrap {
	display: grid;
	grid-template-rows: 60px 30px 60px 1fr 60px;
	min-height: 100%;

	.row1 {
		display: grid;
		grid-template-columns: 1fr 40px;
		padding-left: 41px;
		padding-right: 20px;
		padding-top: 12px;

		.close {
			display: grid;
			justify-content: center;
			align-self: center;
		}
	}
	.header-row {
		display: grid;
		grid-template-columns: 40px 1fr 100px 100px 100px;
		border-bottom: 1px solid #0a0a0a;
		width: 90%;
		padding: 16px 10px 10px 10px;
		max-height: 44px;
		justify-self: center;
		align-items: center;
	}

	.row2 {
		display: grid;
		overflow-y: auto;
		overflow-x: hidden;
		align-content: flex-start;

		// max-height: 500px;

		// .header-row {
		// 	display: grid;
		// 	grid-template-columns: 40px 1fr 100px 100px 50px;
		// 	border-bottom: 1px solid #0a0a0a;
		// 	width: 90%;
		// 	padding: 16px 10px 10px 10px;
		// 	max-height: 44px;
		// 	justify-self: center;
		// 	align-items: center;
		// }

		.list-item {
			display: grid;
			grid-template-columns: 40px 1fr 100px 100px 100px;
			align-self: center;
			padding: 10px;
			// border-bottom: 1px solid rgb(179, 179, 179);
			// border-radius: 5px;
			// margin: 12px 0px;
			width: 90%;
			justify-self: center;
			align-items: center;
			max-height: 50px;
			transition: 0.3s;
		}
	}
	.row3 {
		display: flex;
		justify-content: space-between;

		.scan {
			width: 240px;
			align-self: center;
		}
	}
}

// resize ion-searchbar dnd
// ion-searchbar {
// 	transform: scale(1.2); // Can also scale individually with scaleX() and scaleY()
// 	margin: 0 auto;
// 	width: 80%; // To avoid pixelate effect that occurs with scaling
// }

.scan-btn {
	width: 150px;
	text-align: center;
	padding: 8px;
	border-radius: 5px;
	color: rgb(236, 37, 37);
	border: 1px solid rgb(236, 37, 37);
}

.row-cnt {
	align-self: center;
	padding: 5px;
}

.desc-styl {
	font-size: 14px;
	opacity: 0.7;
}

.list-item:hover {
	background-color: #c7c4d7;
	opacity: 1;
}

.screen-header {
	display: flex;
	margin-left: 80px;
	padding: 8px;
	font-size: 16px;
	font-weight: 500;
	color: #222222;
	background-color: rgb(250, 250, 250);
	justify-content: space-between;
}

.found {
	font-size: 14px;
	color: grey;
	font-weight: 400;
	padding: 0px 10px;
}

.head {
	display: flex;
	justify-content: flex-start;
	padding-top: 10px;
}

.add-btn {
	margin-left: auto;
	align-items: center;
}

.content {
	display: grid;
	width: 94%;
	margin: 0 auto;
	padding: 16px;
}

.row1 {
	display: grid;
	grid-template-columns: 1fr 200px;
}
.actions {
	align-self: center;
	justify-self: center;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 0px 0px 10px 0px;
	font-size: 20px;
	color: #222222;
}

.center-message {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

tr.example-element-row:not(.example-expanded-row):hover {
	background: #f2f2f2;
}

tr.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
}

table {
	width: 100%;
}

td.mat-column-actions {
	width: 20px;
	padding-right: 8px !important;
}

.mat-row {
	&:hover {
		background-color: #e9f3ff;
	}
	a {
		color: #3e75ff;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.mat-icon {
	color: #3e75ff;
}

@media screen and (max-width: 960px) {
	#sino {
		display: none;
	}

	.mat-elevation-z8 {
		background: transparent;
		box-shadow: none;
	}

	.mat-header-row {
		display: none;
	}

	tbody {
		display: block;
		width: 100%;
	}

	.mat-table {
		background: transparent;
		* {
			box-sizing: border-box;
		}

		.mat-row {
			display: block;
			overflow: hidden;
			height: auto;
			position: relative;
			clear: both;
			box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
			background-color: #fff;
			border-radius: 3px;
			+ .mat-row {
				margin-top: 24px;
			}
		}

		.mat-cell {
			display: block;
			width: 100%;
			padding: 0 16px;
			margin: 16px 0;
			border: 0 none;
			&:first-child {
				padding: 0 48px 0 16px;
				a {
					font-size: 20px;
					// font-weight: 400;
					color: inherit;
				}
				&:before {
					display: none;
				}
			}
			&.m-card-sub-title {
				margin-top: -8px;
				padding: 0 48px 0 16px;
				color: rgba(0, 0, 0, 0.54);
			}
		}

		.has_label_on_mobile {
			&:before {
				content: attr(data-label);
				display: inline;
				font-weight: normal;
			}
		}

		.mat-column-actions {
			width: auto;
			padding: 8px 0 0 !important;
			margin: 0;
			position: absolute;
			top: 0;
			right: 0;
			&:before {
				display: none;
			}
		}
	}

	.mat-paginator {
		margin-top: 24px;
	}
}
