.content {
	display: grid;
	width: 80%;
	margin: 0 auto;
}

.main-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.addl-info1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding: 10px;
}

.addl-info2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding: 10px;
}

.pinfo {
	padding: 10px 0px;
	font-size: 20px;
	font-weight: 500;
	color: #222222;
	display: flex;
	justify-content: space-between;
}

.code,
.desc,
.vendor-info,
.altcode {
	padding: 10px;
}

.sitem1 {
	color: #797979;
	font-size: 12px;
}

.addl-info1,
.addl-info2 {
	border: 1px solid #e2e2e2;
	border-radius: 10px;
}

.heading {
	padding: 10px;
	font-size: 20px;
	color: #222222;
	font-weight: 500;
}

.add-prod-wrap {
	display: grid;
	grid-template-rows: 60px 30px 60px 1fr 60px;
	min-height: 100%;

	.row1 {
		display: grid;
		grid-template-columns: 1fr 40px;
		padding-left: 41px;
		padding-right: 20px;
		padding-top: 12px;

		.close {
			display: grid;
			justify-content: center;
			align-self: center;
		}
	}
	.header-row {
		display: grid;
		grid-template-columns: 40px 1fr 100px 100px;
		border-bottom: 1px solid #0a0a0a;
		width: 90%;
		padding: 16px 10px 10px 10px;
		max-height: 44px;
		justify-self: center;
		align-items: center;
	}

	.row2 {
		display: grid;
		overflow-y: auto;
		overflow-x: hidden;
		align-content: flex-start;

		// max-height: 500px;

		// .header-row {
		// 	display: grid;
		// 	grid-template-columns: 40px 1fr 100px 100px 50px;
		// 	border-bottom: 1px solid #0a0a0a;
		// 	width: 90%;
		// 	padding: 16px 10px 10px 10px;
		// 	max-height: 44px;
		// 	justify-self: center;
		// 	align-items: center;
		// }

		.list-item {
			display: grid;
			grid-template-columns: 40px 1fr 100px 100px;
			align-self: center;
			padding: 10px;
			// border-bottom: 1px solid rgb(179, 179, 179);
			// border-radius: 5px;
			// margin: 12px 0px;
			width: 90%;
			justify-self: center;
			align-items: center;
			max-height: 50px;
			transition: 0.3s;
		}
	}
	.row3 {
		display: flex;
		justify-content: space-between;

		.scan {
			width: 240px;
			align-self: center;
		}
	}
}

// resize ion-searchbar dnd
// ion-searchbar {
// 	transform: scale(1.2); // Can also scale individually with scaleX() and scaleY()
// 	margin: 0 auto;
// 	width: 80%; // To avoid pixelate effect that occurs with scaling
// }

.scan-btn {
	width: 150px;
	text-align: center;
	padding: 8px;
	border-radius: 5px;
	color: rgb(236, 37, 37);
	border: 1px solid rgb(236, 37, 37);
}

.row-cnt {
	align-self: center;
	padding-left: 50px;
}

.desc-styl {
	font-size: 14px;
	opacity: 0.7;
}

.list-item:hover {
	background-color: #c7c4d7;
	opacity: 1;
}

.screen-header {
	display: flex;
	margin-left: 80px;
	padding: 8px;
	font-size: 16px;
	font-weight: 500;
	color: #222222;
	background-color: rgb(250, 250, 250);
	justify-content: space-between;
}

.found {
	font-size: 14px;
	color: grey;
	font-weight: 400;
	padding: 0px 10px;
}

.head {
	display: flex;
	justify-content: flex-start;
	padding-top: 50px;
}

.add-btn {
	margin-left: auto;
	align-items: center;
}
