.heading {
	font-size: 20px;
	color: #222222;
	font-weight: 500;
}

// resize ion-searchbar dnd
// ion-searchbar {
// 	transform: scale(1.2); // Can also scale individually with scaleX() and scaleY()
// 	margin: 0 auto;
// 	width: 80%; // To avoid pixelate effect that occurs with scaling
// }

.scan-btn {
	width: 150px;
	text-align: center;
	padding: 8px;
	border-radius: 5px;
	color: rgb(236, 37, 37);
	border: 1px solid rgb(236, 37, 37);
}

.row-cnt {
	align-self: center;
	padding: 5px;
}

.desc-styl {
	font-size: 14px;
	opacity: 0.7;
}

.list-item:hover {
	background-color: #c7c4d7;
	opacity: 1;
}

.screen-header {
	display: flex;
	margin-left: 80px;
	padding: 8px;
	font-size: 16px;
	font-weight: 500;
	color: #222222;
	background-color: rgb(250, 250, 250);
	justify-content: space-between;
}

.found {
	font-size: 14px;
	color: grey;
	font-weight: 400;
	padding: 0px 10px;
}

.head {
	display: flex;
	justify-content: flex-start;
}

.add-btn {
	margin-left: auto;
	align-items: center;
}

.content {
	display: grid;
	width: 100%;
	margin: 0 auto;
	padding: 0px 16px;
}

.row1 {
	display: flex;
	justify-content: flex-start;
	width: 90%;
}

.center-message {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

tr.example-element-row:not(.example-expanded-row):hover {
	background: #f2f2f2;
}

tr.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
}

table {
	width: 100%;
}

td.mat-column-actions {
	width: 20px;
	padding-right: 8px !important;
}

.mat-row {
	&:hover {
		background-color: #e9f3ff;
	}
	a {
		color: #3e75ff;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.mat-icon {
	color: #3e75ff;
}

@media screen and (max-width: 960px) {
	#sino {
		display: none;
	}

	.mat-elevation-z8 {
		background: transparent;
		box-shadow: none;
	}

	.mat-header-row {
		display: none;
	}

	tbody {
		display: block;
		width: 100%;
	}

	.mat-table {
		background: transparent;
		* {
			box-sizing: border-box;
		}

		.mat-row {
			display: block;
			overflow: hidden;
			height: auto;
			position: relative;
			clear: both;
			box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
				0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
			background-color: #fff;
			border-radius: 3px;
			+ .mat-row {
				margin-top: 24px;
			}
		}

		.mat-cell {
			display: block;
			width: 100%;
			padding: 0 16px;
			margin: 16px 0;
			border: 0 none;
			&:first-child {
				padding: 0 48px 0 16px;
				a {
					font-size: 20px;
					// font-weight: 400;
					color: inherit;
				}
				&:before {
					display: none;
				}
			}
			&.m-card-sub-title {
				margin-top: -8px;
				padding: 0 48px 0 16px;
				color: rgba(0, 0, 0, 0.54);
			}
		}

		.has_label_on_mobile {
			&:before {
				content: attr(data-label);
				display: inline;
				font-weight: normal;
			}
		}

		.mat-column-actions {
			width: auto;
			padding: 8px 0 0 !important;
			margin: 0;
			position: absolute;
			top: 0;
			right: 0;
			&:before {
				display: none;
			}
		}
	}

	.mat-paginator {
		margin-top: 24px;
	}
}

.search_bar {
	font-size: 18px;
	width: 25rem;
	height: 3rem;
	border: none;
	outline: none;
	border-radius: 10rem;
	border: 2px solid #5c5cde;
	box-shadow: 0 6px 12px rgba(blue, 0.14);
	padding: 1rem;
	position: relative;
	transition: all 0.2s;
	transition-delay: 0.1s;
}

.search_bar:hover {
	width: 26rem;
	height: 3.5rem;
}

.button {
	height: 20px;
	position: absolute;
	top: 14px;
	right: 18px;
	transition: all 0.3s;
	transition-delay: 0.1s;
}

.button:hover {
	cursor: pointer;
}

.search_bar:hover + .button {
	height: 22px;
	top: 16px;
	right: 0;
}

.search_bar::placeholder {
	opacity: 0.5;
}

.container {
	width: 25rem;
	height: 100%;
	margin: 0 1rem;
	position: relative;
	margin: 10px 24px 10px 24px;
}

.full-download {
	padding-top: 7px;
	background-color: aliceblue;
	padding-left: 16px;
	padding-right: 16px;
}

.full-download:hover {
	cursor: pointer;
	background-color: rgb(197, 227, 254);
}
