<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
	<div class="screen-header"><span style="font-size: 18px">New Purchase Order</span></div>

	<form [formGroup]="submitForm">
		<div class="vendor">
			<div>
				<mat-form-field class="example-full-width">
					<mat-label>Select or Add Vendor</mat-label>
					<input
						matInput
						[matAutocomplete]="auto"
						formControlName="vendorctrl"
						[readOnly]="vendorselected"
						#typehead1
						required
						matTooltipPosition="after"
						tabindex="1"
						[attr.disabled]="vendorselected?'true':null"
					/>
					<button mat-button matSuffix mat-icon-button type="button" (click)="clearInput()">
						<mat-icon>close</mat-icon>
					</button>
					<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="setVendorInfo($event, 'click')">
						<mat-option *ngIf="isVLoading" class="is-loading"><mat-spinner diameter="20"></mat-spinner></mat-option>
						<ng-container *ngIf="!isVLoading">
							<mat-option *ngFor="let vendor of vendor_lis" [value]="vendor">
								<span>{{ vendor.name }} </span>
							</mat-option>
							<mat-option style="background-color: #f2f2f2" value="new">+ New Vendor</mat-option>
						</ng-container>
					</mat-autocomplete>
					<mat-error *ngIf="submitForm.controls['vendorctrl'].hasError('required')"> Please enter a value </mat-error>
					<mat-error *ngIf="submitForm.controls['vendorctrl'].hasError('incorrect')"> Please select a valid vendor </mat-error>
				</mat-form-field>
				<div *ngIf="vendorselected" style="display: flex; justify-content: space-between">
					<span style="font-weight: 500; font-size: 14px">VENDOR ADDRESS</span>
					<span (click)="openDialog($event)" style="font-size: 12px; color: #310ac0; cursor: pointer">View Vendor Details</span>
				</div>

				<div>
					<div *ngIf="vendorselected" style="font-size: 12px; color: #666666">
						<div style="padding: 0.5rem 0.5rem 0.5rem 0px">
							<div>{{vendordata.address1 | nullquote}}</div>
							<div>{{vendordata.address2 | nullquote}}</div>

							<div>{{vendordata.state | nullquote}}</div>
							<div>{{vendordata.pin | nullquote}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vendor-left">
				<div>
					<mat-form-field class="mat-input-wrapper">
						<mat-label>Invoice #</mat-label>
						<input matInput type="text" #invno formControlName="invoiceno" required />

						<mat-error
							*ngIf="(submitForm.get('invoiceno').hasError('required') || submitForm.get('invoiceno').hasError('patternInvalid'))  && submitForm.get('invoiceno').touched"
						>
							Invalid (or) Missing entry
						</mat-error>
					</mat-form-field>
				</div>

				<div>
					<mat-form-field class="mat-input-wrapper">
						<mat-label>Invoice date</mat-label>
						<input
							matInput
							formControlName="invoicedate"
							[matDatepicker]="picker1"
							(focus)="picker1.open()"
							[max]="maxDate"
							(dateChange)="invoiceDateSelected($event)"
							required
						/>
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>

						<mat-error
							*ngIf="(submitForm.get('invoicedate').hasError('required') || submitForm.get('invoicedate').hasError('patternInvalid'))  && submitForm.get('invoicedate').touched"
						>
							Invalid (or) Missing entry
						</mat-error>
					</mat-form-field>
				</div>

				<div>
					<mat-form-field class="mat-input-wrapper">
						<mat-label>Order #</mat-label>
						<input matInput #orderno type="text" formControlName="orderno" />

						<mat-error
							*ngIf="(submitForm.get('orderno').hasError('required') || submitForm.get('orderno').hasError('patternInvalid'))  && submitForm.get('orderno').touched"
						>
							Invalid (or) Missing entry
						</mat-error>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field class="mat-input-wrapper">
						<mat-label>Order date</mat-label>
						<input matInput readonly [matDatepicker]="pickerod" formControlName="orderdate" (focus)="pickerod.open()" [max]="maxOrderDate" />
						<mat-datepicker-toggle matSuffix [for]="pickerod"></mat-datepicker-toggle>
						<mat-datepicker #pickerod></mat-datepicker>
					</mat-form-field>
				</div>

				<div>
					<mat-form-field class="mat-input-wrapper">
						<mat-label>Lr #</mat-label>
						<input matInput #lrno type="text" formControlName="lrno" />

						<mat-error
							*ngIf="(submitForm.get('lrno').hasError('required') || submitForm.get('lrno').hasError('patternInvalid'))  && submitForm.get('lrno').touched"
						>
							Invalid (or) Missing entry
						</mat-error>
					</mat-form-field>
				</div>

				<div>
					<mat-form-field class="mat-input-wrapper">
						<mat-label>Lr date</mat-label>
						<input matInput readonly [matDatepicker]="pickerlr" (focus)="pickerlr.open()" formControlName="lrdate" [max]="maxDate" />
						<mat-datepicker-toggle matSuffix [for]="pickerlr"></mat-datepicker-toggle>
						<mat-datepicker #pickerlr></mat-datepicker>
					</mat-form-field>
				</div>

				<div>
					<mat-form-field class="mat-input-wrapper">
						<mat-label>Received Date</mat-label>
						<input matInput readonly [matDatepicker]="pickerrcvd" formControlName="orderrcvddt" (focus)="pickerrcvd.open()" [max]="maxDate" />
						<mat-datepicker-toggle matSuffix [for]="pickerrcvd"></mat-datepicker-toggle>
						<mat-datepicker #pickerrcvd></mat-datepicker>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field class="mat-input-wrapper">
						<mat-label># of Boxes</mat-label>
						<input matInput type="number" formControlName="noofboxes" />
						<!-- <mat-icon matSuffix (click)="openNumberPad('noofboxes')">view_comfy</mat-icon> -->
					</mat-form-field>
				</div>
				<div>
					<mat-form-field class="mat-input-wrapper">
						<mat-label>Transportation Cost</mat-label>
						<input matInput type="number" formControlName="transport_charges" />
						<!-- <mat-icon matSuffix (click)="openNumberPad('transport_charges')">view_comfy</mat-icon> -->
					</mat-form-field>
				</div>

				<div>
					<mat-form-field class="mat-input-wrapper">
						<mat-label>Unloading Cost</mat-label>
						<input matInput type="number" formControlName="unloading_charges" />
						<!-- <mat-icon matSuffix (click)="openNumberPad('unloading_charges')">view_comfy</mat-icon> -->
					</mat-form-field>
				</div>

				<div>
					<mat-form-field class="mat-input-wrapper">
						<mat-label>Misc Cost</mat-label>
						<input matInput type="number" formControlName="misc_charges" />
						<!-- <mat-icon matSuffix (click)="openNumberPad('misc_charges')">view_comfy</mat-icon> -->
					</mat-form-field>
				</div>
			</div>
		</div>

		<ng-container *ngIf="!vendorselected">
			<div style="display: grid; place-items: center; padding: 2rem 2rem">
				<div style="color: #333333"><h4>Vendor not selected</h4></div>
				<div style="color: #666666">Select vendor & start adding items to purchase cart</div>
			</div>
		</ng-container>

		<div class="purchase-wrap" *ngIf="vendorselected">
			<div class="wrap">
				<div class="acton-btns">
					<img class="cursor" src="/assets/svg/trash.svg" width="16px" height="16px" *ngIf="showDelIcon" (click)="presentDeleteConfirm()" />
					<span class="sub-menu cursor" style="color: blue" *ngIf="showDelIcon" (click)="presentDeleteConfirm()">Delete</span>
				</div>

				<div class="acton-btns">
					<img class="cursor" src="/assets/svg/edit.svg" width="16px" height="16px" *ngIf="singleRowSelected" (click)="editTax()" /><span
						class="sub-menu cursor"
						style="color: blue"
						*ngIf="singleRowSelected"
						(click)="editTax()"
						>Tax</span
					>
				</div>
				<div class="acton-btns">
					<img class="cursor" src="/assets/svg/edit.svg" width="16px" height="16px" *ngIf="singleRowSelected" (click)="editMrp()" />
					<span class="sub-menu cursor" style="color: blue" *ngIf="singleRowSelected" (click)="editMrp()">Mrp</span>
				</div>
			</div>
			<div class="left">
				<div class="row1">
					<div class="item1 headstyl-left txt-center-align">#</div>
					<div class="item2 headstyl-left">Item Information</div>
					<div class="item3 headstyl-right">Qty</div>
					<div class="item3 headstyl-right">MRP</div>
					<div class="item4 headstyl-right">Tax %</div>
					<div class="item4 headstyl-right">Net Value</div>
				</div>
				<div class="row2">
					<ng-container *ngIf="listArr.length === 0 && vendorselected">
						<div style="display: grid; place-items: center; padding: 2rem 2rem">
							<div style="color: #333333"><h4>Purchase cart</h4></div>
							<div style="color: #666666">There are no items in your Purchase cart</div>
						</div>
					</ng-container>

					<!-- <ng-container *ngIf="!vendorselected">
						<div style="display: grid; place-items: center; padding: 2rem 2rem">
							<div style="color: #333333"><h4>Vendor not selected</h4></div>
							<div style="color: #666666">Select vendor & start adding items to purchase cart</div>
						</div>
					</ng-container> -->

					<div *ngIf="vendorselected;">
						<div *ngFor="let item of listArr ? listArr : []; let idx = index" class="list-item">
							<div class="txt-align">
								<!-- {{idx + 1}} -->
								<mat-checkbox #myCheckbox (click)="checkedRow(idx)"></mat-checkbox>
							</div>
							<div class="item2">
								{{item.product_code}}
								<div class="desc">{{item.product_desc}}</div>
							</div>

							<div class="item4">
								<mat-form-field (click)="openCurrencyPad(idx)" class="example-full-width">
									<input matInput type="number" value="{{item.qty}}" class="cursor" readonly />
									<mat-icon matSuffix>view_comfy</mat-icon>
								</mat-form-field>
							</div>

							<div class="item4 txt-right-align num-format-cell-style">{{item.mrp}}</div>

							<div class="item4 txt-right-align num-format-cell-style">{{item.taxrate}}</div>

							<div class="item4 txt-right-align num-format-cell-style">{{item.total_value}}</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main-add">
				<div class="left">
					<div>
						<mat-form-field class="example-full-width">
							<mat-label>Select Item Code</mat-label>
							<input
								matInput
								[matAutocomplete]="auto1"
								[readonly]="!vendorselected"
								formControlName="productctrl"
								#typehead
								#plist
								matTooltipPosition="after"
								tabindex="3"
							/>
							<mat-hint matTooltip="Add product">Hint: Type product code</mat-hint>

							<button mat-button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearProdInput()">
								<mat-icon>close</mat-icon>
							</button>

							<mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayProdFn" (optionSelected)="setItemDesc($event, 'click')">
								<mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="20"></mat-spinner></mat-option>
								<ng-container *ngIf="!isLoading">
									<mat-option
										*ngFor="let product of product_lis"
										[value]="product"
										style="padding-top: 15px; height: 3.3em !important; padding-bottom: 15px"
									>
										<div style="display: grid; grid-template-columns: 1fr 80px">
											<div>
												<div style="font-size: 15px; padding: 2px; line-height: 1em">
													{{ product.product_code }} &nbsp;&nbsp; <span style="color: blue">MRP: {{ product.mrp | currency: "INR"}}</span>
												</div>
												<div style="font-size: 14px; padding: 2px; line-height: 1em; color: grey">{{ product.description }}</div>
											</div>
											<div>
												<div style="font-size: 15px; padding: 2px; line-height: 1em; text-align: right; color: grey">{{ product.name }}</div>
												<div style="font-size: 14px; padding: 2px; line-height: 1em; text-align: right; color: blue">
													<span> <img src="/assets/svg/sales.svg" width="18px" height="18px" /></span>
													<span> &nbsp;{{ product.available_stock }} </span>
												</div>
											</div>
										</div>
									</mat-option>
								</ng-container>
							</mat-autocomplete>

							<mat-error *ngIf="submitForm.controls['productctrl'].hasError('incorrect')"> Invalid product code </mat-error>
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="example-full-width">
							<mat-label>Purchase Price</mat-label>
							<input matInput type="number" min="1" max="100000" formControlName="temppurchaseprice" required />

							<mat-error *ngIf="submitForm.controls['temppurchaseprice'].hasError('required')"> Required feild </mat-error>
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="example-full-width">
							<mat-label>Qty</mat-label>
							<input matInput type="number" min="1" max="1000" formControlName="tempqty" required />
							<mat-hint matTooltip="Info about the action">Hint: Max 1000</mat-hint>
						</mat-form-field>
					</div>
					<div>
						<button mat-stroked-button color="primary" tabindex="4" #newrow [disabled]="!vendorselected" type="button" (click)="add()">
							+ New Row
						</button>
					</div>
				</div>
				<div class="right">
					<div style="display: grid; grid-template-columns: 1fr 1fr">
						<div style="color: #666666; text-align: right; font-size: 14px"># Items</div>
						<div style="color: #666666; text-align: right; font-size: 14px">{{listArr.length}}</div>

						<div *ngIf="i_gst" style="color: #666666; text-align: right; font-size: 14px">IGST</div>
						<div style="color: #666666; text-align: right; font-size: 14px" *ngIf="i_gst">{{igstTotal}}</div>

						<div *ngIf="!i_gst" style="color: #666666; text-align: right; font-size: 14px">CGST</div>
						<div style="color: #666666; text-align: right; font-size: 14px" *ngIf="!i_gst">{{cgstTotal}}</div>

						<div *ngIf="!i_gst" style="color: #666666; text-align: right; font-size: 14px">SGST</div>
						<div style="color: #666666; text-align: right; font-size: 14px" *ngIf="!i_gst">{{sgstTotal}}</div>
					</div>
					<div>
						<div style="color: #666666; text-align: right; font-size: 14px">Total</div>
						<div style="text-align: right" class="align-self-center left-pad20 fsize32 fweight500">{{this.total | number:'1.2-2'}}</div>
					</div>
				</div>
			</div>

			<div class="purchase-wrap1"></div>
		</div>

		<ng-container>
			<div class="footer" *ngIf="vendorselected">
				<div>
					<div style="font-size: 12px; color: #797979">Net Total</div>
					<div style="font-size: 32px">{{getNetTotal()}}</div>
				</div>
				<div class="submit">
					<button
						appPreventDoubleClick
						class="cursor"
						(click)="presentCancelConfirm()"
						[throttleTime]="500"
						mat-stroked-button
						color="primary"
						type="button"
					>
						Cancel</button
					>&nbsp;
					<button
						*ngIf="(submitForm.get('status').value !== 'C' ) "
						style="border-radius: 0px"
						appPreventDoubleClick
						class="cursor"
						(throttledClick)="onSave('draft')"
						type="button"
						[throttleTime]="500"
						mat-stroked-button
						type="button"
						color="primary"
					>
						Save as Draft
					</button>
					&nbsp;
					<button
						style="border-radius: 0px"
						appPreventDoubleClick
						class="cursor"
						(throttledClick)="onSavenSubmit('add')"
						type="button"
						[throttleTime]="500"
						mat-raised-button
						type="button"
						color="primary"
					>
						<span *ngIf="breadmenu === 'New Sale'">Add to stock</span>
						<span *ngIf="breadmenu !== 'New Sale'">Update to stock</span>
					</button>
				</div>
			</div>
		</ng-container>
	</form>
</ion-content>
