<div class="screen-header">
	<div>Edit Product</div>
	<div>
		<img
			class="cursor"
			src="/assets/images/svg/close.svg"
			(click)="close()"
			width="20px"
			height="20px"
		/>
	</div>
</div>

<div class="content">
	<form [formGroup]="submitForm">
		<div>
			<mat-form-field class="mat-width-ext">
				<mat-label>Product Item Code</mat-label>
				<input
					matInput
					(blur)="isProdExists()"
					formControlName="product_code"
					required
				/>
				<mat-error>This field is required</mat-error>
			</mat-form-field>

			<div *ngIf="pexists" class="error">Already Exists</div>
		</div>
		<div>
			<mat-form-field class="mat-width-ext">
				<mat-label>Product Description</mat-label>
				<input matInput formControlName="description" required />
				<mat-error>This field is required</mat-error>
			</mat-form-field>
		</div>
		<div>
			<mat-form-field class="mat-width-ext">
				<mat-label>Product's Brand</mat-label>
				<mat-select formControlName="brand_id">
					<mat-option *ngFor="let item of brands$ | async" [value]="item.id">
						{{ item.name }}
					</mat-option>
				</mat-select>
				<mat-hint>ex. Swaraj, Sonalika</mat-hint>
				<mat-error>This field is required</mat-error>
			</mat-form-field>
		</div>
		<div
			style="
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 10px;
				padding-top: 16px;
			"
		>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>UOM</mat-label>
					<mat-select formControlName="unit">
						<mat-option *ngFor="let item of uom" [value]="item.key">
							{{ item.viewValue }}
						</mat-option>
					</mat-select>
					<mat-hint>Unit of measurement</mat-hint>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Pack Size</mat-label>
					<input type="number" matInput formControlName="packetsize" required />
					<mat-error>This field is required</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div
			style="
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 10px;
				padding-top: 16px;
			"
		>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>HSN Code</mat-label>
					<input type="text" matInput formControlName="hsncode" required />
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Tax Rate (%)</mat-label>
					<mat-select formControlName="taxrate">
						<mat-option *ngFor="let item of tax" [value]="item.key">
							{{ item.viewValue }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<!-- <mat-form-field class="mat-width-ext">
					<mat-label>Tax Rate</mat-label>
					<input
						type="number"
						matInput
						formControlName="taxrate"
						placeholder="Tax Rate"
						required
					/>
					<mat-error>This field is required</mat-error>
				</mat-form-field> -->
			</div>
		</div>
		<div
			style="
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 10px;
				padding-top: 16px;
			"
		>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Min. Qty</mat-label>
					<input matInput formControlName="minqty" required />
					<mat-error>This field is required</mat-error>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>MRP</mat-label>
					<input
						type="number"
						matInput
						formControlName="mrp"
						readonly
						required
					/>
					<mat-hint>Latest MRP (Readonly)</mat-hint>
				</mat-form-field>
			</div>
		</div>
		<div
			style="
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 10px;
				padding-top: 16px;
			"
		>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Purchase Price</mat-label>
					<input
						type="number"
						matInput
						formControlName="purchase_price"
						required
					/>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Rack #</mat-label>
					<input type="text" matInput formControlName="rackno" />
				</mat-form-field>
			</div>
		</div>

		<div style="text-align: center">
			<button
				mat-raised-button
				color="primary"
				(click)="submit()"
				type="button"
			>
				+ Update Product
			</button>
		</div>
	</form>
</div>
