.mat-form-field {
	margin-top: 16px;
}

.content {
	display: grid;
	width: 100%;
	margin: 0 auto;
	padding: 8px;
}

.screenheader {
	display: flex;
	padding: 8px 0px;
	font-size: 18px;
	font-weight: 500;
	color: #222222;
	justify-content: space-between;
}

.mat-width-ext {
	width: 100%;
}
