<div class="content">
	<div class="screen-header">
		<div>
			<span (click)="searchCustomers()">
				<span style="font-size: 16px; color: #797979; cursor: pointer;">
					Search Customers
				</span>
				>
			</span>
		</div>
		<div>
			&nbsp;Add Customers
		</div>
	</div>
	<form [formGroup]="submitForm">
		<mat-horizontal-stepper [linear]="isLinear" #stepper formArrayName="formArray">
			<mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
				<ng-template matStepLabel>Basic Info</ng-template>
				<div class="customer-info">
					<div class="name">
						<mat-form-field class="mat-width-ext">
							<mat-label>Name</mat-label>
							<input matInput placeholder="Name" formControlName="name" required />
							<mat-error>This field is required</mat-error>
						</mat-form-field>
					</div>
					<div class="address1">
						<mat-form-field class="mat-width-ext">
							<mat-label>Address Line 1</mat-label>
							<input matInput placeholder="Address Line 1" formControlName="address1" />
						</mat-form-field>
					</div>
					<div class="address2">
						<mat-form-field class="mat-width-ext">
							<mat-label>Address Line 2</mat-label>
							<input matInput placeholder="Address Line 2" formControlName="address2" />
						</mat-form-field>
					</div>
					<div class="address3">
						<mat-form-field class="mat-width-ext">
							<mat-label>Address Line 3</mat-label>
							<input matInput placeholder="Address Line 3" formControlName="address3" />
						</mat-form-field>
					</div>

					<div class="district">
						<mat-form-field class="mat-width-ext">
							<mat-label>District</mat-label>
							<input matInput placeholder="District" formControlName="district" />
						</mat-form-field>
					</div>

					<div class="state">
						<mat-form-field class="mat-width-ext">
							<mat-label>State</mat-label>
							<mat-select formControlName="state_id" required>
								<mat-option *ngFor="let item of statesdata" [value]="item.id">
									{{item.description}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>

					<div class="pin">
						<mat-form-field class="mat-width-ext">
							<mat-label>Pin</mat-label>
							<input matInput placeholder="State" formControlName="pin" />
						</mat-form-field>
					</div>

					<div>
						<mat-form-field class="mat-width-ext">
							<mat-label>GST</mat-label>
							<input type="text" matInput formControlName="gst" placeholder="GST" />
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="mat-width-ext">
							<mat-label>Phone</mat-label>
							<input type="number" matInput formControlName="phone" placeholder="Phone" />
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="mat-width-ext">
							<mat-label>Mobile 1</mat-label>
							<input type="number" matInput formControlName="mobile" placeholder="Mobile 1" />
						</mat-form-field>
					</div>

					<div>
						<mat-form-field class="mat-width-ext">
							<mat-label>Mobile 2</mat-label>
							<input type="number" matInput formControlName="mobile2" placeholder="Mobile 2" />
						</mat-form-field>
					</div>

					<div>
						<mat-form-field class="mat-width-ext">
							<mat-label>Whatsapp</mat-label>
							<input type="number" matInput formControlName="whatsapp" placeholder="Whatsapp" />
						</mat-form-field>
					</div>

					<div>
						<mat-form-field class="mat-width-ext">
							<mat-label>Email</mat-label>
							<input type="text" matInput formControlName="email" placeholder="Email" />
						</mat-form-field>
					</div>
				</div>

				<div>
					<button mat-button matStepperNext>Next</button>
				</div>
			</mat-step>

			<!-- <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
				<ng-template matStepLabel>General Info</ng-template>
				
				<div>
					<button mat-button matStepperPrevious>Back</button>
					<button mat-button matStepperNext>Next</button>
				</div>
			</mat-step> -->

			<mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
				<ng-template matStepLabel>Discount Info</ng-template>
				<div class="customer-info1">
					<div>
						<mat-form-field class="mat-width-ext">
							<mat-label>Discount Type</mat-label>
							<mat-select formControlName="disctype" required>
								<mat-option *ngFor="let item of discountType" [value]="item">
									{{item}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>

					<div>
						<mat-form-field class="mat-width-ext">
							<mat-label>GST Slab(0%)</mat-label>
							<input type="text" matInput formControlName="gstzero" />
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="mat-width-ext">
							<mat-label>GST Slab(5%)</mat-label>
							<input type="text" matInput formControlName="gstfive" />
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="mat-width-ext">
							<mat-label>GST Slab(12%)</mat-label>
							<input type="text" matInput formControlName="gsttwelve" />
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="mat-width-ext">
							<mat-label>GST Slab(18%)</mat-label>
							<input type="text" matInput formControlName="gsteighteen" />
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="mat-width-ext">
							<mat-label>GST Slab(28%)</mat-label>
							<input type="text" matInput formControlName="gsttwentyeight" />
						</mat-form-field>
					</div>
				</div>
				<div>
					<button mat-button matStepperPrevious>Back</button>
					<button mat-button (click)="stepper.reset()">Clear</button>

					<button mat-raised-button color="primary" (click)="submit()">+ Add Customer</button>
				</div>
			</mat-step>
		</mat-horizontal-stepper>
	</form>
</div>
