.content {
	display: grid;
	width: 94%;
	margin: 0 auto;
	padding: 16px;
}

.mat-width-ext {
	width: 400px;
}

.gap {
	padding: 0px 10px;
	cursor: pointer;
}

.screen-header {
	display: flex;
	width: 94%;
	margin: 0 auto;
	padding-top: 16px;
	font-size: 16px;
	font-weight: 500;
	color: #222222;
}

.customer-info,
.customer-info1 {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
}
