<div fxFlex="row" fxLayoutGap="10px" class="header">
	<span style="align-self: center">
		<div
			style="
				color: #bf0000;
				font-size: 20px;
				font-weight: 400;
				letter-spacing: 0.1rem;
			"
		>
			{{ userdata?.center_name }}
		</div>
		<div>Coimbatore</div>
	</span>
	<span class="spacer"></span>

	<span style="align-self: center; padding: 0px 0px 0px 40px">
		<img
			src="../../assets/images/svg/sales-white.svg"
			(click)="showNewSales()"
			width="26px"
			height="26px"
			class="img cursor"
		/>
	</span>
	<span style="align-self: center; padding: 0px 40px">
		<img
			src="../../assets/images/svg/enquiry-white.svg"
			(click)="showNewEnquiry()"
			width="26px"
			height="26px"
			class="img cursor"
		/>
	</span>
	&nbsp;&nbsp;
	<span style="align-self: center">
		<img
			src="../../assets/images/svg/search.svg"
			(click)="showAddProductComp()"
			width="26px"
			height="26px"
			class="img cursor"
		/>
	</span>
	&nbsp;&nbsp;
	<span style="align-self: center; padding: 0px 25px">
		<ng-container *ngIf="userdata">
			<div class="fname">{{ userdata?.firstname }}</div>
			<div class="role">{{ userdata?.role }}</div>
		</ng-container>
	</span>

	<span style="align-self: center">
		<img
			src="../../assets/images/svg/account.svg"
			width="28px"
			height="28px"
			class="img cursor"
			[matMenuTriggerFor]="menu"
		/>
	</span>
</div>

<mat-menu #menu="matMenu">
	<button mat-menu-item>
		<mat-icon>person</mat-icon>
		<span>Profile</span>
	</button>
	<button mat-menu-item [matMenuTriggerFor]="admin">
		<span style="padding-right: 16px; vertical-align: middle">
			<img
				src="../../assets/images/svg/manager.svg"
				width="26px"
				height="26px"
				style="vertical-align: middle"
			/>
		</span>
		Admin
	</button>

	<!-- <button mat-menu-item (click)="goAdmin()">
		<span style="padding-right: 16px; vertical-align: middle;">
			<img src="../../assets/images/svg/manager.svg" width="24px" height="24px" style="vertical-align: middle;" />
		</span>
		<span>Admin</span>
	</button> -->
	<button mat-menu-item (click)="openSettings()">
		<mat-icon>settings</mat-icon>
		<span>Settings</span>
	</button>
	<button mat-menu-item (click)="logout()">
		<span style="padding-right: 16px; vertical-align: middle">
			<img
				src="../../assets/images/svg/logout.svg"
				width="24px"
				height="24px"
				style="vertical-align: middle"
			/>
		</span>

		<span>Log Out</span>
	</button>
</mat-menu>

<mat-menu #admin="matMenu">
	<!-- <button mat-menu-item (click)="viewProduct()" style="padding-right: 16px">
		<span>Product</span>
	</button> -->
	<!-- <button mat-menu-item (click)="viewBrand()">
		<span>Brand</span>
	</button> -->
	<!-- <button mat-menu-item (click)="viewVendor()">
		<span>Vendor</span>
	</button> -->

	<!-- <button mat-menu-item [matMenuTriggerFor]="customeradmin">
		<span>Customers</span>
	</button> -->

	<button mat-menu-item (click)="editCenter()">
		<span>Center</span>
	</button>

	<button mat-menu-item (click)="viewUsers()">
		<span>Users</span>
	</button>
</mat-menu>

<!-- <mat-menu #customeradmin="matMenu">
	<button mat-menu-item (click)="viewCustomer()" style="padding-right: 16px">
		<span>Customer</span>
	</button>
	<button mat-menu-item (click)="viewDiscounts()">
		<span>Discounts</span>
	</button>
</mat-menu> -->
