<!-- Top Header component + Logo {left} + Buttons - enquiry + search + right dropdown menu -->
<div fxFlex="row" fxLayoutGap="10px" class="header">
	<button mat-icon-button (click)="toggle()">
		<mat-icon>menu</mat-icon>
	</button>

	<span style="align-self: center;">
		<div>
			{{ userdata?.center_name }}
		</div>
		<div>
			<span style="font-size: 0.8rem;">{{ today | date: "dd LLLL yyyy" }} </span>
		</div>
	</span>
	<span class="spacer"></span>
	<span style="align-self: center;">
		<a mat-stroked-button routerLink="/home/sales/edit/0">
			<img src="../../assets/svg/sales-white.svg" width="20px" height="20px" class="img cursor" />
		</a>
	</span>
	<span style="align-self: center;">
		<a mat-stroked-button routerLink="/home/enquiry">
			<img src="../../assets/svg/enquiry-white.svg" width="20px" height="20px" class="img cursor" />
		</a>
	</span>
	&nbsp;&nbsp;
	<span style="align-self: center;">
		<a mat-stroked-button [routerLink]="" (click)="showAddProductComp()">
			<img src="../../assets/svg/search.svg" width="20px" height="20px" class="img cursor" />
		</a>
	</span>
	&nbsp;&nbsp;
	<span style="align-self: center;">
		<ng-container *ngIf="userdata">
			<div class="fname">{{ userdata?.firstname }}</div>
			<div class="role">{{ userdata?.role }}</div>
		</ng-container>
	</span>

	<span style="align-self: center;">
		<img src="../../assets/svg/account.svg" width="28px" height="28px" class="img cursor" [matMenuTriggerFor]="menu" />
	</span>
</div>

<mat-menu #menu="matMenu">
	<button mat-menu-item>
		<mat-icon>person</mat-icon>
		<span>Profile</span>
	</button>
	<button mat-menu-item [matMenuTriggerFor]="admin">
		<span style="padding-right: 16px; vertical-align: middle;">
			<img src="../../assets/svg/manager.svg" width="24px" height="24px" style="vertical-align: middle;" />
		</span>
		Admin
	</button>

	<!-- <button mat-menu-item (click)="goAdmin()">
		<span style="padding-right: 16px; vertical-align: middle;">
			<img src="../../assets/svg/manager.svg" width="24px" height="24px" style="vertical-align: middle;" />
		</span>
		<span>Admin</span>
	</button> -->
	<button mat-menu-item>
		<mat-icon>settings</mat-icon>
		<span>Settings</span>
	</button>
	<button mat-menu-item (click)="logout()">
		<span style="padding-right: 16px; vertical-align: middle;">
			<img src="../../assets/svg/logout.svg" width="24px" height="24px" style="vertical-align: middle;" />
		</span>

		<span>Log Out</span>
	</button>
</mat-menu>

<mat-menu #admin="matMenu">
	<button mat-menu-item (click)="viewProduct()" style="padding-right: 16px;">
		<span>Product</span>
	</button>
	<button mat-menu-item (click)="viewBrand()">
		<span>Brand</span>
	</button>
	<button mat-menu-item (click)="viewVendor()">
		<span>Vendor</span>
	</button>

	<button mat-menu-item [matMenuTriggerFor]="customeradmin">
		<span>Customers</span>
	</button>

	<button mat-menu-item (click)="editCenter()">
		<span>Centers</span>
	</button>

	<button mat-menu-item [matMenuTriggerFor]="reportsadmin">
		<span>Reports</span>
	</button>
</mat-menu>

<mat-menu #customeradmin="matMenu">
	<button mat-menu-item (click)="viewCustomer()" style="padding-right: 16px;">
		<span>Customer</span>
	</button>
	<button mat-menu-item (click)="viewDiscounts()">
		<span>Discounts</span>
	</button>
	<button mat-menu-item (click)="openBackOrder()">
		<span>Backorders</span>
	</button>
</mat-menu>

<mat-menu #reportsadmin="matMenu">
	<button mat-menu-item (click)="viewInventoryReports()" style="padding-right: 16px;">
		<span>Inventory Reports</span>
	</button>
</mat-menu>
