<div class="element-edit-wrap">
	<h4 style="text-align: center;">Change MRP</h4>

	<form [formGroup]="submitForm">
		<div class="element">
			<mat-form-field>
				<mat-label>Mrp</mat-label>
				<input type="number" matInput placeholder="Mrp" min="1" max="99999" formControlName="mrp" required />
				<mat-error>This field is required</mat-error>
			</mat-form-field>
		</div>
		<div>{{ this.msg }}</div>

		<div class="save">
			<button mat-raised-button color="primary" (click)="newMRP()" style="font-size: 1rem; padding: 0px 20px;">
				Create New MRP
			</button>
		</div>
	</form>
</div>
