<ion-content>
	<div class="content">
		<div style="font-size: 20px; align-self: center;">
			<div class="add-item">
				<div *ngIf="!customerAdded; else elseBlock" style="align-self: center;">
					<button appPreventDoubleClick (throttledClick)="showAllCustomersComp()" [throttleTime]="500" mat-raised-button color="primary">
						+ Add Customer
					</button>
				</div>
			</div>
		</div>
		<div>
			<button appPreventDoubleClick (throttledClick)="addAccount()" [throttleTime]="500" mat-raised-button color="primary">
				+ Add Row
			</button>
		</div>
	</div>
	<form (ngSubmit)="onSubmit()" [formGroup]="submitForm">
		<div class="enq-form">
			<div class="actn-row">
				<div style="padding-left: 7px; cursor: pointer;">
					<img src="/assets/images/svg/trash.svg" width="18px" height="18px" *ngIf="showDelIcon" (click)="onRemoveRows()" />
					<span class="itms-lbl" *ngIf="showDelIcon" (click)="onRemoveRows()">&nbsp;Delete</span>
				</div>
				<div class="itms-lbl">
					{{accountarr.controls.length || 0}} Items
				</div>
			</div>

			<div formArrayName="accountarr" class="list-block">
				<div class="item-details" *ngFor="let product of accountarr.controls; let idx = index">
					<ng-container [formGroupName]="idx">
						<div class="id">
							<!-- {{ idx+1}}) -->
							<mat-checkbox (click)="checkedRow(idx)" formControlName="checkbox"></mat-checkbox>
						</div>

						<div>
							<mat-form-field class="example-full-width">
								<mat-label>Received Amt</mat-label>
								<input matInput type="number" formControlName="receivedamount" />
								<!-- <mat-icon matSuffix (click)="openCurrencyPad(idx)">view_comfy</mat-icon> -->
							</mat-form-field>
						</div>

						<div>
							<ion-item class="input-item" lines="none">
								<mat-form-field class="example-full-width">
									<input
										matInput
										readonly
										[max]="maxDate"
										[matDatepicker]="fromdate"
										formControlName="receiveddate"
										placeholder="From date"
										(focus)="fromdate.open()"
									/>
									<mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
									<mat-datepicker #fromdate></mat-datepicker>
								</mat-form-field>
							</ion-item>
						</div>

						<div class="vendor">
							<mat-form-field class="example-full-width">
								<mat-label>Payment Mode</mat-label>
								<mat-select formControlName="pymtmode">
									<mat-option *ngFor="let item of pymtmodes$ | async" [value]="item.id">
										{{item.pymt_mode_name}}
									</mat-option>
								</mat-select>
								<mat-error>This field is required</mat-error>
							</mat-form-field>
						</div>

						<div>
							<mat-form-field class="example-full-width">
								<mat-label>Bank Ref.</mat-label>
								<input matInput autofocus="*ngIf=idx === 1" type="text" formControlName="bankref" />
							</mat-form-field>
						</div>
					</ng-container>
				</div>
			</div>
			{{this.submitForm.value | json}}
			<div class="submit">
				<button mat-raised-button color="primary" type="submit" name="action" class="cursor" [disabled]="!submitForm.valid">
					Add Receivables
				</button>
			</div>
		</div>
	</form>
</ion-content>

<ng-template #elseBlock>
	<div class="elseblock">
		<div style="font-size: 12px; color: #797979;">
			Customer Name &nbsp;&nbsp;<span style="font-size: 12px; color: rgb(13, 13, 190);" (click)="showAllCustomersComp()">[Change]</span>
		</div>
		<div>
			{{customerData.name}}
		</div>
		<div>
			{{customerData.address1}}
		</div>
		<div>
			{{customerData.district}}
		</div>
	</div>
</ng-template>
