<div class="content">
	<div style="padding: 1rem 1rem 1rem 0px; font-size: 20px; font-weight: 400">
		Bulk Data Upload - Sample Templates (Excel Sheet)
	</div>
	<div class="row">
		<div><b>Customer Information</b> with <b>Discount</b></div>
		<div>
			<a href="/downloads/archive.zip" download="archive.zip"> Download </a>
		</div>
	</div>
	<div class="row">
		<div><b>Product Information</b> with <b>Stock</b></div>
		<div>
			<a href="/downloads/archive.zip" download="archive.zip"> Download </a>
		</div>
	</div>
</div>
