<div
	class="sidenav_container"
	[@onSideNavChange]="sideNavState ? 'open' : 'close'"
>
	<div fxLayout="column" fxLayoutGap="10px" style="height: 100%">
		<div class="wrapper">
			<div class="md" *ngFor="let page of pages">
				<a
					class="header-menu-item"
					(click)="routeTo(page.name, page.link)"
					[ngClass]="{ selectedmenu: clickedItem === page?.name }"
				>
					<img
						src="{{ page?.icon }}"
						width="26px"
						height="26px"
						class="img-menu-box"
					/>

					<span [@animateText]="linkText ? 'show' : 'show'">
						<span class="side-menu-lbl">{{ page?.name }}</span>
					</span>
				</a>
			</div>
		</div>
	</div>

	<span class="spacer"></span>
</div>
