.sidenav-container {
	min-width: 70px;
	height: calc(100vh - 200px);
}

.jim {
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 50%;
}

:root {
	--color_fill: yellow;
}

// .mat-list-item:hover {
// 	background-color: #f2f2f2;
// }

.is-active {
	background-color: red;
}

.red {
	border-right: 5px solid red;
}

.side-menu-lbl {
	font-size: 16px;
	font-weight: 400;
	color: #444;
}
.side-menu-lbl:hover {
	color: mediumblue;
}
