<!-- @format -->

<div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
	<div fxLayout="column" fxLayoutGap="10px" style="height: 100%">
		<div class="user_menu">
			<mat-nav-list>
				<a mat-list-item (click)="routeToDashboard()" [ngClass]="{ red: clickedItem === 'dashboard' }">
					<img src="/assets/images/svg/dashboard-black.svg" width="24px" height="24px" />
					<span [@animateText]="linkText ? 'show' : 'hide'">Dashboard </span>
				</a>
			</mat-nav-list>
			<mat-divider></mat-divider>
		</div>

		<div>
			<mat-nav-list dense>
				<a mat-list-item *ngFor="let page of pages" (click)="routeTo(page.name, page.link)" [ngClass]="{ red: clickedItem === page?.name }">
					<img src="{{ page?.icon }}" width="22px" height="22px" />

					<span [@animateText]="linkText ? 'show' : 'hide'"
						>&nbsp; <span class="side-menu-lbl">{{ page?.name }}</span>
					</span>
				</a>
			</mat-nav-list>
		</div>
	</div>

	<span class="spacer"></span>
	<div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 10px">
		<button mat-icon-button (click)="onSinenavToggle()">
			<mat-icon *ngIf="sideNavState">arrow_left</mat-icon>
			<mat-icon *ngIf="!sideNavState">arrow_right</mat-icon>
		</button>
	</div>
</div>
