<div class="sidenav-container">
	<div style="height: 100%">
		<div class="wrapper">
			<div *ngFor="let page of pages">
				<hr
					*ngIf="
						page.name === 'Enquiry' ||
						page.name === 'Purchase' ||
						page.name === 'Reports'
					"
					style="border-bottom: 3px solid #d6d6d6"
				/>

				<a
					class="header-menu-item"
					(click)="routeTo(page.name, page.link)"
					[ngClass]="{ selectedmenu: clickedItem === page?.name }"
				>
					<img
						src="{{ page?.icon }}"
						width="24px"
						height="24px"
						class="img-menu-box"
					/>

					<span class="side-menu-lbl">{{ page?.name }}</span>
				</a>
			</div>
			<div class="bottom" [matMenuTriggerFor]="menu">
				<img
					src="../../assets/images/svg/account.svg"
					width="28px"
					height="28px"
					class="img cursor"
					style="margin: 5px 0px 8px 8px"
				/>
				<span style="align-self: center; padding: 0px 25px">
					<ng-container *ngIf="userdata">
						<div class="fname">{{ userdata?.firstname }}</div>
						<div class="role">{{ userdata?.role }}</div>
					</ng-container>
				</span>
			</div>
		</div>

		<!-- <div class="spacer" style="padding-top: 50px">&nbsp;</div> -->
		<!-- <mat-nav-list>
			<mat-accordion>
				<mat-expansion-panel
					(opened)="panelOpenState = true"
					(closed)="panelOpenState = false"
				>
					<mat-expansion-panel-header>
						<mat-panel-title>
							<img
								src="/assets/images/svg/growth.svg"
								width="26px"
								height="26px"
								class="img-menu-box"
							/>
							Reports
						</mat-panel-title>
					</mat-expansion-panel-header>
					<p>RPT 1</p>
				</mat-expansion-panel>
			</mat-accordion>
		</mat-nav-list> -->
	</div>
</div>

<mat-menu #menu="matMenu" yPosition="above" xPosition="before">
	<button mat-menu-item>
		<mat-icon>person</mat-icon>
		<span>Profile</span>
	</button>
	<button mat-menu-item [matMenuTriggerFor]="admin">
		<span style="padding-right: 16px; vertical-align: middle">
			<img
				src="../../assets/images/svg/manager.svg"
				width="24px"
				height="24px"
				style="vertical-align: middle"
			/>
		</span>
		Admin
	</button>

	<button mat-menu-item (click)="openSettings()">
		<mat-icon>settings</mat-icon>
		<span>Settings</span>
	</button>
	<button mat-menu-item (click)="logout()">
		<span style="padding-right: 16px; vertical-align: middle">
			<img
				src="../../assets/images/svg/logout.svg"
				width="24px"
				height="24px"
				style="vertical-align: middle"
			/>
		</span>

		<span>Log Out</span>
	</button>
</mat-menu>

<mat-menu #admin="matMenu">
	<button mat-menu-item (click)="editCenter()">
		<span>Center</span>
	</button>

	<button mat-menu-item (click)="viewUsers()">
		<span>Users</span>
	</button>
</mat-menu>
