<ion-content>
	<div class="content">
		<div class="canvas">
			<div class="left">
				<div style="display: flex; justify-content: flex-end; padding: 16px">
					<ng-container *ngIf="iscustomenquiry">
						<div style="display: flex">
							<div>
								<mat-form-field style="margin-bottom: -1.25em">
									<mat-label>Enter a date range</mat-label>
									<mat-date-range-input [rangePicker]="picker">
										<input
											matStartDate
											matInput
											readonly
											placeholder="Start date"
											[ngModel]="dateF"
											(dateChange)="opsFromDateEvent('change', $event)"
										/>
										<input matEndDate matInput readonly placeholder="End date" [ngModel]="dateF" (dateChange)="opsToDateEvent('change', $event)" />
									</mat-date-range-input>
									<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
									<mat-date-range-picker #picker></mat-date-range-picker>
								</mat-form-field>
							</div>
						</div>
					</ng-container>

					<ng-container *ngIf="!iscustomenquiry">
						<div class="timeline" [ngClass]="{ selected: selectedOpsOption == 'yearly' }" (click)="reloadOpsSummary('yearly')">This year</div>
						<div class="timeline" [ngClass]="{ selected: selectedOpsOption == 'monthly' }" (click)="reloadOpsSummary('monthly')">This month</div>
						<div class="timeline" [ngClass]="{ selected: selectedOpsOption == 'weekly' }" (click)="reloadOpsSummary('weekly')">This week</div>
						<div class="timeline" [ngClass]="{ selected: selectedOpsOption == 'today' }" (click)="reloadOpsSummary('today')">Today</div>
					</ng-container>
					<div style="padding: 10px 0px 0px 10px" *ngIf="!iscustomenquiry" (click)="reloadOpsSummary('custom')">
						<img class="cursor" src="/assets/images/svg/calendar.svg" width="28px" height="28px" />
					</div>
					<div style="padding: 0px 0px 0px 10px" *ngIf="iscustomenquiry" (click)="reloadOpsSummary('custom')">
						<img class="cursor" src="/assets/images/svg/close.svg" width="24px" height="24px" />
					</div>
				</div>
				<div class="section1">
					<mat-card class="example-card">
						<mat-card-header>
							<div mat-card-avatar class="example-header-image"></div>
							<mat-card-title>Enquiry</mat-card-title>
						</mat-card-header>

						<mat-card-content>
							<div style="display: grid; grid-template-columns: 1fr 1fr 1fr">
								<div (click)="navigateToInquiry('O')">
									<div class="card-sub-data">Order Queue</div>
									<div class="card-sub-head">{{this.enquirySummary?.new + this.enquirySummary?.draft}}</div>
								</div>

								<!-- <div (click)="navigateToInquiry('D')">
									<div class="card-sub-head">{{this.enquirySummary?.draft}}</div>
									<div class="card-sub-data">In Progress</div>
								</div> -->
								<div (click)="navigateToInquiry('P')">
									<div class="card-sub-data">Ready</div>
									<div class="card-sub-head">{{this.enquirySummary?.invoiceready}}</div>
								</div>

								<div (click)="navigateToInquiry('E')">
									<div class="card-sub-data">Closed</div>
									<div class="card-sub-head">{{this.enquirySummary?.executed}}</div>
								</div>
							</div>
						</mat-card-content>
					</mat-card>

					<!-- <div class="card">
						<div style="display: grid; grid-template-columns: 60px 1fr">
							<div class="rectangle">
								<img
									src="/assets/images/svg/enquiry.svg"
									width="22px"
									height="22px"
								/>
							</div>
							<div class="card-head">Inquiry</div>
						</div>
						<div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr">
							<div (click)="navigateToInquiry('O')">
								<div class="card-sub-head">{{this.enquirySummary?.new}}</div>
								<div class="card-sub-data">New</div>
							</div>

							<div (click)="navigateToInquiry('D')">
								<div class="card-sub-head">{{this.enquirySummary?.draft}}</div>
								<div class="card-sub-data">In Progress</div>
							</div>
							<div (click)="navigateToInquiry('P')">
								<div class="card-sub-head">
									{{this.enquirySummary?.invoiceready}}
								</div>
								<div class="card-sub-data">Ready</div>
							</div>

							<div (click)="navigateToInquiry('E')">
								<div class="card-sub-head">
									{{this.enquirySummary?.executed}}
								</div>
								<div class="card-sub-data">Closed</div>
							</div>
						</div>
					</div> -->

					<mat-card class="example-card">
						<mat-card-header>
							<div mat-card-avatar class="example-header-sales-image"></div>
							<mat-card-title>Sales</mat-card-title>
						</mat-card-header>

						<mat-card-content>
							<div style="display: grid; grid-template-columns: 1fr 1fr">
								<div>
									<div class="card-sub-data">Draft</div>
									<div class="card-sub-head">{{this.salesSummary?.draft}}</div>
								</div>

								<div>
									<div class="card-sub-data">Completed</div>
									<div class="card-sub-head">{{this.salesSummary?.completed}}</div>
								</div>
							</div>
						</mat-card-content>
					</mat-card>

					<!-- <div class="card">
						<div style="display: grid; grid-template-columns: 60px 1fr">
							<div class="rectangle">
								<img src="/assets/images/svg/sales.svg" width="22px" height="22px" />
							</div>
							<div class="card-head">Sales</div>
						</div>
						<div style="display: grid; grid-template-columns: 1fr 1fr">
							<div>
								<div class="card-sub-head">{{this.salesSummary?.draft}}</div>
								<div class="card-sub-data">Draft</div>
							</div>

							<div>
								<div class="card-sub-head">{{this.salesSummary?.completed}}</div>
								<div class="card-sub-data">Completed</div>
							</div>
						</div>
					</div> -->

					<mat-card class="example-card">
						<mat-card-header>
							<div mat-card-avatar class="example-header-purchase-image"></div>
							<mat-card-title>Purchase</mat-card-title>
						</mat-card-header>

						<mat-card-content>
							<div style="display: grid; grid-template-columns: 1fr 1fr">
								<div>
									<div class="card-sub-data">Draft</div>
									<div class="card-sub-head">{{this.purchaseSummary?.draft}}</div>
								</div>

								<div>
									<div class="card-sub-data">Completed</div>
									<div class="card-sub-head">{{this.purchaseSummary?.completed}}</div>
								</div>
							</div>
						</mat-card-content>
					</mat-card>

					<!-- <div class="card">
						<div style="display: grid; grid-template-columns: 60px 1fr">
							<div class="rectangle">
								<img src="/assets/images/svg/purchase.svg" width="22px" height="22px" />
							</div>
							<div class="card-head">Purchase</div>
						</div>
						<div style="display: grid; grid-template-columns: 1fr 1fr">
							<div>
								<div class="card-sub-head">{{this.purchaseSummary?.draft}}</div>
								<div class="card-sub-data">Draft</div>
							</div>

							<div>
								<div class="card-sub-head">{{this.purchaseSummary?.completed}}</div>
								<div class="card-sub-data">Completed</div>
							</div>
						</div>
					</div> -->
				</div>
				<div class="horizontal-spacer">&nbsp;</div>
				<div style="display: grid; grid-template-columns: 1fr 1fr 1fr">
					<div>
						<mat-card class="example-card">
							<mat-card-header>
								<mat-card-title style="font-size: 16px">Top 5 Payment Outstanding</mat-card-title>
							</mat-card-header>

							<mat-card-content>
								<div
									*ngFor="let item of outstandingBalanceList ? outstandingBalanceList : []; let idx = index"
									class="list-item"
									style="color: blue; cursor: pointer"
									(click)="goCustomerFinancials(item.id)"
								>
									<div style="text-align: left">{{ item.name }}</div>
									<div>{{ item.balance_amt | currency: "INR"}}</div>
								</div>
							</mat-card-content>
						</mat-card>
					</div>
					<div>
						<mat-card class="example-card">
							<mat-card-header>
								<mat-card-title style="font-size: 16px">Top 5 Clients</mat-card-title>
							</mat-card-header>

							<mat-card-content>
								<div
									*ngFor="let item of topClientsList ? topClientsList : []; let idx = index"
									class="list-item"
									style="color: blue; cursor: pointer"
									(click)="goCustomerFinancials(item.id)"
								>
									<div style="text-align: left">{{ item.customer_name }}</div>
									<div>{{ item.sum_total }}</div>
								</div>
							</mat-card-content>
						</mat-card>
					</div>
					<div>
						<mat-card class="example-card">
							<mat-card-header>
								<mat-card-title style="font-size: 16px">Business Snapshot</mat-card-title>
							</mat-card-header>

							<mat-card-content>
								<div class="list-item" style="color: blue; cursor: pointer">
									<div style="text-align: left; padding: 8px">Yearly Turnover</div>
									<div style="text-align: left; padding: 8px">{{this?.yearly_turnover | currency: "INR"}}</div>
									<div style="text-align: left; padding: 8px">Active Customers</div>
									<div style="text-align: left; padding: 8px">{{this.centerSummary?.active_customers}}</div>
									<div style="text-align: left; padding: 8px">Active Vendors</div>
									<div style="text-align: left; padding: 8px">{{this.centerSummary?.active_vendors}}</div>
									<div style="text-align: left; padding: 8px">Total Sales</div>
									<div style="text-align: left; padding: 8px">{{this.salesTotal | currency: "INR"}}</div>
									<div style="text-align: left; padding: 8px">Outstanding Total</div>
									<div style="text-align: left; padding: 8px">{{this.centerReceivablesTotal | currency: "INR"}}</div>
									<div style="text-align: left; padding: 8px">Payments Total</div>
									<div style="text-align: left; padding: 8px">{{this.paymentsTotal | currency: "INR"}}</div>
								</div>
							</mat-card-content>
						</mat-card>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>
