.content {
	display: grid;
	width: 100%;
	background-color: #fcfdff;
}

.card {
	width: 300px;
	height: 140px;
	//	border: 1px solid rgb(161, 161, 161);
	border-radius: 10px;
	background-color: #fff;
	color: #b4b3d2;
	box-shadow: 0 10px 10px -5px;
}

.section1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 16px;
	justify-items: center;
}

.canvas {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.rectangle {
	width: 36px;
	height: 36px;
	border-radius: 50px;
	margin: 10px;
	background: #e2e2e2;
	display: grid;
	align-self: center;
	align-content: center;
	justify-content: center;
	opacity: 0.9;
}

.section2 {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 16px;
	justify-items: center;
	padding: 0px 32px 32px 32px;
}

.timeline {
	padding: 10px 10px 0px 10px;
	font-size: 14px;
	color: grey;
	text-align: center;
}

.selected {
	color: blue;
	border-bottom: 2px solid blue;
}

.horizontal-spacer {
	padding: 32px;
}

.card-head {
	color: #333;
	font-size: 18px;
	font-weight: 400;
	display: grid;
	align-content: center;
}

.card-sub-head {
	font-size: 32px;
	color: blue;
	opacity: 0.7;
	padding-left: 16px;
}

.card-sub-data {
	color: blue;
	font-size: 14px;
	opacity: 0.7;
	padding-left: 16px;
}

.card-sub-head:hover,
.card-sub-data:hover {
	opacity: 1;
	cursor: pointer;
}

// .deep-link {
// 	background-color: #e1e7f3;
// }
// .deep-link:hover {
// 	opacity: 0.6;

// }
