<ion-content>
	<div class="content">
		<div class="screen-header">
			<div>
				<span (click)="_navigationService.searchCustomers()">
					<span style="font-size: 16px; color: #3f51b5; cursor: pointer;">
						List of Customers
					</span>
					/
				</span>
			</div>
			<div>
				<span style="font-size: 16px; color: #797979; cursor: pointer;">
					&nbsp;Set Customers Discount
				</span>
			</div>
		</div>
		<div class="screen-header">
			<h3>Setup Customer Specific Discounts</h3>
		</div>
		<form [formGroup]="submitForm" class="form-wrap" #myForm="ngForm">
			<div>
				<div style="color: #797979; font-size: 14px;">Customer Name</div>
				<div>{{this.customerName}}</div>
			</div>

			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Discount Type</mat-label>
					<mat-select formControlName="disctype">
						<mat-option *ngFor="let item of discountType" [value]="item">
							{{item}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<ion-item class="input-item" lines="none">
					<mat-form-field class="mat-input-wrapper">
						<input
							matInput
							formControlName="effDiscStDate"
							[matDatepicker]="picker1"
							type="text"
							(focus)="picker1.open()"
							(dateChange)="handleDicountDateChange($event)"
						/>
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker touchUi="true" #picker1></mat-datepicker>
						<mat-placeholder>Effective (dd/mm/yyyy)</mat-placeholder>
						<mat-error
							*ngIf="(submitForm.get('effDiscStDate').hasError('required') || submitForm.get('effDiscStDate').hasError('patternInvalid'))  && submitForm.get('effDiscStDate').touched"
						>
							Invalid (or) Missing entry
						</mat-error>
					</mat-form-field>
				</ion-item>
			</div>

			<div>&nbsp;</div>
			<div>&nbsp;</div>

			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>GST Slab(0%)</mat-label>
					<input type="number" matInput formControlName="gstzero" />
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>GST Slab(5%)</mat-label>
					<input type="number" matInput formControlName="gstfive" />
				</mat-form-field>
			</div>

			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>GST Slab(12%)</mat-label>
					<input type="number" matInput formControlName="gsttwelve" />
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>GST Slab(18%)</mat-label>
					<input type="number" matInput formControlName="gsteighteen" />
				</mat-form-field>
			</div>

			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>GST Slab(28%)</mat-label>
					<input type="number" matInput formControlName="gsttwentyeight" />
				</mat-form-field>
			</div>

			<div style="display: grid; grid-column: 1 / span 5;">
				<div style="text-align: center;">
					<button mat-stroked-button (click)="reset()">Reset</button>&nbsp;&nbsp;&nbsp;&nbsp;
					<button mat-raised-button color="primary" (click)="submit()">Update</button>
				</div>
			</div>
		</form>
	</div>
</ion-content>
