<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
	<div class="screen-header"><span style="font-size: 18px">New Sale Order</span></div>

	<form [formGroup]="submitForm">
		<div class="customer">
			<div>
				<mat-form-field class="example-full-width" style="padding-right: 10px">
					<mat-label>Select or Add Customer</mat-label>
					<input
						matInput
						[matAutocomplete]="auto"
						formControlName="customerctrl"
						[readOnly]="iscustomerselected"
						#typehead1
						required
						matTooltipPosition="after"
						tabindex="1"
						[attr.disabled]="iscustomerselected?'true':null"
					/>

					<button mat-button matSuffix mat-icon-button type="button" (click)="clearInput()">
						<mat-icon>close</mat-icon>
					</button>
					<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="setCustomerInfo($event, 'click')">
						<mat-option *ngIf="isCLoading" class="is-loading"><mat-spinner diameter="20"></mat-spinner></mat-option>
						<ng-container *ngIf="!isCLoading">
							<mat-option *ngFor="let customer of customer_lis" [value]="customer">
								<span>{{ customer.name }} </span>
							</mat-option>
							<mat-option style="background-color: #f2f2f2" value="new">+ New Customer</mat-option>
						</ng-container>
					</mat-autocomplete>
					<mat-error *ngIf="submitForm.controls['customerctrl'].hasError('required')"> Please enter a value </mat-error>
					<mat-error *ngIf="submitForm.controls['customerctrl'].hasError('incorrect')"> Please select a valid customer </mat-error>
					<mat-hint *ngIf="iscustomerselected">
						<span (click)="openDialog($event)" style="font-size: 12px; color: #310ac0; cursor: pointer">View Customer Details</span>
					</mat-hint>
				</mat-form-field>

				<div *ngIf="iscustomerselected" style="display: grid; grid-template-columns: 1fr 1fr; font-size: 12px; color: #666666">
					<div style="padding: 0.5rem 0.5rem 0.5rem 0px">
						<div style="font-weight: 500; font-size: 14px">BILLING ADDRESS</div>
						<div>{{customerdata.address1 | nullquote}}</div>
						<div>{{customerdata.address2 | nullquote}}</div>

						<div>{{customerdata.state | nullquote}}</div>
						<div>{{customerdata.pin | nullquote}}</div>
					</div>
					<div style="padding: 0.5rem 0.5rem 0.5rem 0px">
						<div style="font-weight: 500; font-size: 14px">SHIPPING ADDRESS</div>
						<div>{{customerdata.address1 | nullquote}}</div>
						<div>{{customerdata.address2 | nullquote}}</div>

						<div>{{customerdata.state | nullquote}}</div>
						<div>{{customerdata.pin | nullquote}}</div>
					</div>
				</div>
			</div>
			<!-- <mat-select formControlName="status" (selectionChange)="statusChange($event)" required value="{statusFlag}"> -->
			<div style="display: grid; grid-template-columns: 1fr 1fr 1fr">
				<div style="justify-content: left; align-self: flex-start; padding-left: 1rem">
					<div>
						<mat-form-field appearance="fill">
							<mat-label>Sale Type</mat-label>
							<mat-select formControlName="invoicetype" value="{selInvType}" (selectionChange)="invoiceTypeChange($event)" tabindex="2" required>
								<mat-option value="gstinvoice">GST Invoice</mat-option>
								<mat-option value="stockissue">Stock Issue</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>

				<div style="justify-content: left; align-self: flex-start; padding-left: 1rem">
					<div>
						<div>
							<mat-form-field floatLabel="always">
								<mat-label>Invoice #</mat-label>
								<input matInput type="text" formControlName="invoiceno" required readonly />
							</mat-form-field>
						</div>

						<div *ngIf="mode === 'enquiry'">
							<mat-form-field>
								<mat-label>Order #</mat-label>
								<input matInput #orderno type="text" formControlName="orderno" />

								<mat-error
									*ngIf="(submitForm.get('orderno').hasError('required') || submitForm.get('orderno').hasError('patternInvalid'))  && submitForm.get('orderno').touched"
								>
									Invalid (or) Missing entry
								</mat-error>
							</mat-form-field>
						</div>
					</div>
				</div>

				<div style="justify-content: left; align-self: flex-start; padding-left: 1rem">
					<div>
						<mat-form-field>
							<mat-label>Invoice Date</mat-label>
							<input
								matInput
								readonly
								required
								formControlName="invoicedate"
								[matDatepicker]="picker1"
								type="text"
								(focus)="picker1.open()"
								[max]="maxDate"
								(dateChange)="invoiceDateSelected($event)"
							/>
							<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
							<mat-datepicker #picker1></mat-datepicker>

							<mat-error
								*ngIf="(submitForm.get('invoicedate').hasError('required') || submitForm.get('invoicedate').hasError('patternInvalid'))  && submitForm.get('invoicedate').touched"
							>
								Invalid (or) Missing entry
							</mat-error>
						</mat-form-field>
					</div>
					<div *ngIf="mode === 'enquiry'">
						<mat-form-field class="mat-input-wrapper">
							<mat-label>Order Date</mat-label>
							<input matInput readonly [matDatepicker]="pickerod" formControlName="orderdate" (focus)="pickerod.open()" [max]="maxOrderDate" />
							<mat-datepicker-toggle matSuffix [for]="pickerod"></mat-datepicker-toggle>
							<mat-datepicker #pickerod></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>

		<ng-container *ngIf="!iscustomerselected">
			<div style="display: grid; place-items: center; padding: 2rem 2rem">
				<div style="color: #333333"><h4>Customer not selected</h4></div>
				<div style="color: #666666">Select customer & start adding items to sales cart</div>
			</div>
		</ng-container>

		<div class="purchase-wrap" *ngIf="iscustomerselected">
			<div class="wrap">
				<div class="acton-btns">
					<img class="cursor" src="/assets/svg/trash.svg" width="16px" height="16px" *ngIf="showDelIcon" (click)="presentDeleteConfirm()" />
					<span class="sub-menu cursor" *ngIf="showDelIcon" (click)="presentDeleteConfirm()">Delete</span>
				</div>

				<div class="acton-btns">
					<img class="cursor" src="/assets/svg/edit.svg" width="16px" height="16px" *ngIf="singleRowSelected" (click)="editTax()" /><span
						class="sub-menu cursor"
						*ngIf="singleRowSelected"
						(click)="editTax()"
						>Tax</span
					>
				</div>
				<div class="acton-btns">
					<img class="cursor" src="/assets/svg/edit.svg" width="16px" height="16px" *ngIf="singleRowSelected" (click)="editMrp()" />
					<span class="sub-menu cursor" *ngIf="singleRowSelected" (click)="editMrp()">Mrp</span>
				</div>
			</div>

			<div class="left">
				<div class="row1">
					<div class="item1 headstyl-center txt-center-align">#</div>
					<div class="item2 headstyl-left">Items & Description</div>

					<div class="item3 headstyl-right">Qty</div>
					<div class="item3 headstyl-right">MRP</div>
					<div class="item3 headstyl-center">Discount %</div>

					<div class="item4 headstyl-right">Tax %</div>

					<div class="item4 headstyl-right">Net Value</div>
				</div>
				<div class="row2">
					<ng-container *ngIf="listArr.length === 0 && iscustomerselected">
						<div style="display: grid; place-items: center; padding: 2rem 2rem">
							<div style="color: #333333"><h4>Sales cart</h4></div>
							<div style="color: #666666">There are no items in your Sales cart</div>
						</div>
					</ng-container>

					<!-- <ng-container *ngIf="!iscustomerselected">
						<div style="display: grid; place-items: center; padding: 2rem 2rem">
							<div style="color: #333333"><h4>Customer not selected</h4></div>
							<div style="color: #666666">Select customer & start adding items to sales cart</div>
						</div>
					</ng-container> -->

					<div *ngFor="let item of listArr ? listArr : []; let idx = index" class="list-item">
						<div class="txt-align">
							<mat-checkbox #myCheckbox (click)="checkedRow(idx)"></mat-checkbox>
						</div>
						<div class="item2">
							{{item.product_code}}
							<div class="desc">{{item.product_desc}}</div>
						</div>

						<div class="item4 txt-right-align num-format-cell-style">
							<mat-form-field class="example-full-width cursor" (click)="openCurrencyPad(idx)">
								<mat-label>Qty</mat-label>
								<input matInput type="number" value="{{item.qty}}" class="cursor" readonly />
								<mat-icon matSuffix>view_comfy</mat-icon>
							</mat-form-field>
						</div>

						<div class="item4 txt-right-align num-format-cell-style">{{item.mrp | number:'1.2-2'}}</div>

						<div class="item4 txt-right-align num-format-cell-style">
							<input
								matInput
								value="{{item.disc_percent | number:'1.2-2'}}"
								type="number"
								maxlength="3"
								min="0"
								max="100"
								class="styl-txt-box-small txt-pad"
								(click)="openRowNumberPad(idx,'discount')"
								appPreventCutCopyPaste
								readonly
							/>
						</div>

						<div class="item4 txt-right-align num-format-cell-style">{{item.taxrate}}</div>

						<div class="item4 txt-right-align num-format-cell-style">
							<span [ngClass]="marginCheck(item.margin)"> {{item.total_value }} </span>
						</div>
					</div>
				</div>
			</div>
			<div class="main-add">
				<div class="left">
					<div>
						<div>
							<mat-form-field class="example-full-width">
								<mat-label>Select Item Code</mat-label>
								<input
									matInput
									[matAutocomplete]="auto1"
									[readonly]="!iscustomerselected"
									formControlName="productctrl"
									#typehead
									#plist
									matTooltipPosition="after"
									tabindex="3"
								/>
								<mat-hint matTooltip="Add product">Hint: Type product code</mat-hint>

								<button mat-button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearProdInput()">
									<mat-icon>close</mat-icon>
								</button>

								<mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayProdFn" (optionSelected)="setItemDesc($event, 'click')">
									<mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="20"></mat-spinner></mat-option>
									<ng-container *ngIf="!isLoading">
										<mat-option
											*ngFor="let product of product_lis"
											[value]="product"
											style="padding-top: 15px; height: 3.3em !important; padding-bottom: 15px"
										>
											<div style="display: grid; grid-template-columns: 1fr 80px">
												<div>
													<div style="font-size: 15px; padding: 2px; line-height: 1em">
														{{ product.product_code }} &nbsp;&nbsp; <span style="color: blue">MRP: {{ product.mrp | currency: "INR"}}</span>
													</div>
													<div style="font-size: 14px; padding: 2px; line-height: 1em; color: grey">{{ product.description }}</div>
												</div>
												<div>
													<div style="font-size: 15px; padding: 2px; line-height: 1em; text-align: right">In Stock</div>
													<div style="font-size: 14px; padding: 2px; line-height: 1em; text-align: right; color: blue">
														{{ product.available_stock }}
													</div>
												</div>
											</div>
										</mat-option>
									</ng-container>
								</mat-autocomplete>

								<mat-error *ngIf="submitForm.controls['productctrl'].hasError('incorrect')"> Invalid product code </mat-error>
							</mat-form-field>
						</div>
					</div>
					<div>
						<mat-form-field class="example-full-width">
							<mat-label>Qty</mat-label>
							<input matInput type="number" min="1" max="1000" formControlName="tempqty" required />
							<mat-hint matTooltip="Info about the action">Hint: Max 1000</mat-hint>
						</mat-form-field>
					</div>
					<div>
						<button mat-stroked-button color="primary" tabindex="4" #newrow [disabled]="!iscustomerselected" type="button" (click)="add()">
							+ New Row
						</button>
					</div>
				</div>
				<div class="right">
					<div style="display: grid; grid-template-columns: 1fr 1fr">
						<div style="color: #666666; text-align: right; font-size: 14px"># Items</div>
						<div style="color: #666666; text-align: right; font-size: 14px">{{listArr.length}}</div>

						<div *ngIf="i_gst" style="color: #666666; text-align: right; font-size: 14px">IGST</div>
						<div style="color: #666666; text-align: right; font-size: 14px" *ngIf="i_gst">{{igstTotal | number:'1.2-2'}}</div>

						<div *ngIf="!i_gst" style="color: #666666; text-align: right; font-size: 14px">CGST</div>
						<div style="color: #666666; text-align: right; font-size: 14px" *ngIf="!i_gst">{{cgstTotal | number:'1.2-2'}}</div>

						<div *ngIf="!i_gst" style="color: #666666; text-align: right; font-size: 14px">SGST</div>
						<div style="color: #666666; text-align: right; font-size: 14px" *ngIf="!i_gst">{{sgstTotal | number:'1.2-2'}}</div>
					</div>
					<div>
						<div style="color: #666666; text-align: right; font-size: 14px">Total</div>
						<div style="text-align: right" class="align-self-center left-pad20 fsize32 fweight500">{{this.total | number:'1.2-2'}}</div>
					</div>
				</div>
			</div>

			<div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 80px">
				<div style="display: grid; grid-template-columns: 1fr 1fr">
					<div style="display: grid; padding: 60px 0px 16px 0px; grid-column: 1/-1">Shipment Details</div>
					<div>
						<mat-form-field class="mat-input-wrapper">
							<mat-label>Lr #</mat-label>
							<input matInput #lrno type="text" formControlName="lrno" />

							<mat-error
								*ngIf="(submitForm.get('lrno').hasError('required') || submitForm.get('lrno').hasError('patternInvalid'))  && submitForm.get('lrno').touched"
							>
								Invalid (or) Missing entry
							</mat-error>
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="mat-input-wrapper">
							<mat-label>Lr Date</mat-label>
							<input matInput readonly [matDatepicker]="pickerlr" (focus)="pickerlr.open()" formControlName="lrdate" [max]="maxDate" />
							<mat-datepicker-toggle matSuffix [for]="pickerlr"></mat-datepicker-toggle>
							<mat-datepicker #pickerlr></mat-datepicker>
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="mat-input-wrapper">
							<mat-label>Shipped Date</mat-label>
							<input matInput readonly [matDatepicker]="pickerrcvd" formControlName="orderrcvddt" (focus)="pickerrcvd.open()" [max]="maxDate" />
							<mat-datepicker-toggle matSuffix [for]="pickerrcvd"></mat-datepicker-toggle>
							<mat-datepicker #pickerrcvd></mat-datepicker>
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="mat-input-wrapper cursor">
							<mat-label># of boxes</mat-label>
							<input matInput type="number" formControlName="noofboxes" />
							<!-- <mat-icon matSuffix (click)="openNumberPad('noofboxes')">view_comfy</mat-icon> -->
						</mat-form-field>
					</div>
				</div>

				<div style="display: grid; grid-template-columns: 1fr 1fr">
					<div style="display: grid; padding: 60px 0px 16px 0px; grid-column: 1/-1">Additional Costs (Optional)</div>
					<div>
						<mat-form-field class="mat-input-wrapper cursor">
							<mat-label>Transport Cost</mat-label>
							<input matInput type="number" formControlName="transport_charges" />
							<!-- <mat-icon matSuffix (click)="openNumberPad('transport_charges')">view_comfy</mat-icon> -->
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="mat-input-wrapper cursor">
							<mat-label>Unloading Cost</mat-label>
							<input matInput type="number" formControlName="unloading_charges" />
							<!-- <mat-icon matSuffix (click)="openNumberPad('unloading_charges')">view_comfy</mat-icon> -->
						</mat-form-field>
					</div>

					<div>
						<mat-form-field class="mat-input-wrapper cursor">
							<mat-label>Misc Cost</mat-label>
							<input matInput type="number" formControlName="misc_charges" />
							<!-- <mat-icon matSuffix (click)="openNumberPad('misc_charges')">view_comfy</mat-icon> -->
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>

		<ng-container>
			<div class="footer" *ngIf="iscustomerselected">
				<div>
					<div style="font-size: 12px; color: #797979">Net Total</div>
					<div style="font-size: 32px">{{getNetTotal() | currency: "INR" }}</div>
				</div>
				<div class="stockissue" *ngIf="stock_issue_ref">
					<div>
						<div style="font-size: 12px; color: grey">Stock Issued Ref#</div>
						<div style="font-size: 14px; color: #444444">{{stock_issue_ref}}</div>
					</div>
					<div>
						<div style="font-size: 12px; color: grey">Stock Issued on</div>
						<div style="font-size: 14px; color: #444444">{{stock_issue_date_ref}}</div>
					</div>
				</div>
				<div *ngIf="!stock_issue_ref">&nbsp;</div>

				<div class="submit">
					<button
						appPreventDoubleClick
						class="cursor"
						(click)="presentCancelConfirm()"
						[throttleTime]="500"
						mat-stroked-button
						color="primary"
						type="button"
					>
						Cancel</button
					>&nbsp;
					<button
						*ngIf="((submitForm.get('status').value !== 'C') && (selInvType !== 'stockissue')) "
						style="border-radius: 0px"
						appPreventDoubleClick
						class="cursor"
						(throttledClick)="onSubmit('draft')"
						type="button"
						[throttleTime]="500"
						mat-stroked-button
						type="button"
						color="primary"
					>
						Save as Draft
					</button>
					<button
						*ngIf="((submitForm.get('status').value !== 'C') && (selInvType === 'stockissue')) "
						style="border-radius: 0px"
						appPreventDoubleClick
						class="cursor"
						(throttledClick)="onSubmit('draft')"
						type="button"
						[throttleTime]="500"
						mat-stroked-button
						type="button"
						color="primary"
					>
						Save Estimate
					</button>
					<button
						*ngIf="((submitForm.get('status').value !== 'C') && (selInvType === 'stockissue')) "
						mat-raised-button
						color="primary"
						#ddTrigger="matMenuTrigger"
						[matMenuTriggerFor]="dd1"
						style="border-radius: 0px; border-left: 1px solid grey; padding: 0px 8px"
					>
						<mat-icon>arrow_drop_up</mat-icon>
					</button>
					&nbsp;
					<button
						*ngIf="selInvType !== 'stockissue'"
						style="border-radius: 0px"
						appPreventDoubleClick
						class="cursor"
						(throttledClick)="onSubmit('add')"
						type="button"
						[throttleTime]="500"
						mat-raised-button
						type="button"
						color="primary"
					>
						Generate Invoice
					</button>

					<button
						*ngIf="((submitForm.get('status').value === 'C') && (selInvType !== 'stockissue')) "
						mat-raised-button
						color="primary"
						#ddTrigger="matMenuTrigger"
						[matMenuTriggerFor]="dd"
						style="border-radius: 0px; border-left: 1px solid grey; padding: 0px 8px"
					>
						<mat-icon>arrow_drop_up</mat-icon>
					</button>
					&nbsp;

					<button
						*ngIf="((submitForm.get('status').value === 'D') && (selInvType === 'stockissue')) "
						style="border-radius: 0px"
						appPreventDoubleClick
						class="cursor"
						(throttledClick)="presentConvertSaleConfirm()"
						type="button"
						[throttleTime]="500"
						mat-raised-button
						type="button"
						color="primary"
					>
						Convert to Sale Invoice
					</button>

					<!-- <mat-hint
					*ngIf="((submitForm.get('status').value === 'D') && (selInvType === 'stockissue')) "
					style="color: blue; padding: 5px; border: 1px solid blue; border-radius: 20px; cursor: pointer;"
					(click)="presentConvertSaleConfirm()"
					>convert to sale Invoice</mat-hint
				> -->
				</div>
			</div>
		</ng-container>
	</form>
	<mat-menu #dd="matMenu" [overlapTrigger]="false">
		<mat-option>
			<button mat-button type="button" (click)="onSubmit('print')">Save & Print</button>
		</mat-option>
	</mat-menu>

	<mat-menu #dd1="matMenu" [overlapTrigger]="false">
		<mat-option>
			<button mat-button type="button" (click)="onSubmit('print')">Save & Print</button>
		</mat-option>
	</mat-menu>
</ion-content>
