.top-header,
.screen-header {
	display: flex;
	width: 94%;
	margin: 0 auto;
	padding: 8px;
	font-size: 16px;
	font-weight: 500;
	color: #222222;
	background-color: #ffffff;
	justify-content: space-between;
}

.purchase-wrap {
	display: grid;
	width: 96%;
	margin: 0 auto;
	height: auto;
	min-height: calc(100vh - 91px);

	.left {
		display: grid;
		grid-template-rows: 50px 1fr 70px 90px;
		padding: 10px;
		min-height: 80vh;
		//	background-color: palevioletred;

		.row1 {
			display: grid;
			grid-template-columns: 40px minmax(250px, 600px) 110px 110px 110px 110px 110px 110px 140px 110px;
			// align-self: center;
			align-items: center;
			// padding-bottom: 10px;
			border-bottom: 2px solid grey;
		}

		.row2 {
			align-items: center;
			overflow-y: auto;
			overflow-x: hidden;
			max-height: 500px;
			.list-item {
				display: grid;
				grid-template-columns: 40px minmax(250px, 600px) 110px 110px 110px 110px 110px 110px 140px 110px;
				align-self: center;
				border-bottom: 1px solid grey;
				font-size: 14px;
				padding-top: 5px;
			}
		}

		.row3 {
			display: flex;
			justify-content: space-around;
			border-top: 2px solid #acacac;
			border-bottom: 2px solid #acacac;
			padding: 5px;

			.item {
				text-align: center;
			}
			.label {
			}
		}

		.row4 {
			display: grid;
			grid-template-columns: 1fr 1fr 1.5fr;
			padding: 10px;
			border-top: 1px solid grey;
			border-bottom: 1px solid grey;

			.item {
				display: grid;
				grid-template-columns: 1fr 1.5fr;
			}
		}
	}

	.row2 {
		display: grid;
		align-self: start;
	}
}

.mat-input-wrapper {
	width: 280px !important;
}

.styl-txt-box-small {
	width: 75px !important;
	border: 1px solid #d1d1d1;
	padding: 4px;
	border-radius: 5px;
}

.iconSize {
	font-size: 24px;
	color: rgba(121, 121, 121, 1);
	padding: 5px;
}

.txt-pad {
	padding: 8px;
}

.headstyl-left {
	text-align: left;
	font-size: 16px;
	font-weight: 500;
}

.headstyl-right {
	text-align: right;
	font-size: 16px;
	font-weight: 500;
}

.headstyl-center {
	text-align: center;
	font-size: 16px;
	font-weight: 500;
}

.tax-style {
	padding: 0px 20px;
	font-size: 14px;
}

.num-format-cell-style {
	padding-right: 10px;
	align-self: center;
}

.desc {
	font-size: 14px;
	color: grey;
	font-weight: 400;
}

.empty-add {
	text-align: center;
	padding: 50px;
	font-size: 22px;
	color: #3d31e6;
}

.add-actn {
	text-align: center;
	font-size: 22px;
	color: #3d31e6;
}

.overview {
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 16px;
	color: #0012ff;
}

.change {
	font-size: 12px;
	color: #797979;
	padding-right: 2px;
}

.purchase-wrap1 {
	display: grid;
	width: 100%;

	align-content: start;
	height: fit-content;

	.row1 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 20px;
		padding-bottom: 10px;
	}
}

// .example-full-width {
// 	width: 100px;
// 	text-align: right;
// }

.txt-align {
	display: grid;
	align-self: center;
	justify-content: center;
}

.wrap {
	display: flex;
}

.wrap div:last-child {
	margin-left: auto;
}

.sub-menu {
	font-size: 13px;
	color: #797979;
	padding-left: 4px;
}

.acton-btns {
	padding: 4px 10px;
}

.marginneg {
	border-bottom: 2px solid red;
	padding-top: 5px;
}

.customer {
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr 1fr;
	padding: 10px;
	width: 90%;
	margin: 0 auto;
}

.cust-info {
	display: grid;
	align-self: center;
	font-size: 12px;
	justify-content: left;
	padding-left: 10px;
}

.example-full-width {
	width: 100%;
}

.enq-form {
	display: grid;
	align-content: flex-start;
	width: 80%;
	margin: 0 auto;
	// min-height: 90vh;
}
