.screen-header {
	display: flex;
	font-weight: 400;
	padding: 10px;
	width: 100%;
	font-size: 14px;
}

.purchase-wrap {
	display: grid;
	width: 94%;
	margin: 0 auto;
	height: auto;
	padding-bottom: 100px;

	.left {
		display: grid;
		grid-template-rows: 40px 1fr;
		padding: 10px 10px 50px 10px;

		.row1 {
			display: grid;
			grid-template-columns: 40px minmax(250px, 600px) 110px 110px 110px 110px 110px 110px;
			align-items: center;
			border-bottom: 2px solid rgb(173, 173, 173);
			color: "#a5a5a6";
			background-color: #f5f5f5;
		}

		.row2 {
			align-items: center;
			overflow-y: auto;
			overflow-x: hidden;
			max-height: 500px;
			.list-item {
				display: grid;
				grid-template-columns: 40px minmax(250px, 600px) 110px 110px 110px 110px 110px 110px;
				align-self: center;
				border-bottom: 1px solid #e0d9d9;
				font-size: 14px;
				padding-top: 5px;
			}
		}

		// .row3 {
		// 	display: flex;
		// 	justify-content: space-around;
		// 	border-top: 2px solid #acacac;
		// 	border-bottom: 2px solid #acacac;
		// 	padding: 5px;

		// 	.item {
		// 		text-align: center;
		// 	}
		// 	.label {
		// 	}
		// }

		// .row4 {
		// 	display: grid;
		// 	grid-template-columns: 1fr 1fr 1.5fr;
		// 	padding: 10px;
		// 	border-top: 1px solid grey;
		// 	border-bottom: 1px solid grey;

		// 	.item {
		// 		display: grid;
		// 		grid-template-columns: 1fr 1.5fr;
		// 	}
		// }
	}

	.row2 {
		display: grid;
		align-self: start;
	}
}

.mat-input-wrapper {
	width: 280px !important;
}

.styl-txt-box-small {
	width: 75px !important;
	border: 1px solid #d1d1d1;
	padding: 4px;
	border-radius: 5px;
}

.iconSize {
	font-size: 24px;
	color: rgba(121, 121, 121, 1);
	padding: 5px;
}

.txt-pad {
	padding: 8px;
}

.headstyl-left {
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	color: #666666;
}

.headstyl-right {
	text-align: right;
	font-size: 16px;
	font-weight: 500;
	color: #666666;
}

.headstyl-center {
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	color: #666666;
}

.tax-style {
	padding: 0px 20px;
	font-size: 14px;
}

.num-format-cell-style {
	padding-right: 10px;
	align-self: center;
}

.desc {
	font-size: 14px;
	color: grey;
	font-weight: 400;
}

.empty-add {
	text-align: center;
	padding: 50px;
	font-size: 22px;
	color: #3d31e6;
}

.add-actn {
	text-align: center;
	font-size: 22px;
	color: #3d31e6;
}

.overview {
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 16px;
	color: #0012ff;
}

.change {
	font-size: 12px;
	color: #797979;
	padding-right: 2px;
}

.purchase-wrap1 {
	display: grid;
	width: calc(100% - 250px);

	align-content: start;
	height: fit-content;

	.row1 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 20px;
		padding-bottom: 10px;
	}
}

.txt-align {
	display: grid;
	align-self: center;
	justify-content: center;
}

.wrap {
	display: flex;
}

.wrap div:last-child {
	// margin-left: auto; // To push the last element to end of the row div
}

.sub-menu {
	font-size: 13px;
	color: #797979;
	padding-left: 4px;
}

.acton-btns {
	padding: 4px 10px;
}

.marginneg {
	border-bottom: 2px solid red;
	padding-top: 5px;
}

.cust-info {
	display: grid;
	align-self: center;
	font-size: 12px;
	justify-content: left;
	padding-left: 10px;
}

.example-full-width {
	width: 100%;
}

.enq-form {
	display: grid;
	align-content: flex-start;
	width: 80%;
	margin: 0 auto;
	// min-height: 90vh;
}

.footer {
	display: flex;
	position: fixed;
	justify-content: space-between;
	bottom: 0px;
	padding: 1rem;
	width: 100%;
	height: auto;
	background-color: #f7f9fd;
	border-top: 1px solid #e6e6e6;
}

.enq-bottom {
	display: grid;
	position: fixed;

	bottom: 56px;

	width: 100%;
	padding: 0px 5%;
	height: auto;
	background-color: #ffffff;
}

.customer {
	display: grid;
	grid-template-columns: 450px 1fr 1fr 1fr;
	padding: 3rem 1rem;
	width: 94%;
	margin: 0 auto;
}

.main-add {
	display: grid;
	grid-template-columns: 2fr minmax(350px, 450px);

	background-color: #e8e8e8;

	.left {
		display: grid;
		grid-template-columns: 1fr minmax(80px, 100px) 150px;
		align-items: center;
		grid-gap: 10px;
		background-color: #e8e8e8;
		padding: 1rem;
		align-self: center;
	}
	.right {
		display: grid;
		grid-template-columns: 1fr 1fr;
		background-color: #efefef;
		padding: 1rem;
	}
}

.small-icon-button {
	width: 42px !important;
	height: 42px !important;
	line-height: 42px !important;

	.mat-icon {
		width: 32px !important;
		height: 32px !important;
		line-height: 28px !important;
	}
	.material-icons {
		font-size: 32px !important;
	}
}
.stockissue {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 340px;
	gap: 20px;
}
