<!-- <app-menu-header></app-menu-header> -->
<ion-content>
	<!-- <app-side-menu></app-side-menu> -->
	<!-- <ion-header>
		<ion-toolbar>
			<ion-title slot="start">
				LOGO
			</ion-title>
			<ion-title slot="end">
				{{customername}}
				<div *ngIf="customerselected" (click)="showAllCustomersComp()">
					<span class="change">Change</span
					><span>
						<img src="../../assets/images/svg/down-arrow.svg" width="10px" height="10px" />
					</span>
				</div>
			</ion-title>
		</ion-toolbar>
	</ion-header> -->
	<div class="screen-header">
		<div>
			Sales <span *ngIf="!fromEnquiry">&nbsp;Direct</span
			><span *ngIf="fromEnquiry">&nbsp;via Enquiry #{{this.enqid}}</span>
		</div>

		<div>
			{{customername}}
			<span *ngIf="customerselected" (click)="showAllCustomersComp()">
				<img src="../../assets/images/svg/down-arrow.svg" width="10px" height="10px" />
			</span>
		</div>
	</div>

	<form [formGroup]="submitForm" class="purchase-wrap">
		<div class="left">
			<div class="row1">
				<div class="item1 headstyl-left txt-center-align">#</div>
				<div class="item2 headstyl-left">Product Information</div>
				<div class="item3 headstyl-center">MRP</div>
				<div class="item3 headstyl-center">Qty</div>
				<div class="item3 headstyl-center">Discount %</div>

				<div class="item4 headstyl-center">Total <br />Value</div>
				<div class="item4 headstyl txt-center-align tax-style">
					<div class="headstyl-center">Tax</div>
					<hr color="#D1D1D1" style="margin: 4px;" />
					<ng-container *ngIf="customerselected">
						<div *ngIf="i_gst" class="headstyl-center" style="font-size: 14px;">IGST</div>
						<div *ngIf="!i_gst" class="headstyl-center" style="font-size: 14px;">CGST / SGST</div>
					</ng-container>
				</div>
			</div>
			<div class="row2">
				<ng-container *ngIf="customerselected; then showproductsection; else beginsetup"> </ng-container>

				<ng-template #beginsetup>
					<div class="sel-vendor">
						<span (click)="showAllCustomersComp()">
							+ Add Customer
						</span>
					</div>
				</ng-template>
				<ng-template #showproductsection>
					<div *ngIf="listArr.length === 0" class="sel-vendor">
						<span (click)="customerselected && showAddProductComp()">
							+ Add Product
						</span>
					</div>
					<div *ngFor="let item of listArr ? listArr : []; let idx = index" class="list-item">
						<div class="item1 txt-left-align">{{idx + 1}}</div>
						<div class="item2">
							{{item.product_code}}
							<div class="desc">
								{{item.product_desc}}
							</div>
						</div>

						<div class="item3 txt-center-align">
							<input
								matInput
								value="{{item.mrp}}"
								type="text"
								class="styl-txt-box-small txt-pad"
								(click)="openNumberPad(idx, 'mrp')"
								appPreventCutCopyPaste
								readonly
							/>
						</div>

						<div class="item3 txt-center-align">
							<input
								matInput
								value="{{item.qty}}"
								type="text"
								class="styl-txt-box-small txt-pad"
								(click)="openNumberPad(idx, 'qty')"
								appPreventCutCopyPaste
								readonly
							/>
						</div>

						<div class="item4 txt-right-align num-format-cell-style">
							<input
								matInput
								value="{{this.cust_discount_prcnt | number:'1.2-2'}}"
								type="text"
								class="styl-txt-box-small txt-pad"
								(click)="openNumberPad(idx, 'discount')"
								appPreventCutCopyPaste
								readonly
							/>
						</div>
						<div class="item4 txt-right-align num-format-cell-style">
							{{item.taxable_value | number:'1.2-2'}}
						</div>
						<div class="item4 txt-center-align tax-style">
							<div *ngIf="i_gst">
								{{item.taxrate}}
							</div>
							<div *ngIf="!i_gst">
								{{item.cgst}}% / {{item.sgst}}%
							</div>

							<hr color="#D1D1D1" style="margin: 4px;" />
							<ng-container *ngIf="i_gst">
								{{(item.tax_value) | number:'1.2-2'}}
							</ng-container>
							<ng-container *ngIf="!i_gst">
								{{(item.cgst_value) | number:'1.2-2'}} / {{(item.sgst_value) | number:'1.2-2'}}
							</ng-container>
						</div>

						<div
							class="item4"
							(click)="deleteProduct(item, idx)"
							class="txt-center-align align-self-center"
						>
							<img src="/assets/images/svg/minus.svg" width="24px" height="24px" />
						</div>
					</div>
				</ng-template>
			</div>
			<div class="row3">
				<ng-container>
					<div class="item" (click)="customerselected && showAddProductComp()">
						<img src="/assets/images/svg/more.svg" width="28px" height="28px" />
						<div class="label">Add Product</div>
					</div>

					<div class="item" (click)="customerselected && clearAll()">
						<img src="/assets/images/svg/trash.svg" width="28px" height="28px" />
						<div class="label">Clear All</div>
					</div>
				</ng-container>
			</div>
			<div class="row4">
				<div class="row4-header">
					<div class="row4-header1">CLASS</div>
					<div class="row4-header2">SUB TOTAL</div>
					<div class="row4-header3">DISC</div>
					<div class="row4-header4">AMOUNT</div>
					<div class="row4-header6" *ngIf="i_gst">IGST</div>
					<div class="row4-header5" *ngIf="!i_gst">SGST</div>
					<div class="row4-header6" *ngIf="!i_gst">CGST</div>
					<div class="row4-header7">GST</div>
					<div class="row4-header8">TOTAL</div>
				</div>

				<div class="row4-details">
					<div class="subitem align-self-center">GST 18%</div>
					<div class="subitem align-self-center">{{GST_18_sub_total}}</div>

					<div class="subitem align-self-center">{{GST_18_disc}}</div>
					<div class="subitem align-self-center">{{GST_18_total_value}}</div>

					<div class="subitem align-self-center" *ngIf="!i_gst">{{GST_18_cgst}}</div>
					<div class="subitem align-self-center" *ngIf="!i_gst">{{GST_18_sgst}}</div>

					<div class="subitem align-self-center">{{GST_18_gst}}</div>
					<div class="subitem align-self-center">{{this.total}}</div>
				</div>
				<div class="row4-details">
					<div class="subitem align-self-center">GST 28%</div>
					<div class="subitem align-self-center">{{GST_28_sub_total}}</div>

					<div class="subitem align-self-center">{{GST_28_disc}}</div>
					<div class="subitem align-self-center">{{GST_28_total_value}}</div>

					<div class="subitem align-self-center" *ngIf="!i_gst">{{GST_28_cgst}}</div>
					<div class="subitem align-self-center" *ngIf="!i_gst">{{GST_28_sgst}}</div>

					<div class="subitem align-self-center">{{GST_28_gst}}</div>
					<div class="subitem align-self-center">{{this.total}}</div>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="row1">
				<ion-item class="input-item" lines="none">
					<mat-form-field class="mat-input-wrapper">
						<input
							matInput
							readonly
							[matDatepicker]="pickerinv"
							formControlName="invoicedate"
							placeholder="Invoice date (DD-MM-YYYY)"
							(focus)="pickerinv.open()"
						/>
						<mat-datepicker-toggle matSuffix [for]="pickerinv"></mat-datepicker-toggle>
						<mat-datepicker #pickerinv></mat-datepicker>
					</mat-form-field>
				</ion-item>
			</div>
			<div class="row2">
				<button (click)="onSubmit()" class="neuBtn">
					Save
				</button>
				<br />
				<button (click)="onPrint()" class="neuBtn">
					Pring
				</button>
			</div>
		</div>
	</form>
</ion-content>
