<ion-content>
	<div class="search-wrap">
		<form [formGroup]="submitForm">
			<div class="form-wrap">
				<div
					class="title"
					(click)="goPurchaseAddScreen()"
					style="cursor: pointer"
				>
					PURCHASE&nbsp;&nbsp;&nbsp;+
				</div>
				<div class="vendors">
					<mat-form-field class="width">
						<mat-label>Search</mat-label>
						<input
							matInput
							[matAutocomplete]="auto"
							formControlName="vendorctrl"
							required
							matTooltip="Type to filter the Vendor list"
							matTooltipPosition="after"
						/>
						<button
							mat-button
							matSuffix
							mat-icon-button
							aria-label="Clear"
							type="button"
							(click)="clearInput()"
						>
							<mat-icon>close</mat-icon>
						</button>
						<mat-autocomplete
							#auto="matAutocomplete"
							(optionSelected)="getPosts($event)"
						>
							<mat-option *ngFor="let vendor of vendor_lis" [value]="vendor">
								<span>{{ vendor.name }} </span>
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</div>

				<div>
					<mat-form-field class="mat-input-wrapper" style="padding-top: 20px">
						<mat-label>From</mat-label>
						<input
							matInput
							readonly
							[max]="maxDate"
							[matDatepicker]="fromdate"
							formControlName="fromdate"
							(focus)="fromdate.open()"
							(dateChange)="fromDateSelected($event)"
						/>
						<mat-datepicker-toggle
							matSuffix
							[for]="fromdate"
						></mat-datepicker-toggle>
						<mat-datepicker #fromdate></mat-datepicker>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field class="mat-input-wrapper" style="padding-top: 20px">
						<mat-label>To</mat-label>
						<input
							matInput
							readonly
							[matDatepicker]="todate"
							[max]="maxDate"
							formControlName="todate"
							(focus)="todate.open()"
							required
							(dateChange)="toDateSelected($event)"
						/>
						<mat-datepicker-toggle
							matSuffix
							[for]="todate"
						></mat-datepicker-toggle>
						<mat-datepicker #todate></mat-datepicker>
					</mat-form-field>
				</div>
				<!-- <div>
					<mat-form-field class="mat-width-ext" style="padding-top: 20px;">
						<mat-label>Status</mat-label>
						<mat-select formControlName="status" (selectionChange)="statusChange($event)" required value="{statusFlag}">
							<mat-option *ngFor="let item of statusList" [value]="item.id">
								{{item.value}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div> -->
				<div class="search-btn" style="padding-top: 20px">
					<button
						mat-raised-button
						[disabled]="!submitForm.valid"
						color="primary"
						style="font-size: 1rem"
						(click)="search()"
					>
						Search
					</button>
				</div>
			</div>
		</form>

		<div style="display: flex; justify-content: space-between">
			<div
				style="
					align-self: center;
					font-size: 16px;
					padding: 16px 16px 0px 32px;
					color: darkblue;
				"
			>
				All Orders ({{(purchases$| async)?.length }}) records
			</div>
			<div>&nbsp;</div>
		</div>

		<div
			style="width: 94%; margin: 0 auto; padding: 16px 0px 100px 0px"
			[@.disabled]="true"
		>
			<mat-tab-group
				color="primary"
				[(selectedIndex)]="tabIndex"
				(selectedTabChange)="tabClick($event)"
			>
				<!-- <mat-tab label="All Orders ({{(purchases$| async)?.length }})">
					<ng-template [ngTemplateOutlet]="MsgRef"></ng-template>
					<ng-template [ngTemplateOutlet]="MsgRef1"></ng-template>
				</mat-tab> -->

				<mat-tab label="Draft ({{(draftPurchase$| async)?.length }})">
					<ng-template [ngTemplateOutlet]="draftMsgRef"></ng-template>
					<ng-template [ngTemplateOutlet]="MsgRef1"></ng-template>
				</mat-tab>

				<mat-tab label="Completed  ({{(fullfilledPurchase$| async)?.length }})">
					<ng-template [ngTemplateOutlet]="MsgRef"></ng-template>
					<ng-template [ngTemplateOutlet]="MsgRef1"></ng-template>
				</mat-tab>
			</mat-tab-group>
		</div>
	</div>

	<ng-template #draftMsgRef>
		<div class="header header-style">
			<div>INVOICE #</div>
			<div>INV DATE</div>
			<div>VENDOR NAME</div>
			<div class="txt-right-align"># ITEMS</div>
			<div class="txt-right-align">TOTAL VALUE</div>
			<div class="txt-center-align">STATUS</div>
			<div>&nbsp;</div>
			<div class="txt-center-align">REVISION</div>
			<div class="txt-center-align">
				<img
					src="/assets/images/svg/download-excel.svg"
					style="cursor: pointer"
					width="32px"
					height="32px"
					(click)="exportDraftPurchaseToExcel()"
				/>
			</div>
		</div>
		<div class="headerRow">
			<div>&nbsp;</div>
			<div>&nbsp;</div>
			<div class="txt-right-align" style="font-size: 14px; font-weight: 500">
				&nbsp;
			</div>
			<div class="txt-right-align" style="font-size: 14px; font-weight: 500">
				{{this.sumNumItems}}
			</div>
			<div class="txt-right-align" style="font-size: 14px; font-weight: 500">
				{{this.sumTotalValue | number:'1.2-2'}}
			</div>
			<div>&nbsp;</div>
			<div>&nbsp;</div>
			<div>&nbsp;</div>
		</div>
	</ng-template>

	<ng-template #MsgRef>
		<div class="header header-style">
			<div>INVOICE #</div>
			<div>INV DATE</div>
			<div>VENDOR NAME</div>
			<div class="txt-right-align"># ITEMS</div>
			<div class="txt-right-align">TOTAL VALUE</div>
			<div class="txt-center-align">STATUS</div>
			<div>&nbsp;</div>
			<div class="txt-center-align">REVISION</div>
			<div class="txt-center-align">
				<img
					src="/assets/images/svg/download-excel.svg"
					style="cursor: pointer"
					width="32px"
					height="32px"
					(click)="exportCompletedPurchaseToExcel()"
				/>
			</div>
		</div>
		<div class="headerRow">
			<div>&nbsp;</div>
			<div>&nbsp;</div>
			<div class="txt-right-align" style="font-size: 14px; font-weight: 500">
				&nbsp;
			</div>
			<div class="txt-right-align" style="font-size: 14px; font-weight: 500">
				{{this.sumNumItems}}
			</div>
			<div class="txt-right-align" style="font-size: 14px; font-weight: 500">
				{{this.sumTotalValue | number:'1.2-2'}}
			</div>
			<div>&nbsp;</div>
			<div>&nbsp;</div>
			<div>&nbsp;</div>
		</div>
	</ng-template>

	<ng-template #MsgRef1>
		<div *ngFor="let item of filteredValues  " class="listItem">
			<div class="item">{{item.invoice_no}}</div>
			<div class="item">{{item.invoice_date}}</div>
			<div class="item">{{item.vendor_name}}</div>
			<div class="item txt-right-align">{{item.no_of_items}}</div>
			<div class="item txt-right-align">
				{{item.net_total | number:'1.2-2'}}
			</div>
			<div class="item txt-center-align">
				{{item.status === 'D' ? 'Draft' : 'Completed'}}
			</div>
			<div class="item cursor txt-center-align">
				<mat-icon
					[ngStyle]="{'color':'blue'}"
					(click)="goPurchaseEditScreen(item)"
					>edit
				</mat-icon>
			</div>
			<div class="item cursor" style="text-align: center">
				<mat-icon [ngStyle]="{'color':'#6d78d2'}" (click)="openDialog(item)"
					>remove_red_eye
				</mat-icon>
			</div>
			<div class="item cursor txt-center-align" *ngIf="item.status === 'D'">
				<mat-icon
					[ngStyle]="{'color':'#ff8484'}"
					(click)="presentAlertConfirm(item)"
					>delete
				</mat-icon>
			</div>
			<div class="txt-center-align">
				<span *ngIf="item.status === 'C'">{{item.revision}}</span>
			</div>
		</div>
	</ng-template>
</ion-content>
