.search-wrap {
	display: grid;
	width: 94%;
	margin: 0 auto;
	padding-top: 16px;
}

.form-wrap {
	display: flex;
}

.search-btn {
	padding-left: 20px;
	padding-top: 20px;
}

.header,
.listItem,
.headerRow {
	display: grid;
	grid-template-columns: 180px 150px 1fr 2fr 1fr 1fr 1fr 1fr 80px;
	padding: 5px;
}

.header-style {
	background-color: #757575;
	color: #ffffff;
}

.listItem {
	background-color: #fff;
	border-bottom: 1px solid #f2f2f2;
}

.title-row {
	display: flex;
	justify-content: space-between;
}

.width {
	width: 280px !important;
}

.item {
	font-size: 13px;
	color: #555555;
}
