<ion-content>
	<div class="search-wrap">
		<form [formGroup]="submitForm">
			<div class="form-wrap">
				<div class="title" (click)="goSalesAddScreen()" style="cursor: pointer">SALES&nbsp;&nbsp;&nbsp;+</div>

				<div style="justify-self: end">
					<mat-radio-group formControlName="searchtype" class="example-radio-group" (change)="radioClickHandle()">
						<mat-radio-button class="radio-button" value="{{op.id}}" *ngFor="let op of searchType" [checked]="op.checked"
							>{{op.name}}</mat-radio-button
						>
					</mat-radio-group>
				</div>

				<div class="customers">
					<mat-form-field style="width: 200px">
						<mat-label>Search</mat-label>
						<input
							matInput
							[matAutocomplete]="auto"
							formControlName="customerctrl"
							required
							matTooltip="Type to filter the Customer list"
							matTooltipPosition="after"
						/>
						<button
							mat-button
							matSuffix
							mat-icon-button
							aria-label="Clear"
							*ngIf="this.submitForm.value.searchtype === 'all'"
							type="button"
							(click)="clearInput()"
						>
							<mat-icon>close</mat-icon>
						</button>
						<mat-autocomplete #auto="matAutocomplete" panelWidth="auto" (optionSelected)="getPosts($event)">
							<mat-option *ngFor="let customer of filteredCustomer | async" [value]="customer">
								<span>{{ customer.name }} </span>
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field class="mat-date-wrapper" style="padding-top: 20px">
						<mat-label>From</mat-label>
						<input
							matInput
							readonly
							[disableControl]="this.submitForm.value.searchtype !== 'all'"
							[max]="maxDate"
							[matDatepicker]="fromdate"
							formControlName="fromdate"
							(focus)="fromdate.open()"
							required
							(dateChange)="fromDateSelected($event)"
						/>
						<mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
						<mat-datepicker #fromdate></mat-datepicker>
					</mat-form-field>
				</div>
				<div style="padding-top: 20px">
					<mat-form-field class="mat-date-wrapper">
						<mat-label>To</mat-label>
						<input
							matInput
							readonly
							[disableControl]="this.submitForm.value.searchtype !== 'all'"
							[matDatepicker]="todate"
							[max]="maxDate"
							formControlName="todate"
							(focus)="todate.open()"
							required
							(dateChange)="toDateSelected($event)"
						/>
						<mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
						<mat-datepicker #todate></mat-datepicker>
					</mat-form-field>
				</div>

				<div style="padding-top: 20px">
					<mat-form-field style="width: 100%" class="readonly-wrapper">
						<mat-label>Sale Type</mat-label>
						<mat-select formControlName="saletype" required value="{saletypeFlag}" [disableControl]="this.submitForm.value.searchtype !== 'all'">
							<mat-option *ngFor="let item of saletypeList" [value]="item.id"> {{item.value}} </mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div style="padding-top: 20px">
					<mat-form-field style="width: 100%">
						<mat-label>Invoice #</mat-label>
						<input matInput type="text" #invno formControlName="invoiceno" />
						<mat-error *ngIf="submitForm.controls['invoiceno'].hasError('required')"> Please enter a value </mat-error>
					</mat-form-field>
				</div>

				<div class="search-btn" style="padding-top: 20px">
					<button mat-raised-button [disabled]="!submitForm.valid" color="primary" style="font-size: 1rem" (click)="search()">Search</button>
				</div>
			</div>
		</form>
		<div style="display: flex; justify-content: space-between">
			<div style="align-self: center; font-size: 16px; padding: 16px 16px 0px 32px; color: darkblue">
				All Orders ({{(sales$| async)?.length }}) records
			</div>
			<div>&nbsp;</div>
		</div>
		<div style="width: 94%; margin: 0 auto; padding-top: 16px" [@.disabled]="true">
			<mat-tab-group color="primary" [(selectedIndex)]="tabIndex" (selectedTabChange)="tabClick($event)">
				<mat-tab label="Draft ({{(draftSales$| async)?.length }})">
					<ng-template [ngTemplateOutlet]="draftMsgRef"></ng-template>
					<ng-template [ngTemplateOutlet]="MsgRef1"></ng-template>
				</mat-tab>

				<mat-tab label="Fullfilled  ({{(fullfilledSales$| async)?.length }})">
					<ng-template [ngTemplateOutlet]="MsgRef"></ng-template>
					<ng-template [ngTemplateOutlet]="MsgRef1"></ng-template>
				</mat-tab>
			</mat-tab-group>
		</div>
	</div>

	<ng-template #draftMsgRef>
		<div class="header header-style">
			<div>CUSTOMER NAME</div>
			<div>INVOICE #</div>
			<div>INV DATE</div>
			<div>SALE TYPE</div>

			<div class="txt-right-align"># ITEMS</div>
			<div class="txt-right-align">TOTAL VALUE</div>
			<div class="txt-center-align">STATUS</div>
			<div>&nbsp;</div>
		</div>
		<div class="headerRow" style="background-color: #dfdfdf">
			<div>&nbsp;</div>
			<div>&nbsp;</div>
			<div>&nbsp;</div>
			<div style="font-size: 14px; font-weight: 500">&nbsp;</div>
			<div style="font-size: 14px; font-weight: 500; text-align: right">{{this.sumNumItems}}</div>
			<div style="font-size: 14px; font-weight: 500; text-align: right">{{this.sumTotalValue | currency: "INR"}}</div>
			<div>&nbsp;</div>
			<div>&nbsp;</div>
		</div>
	</ng-template>

	<ng-template #MsgRef>
		<div class="header header-style">
			<div>CUSTOMER NAME</div>
			<div>INVOICE #</div>
			<div>INV DATE</div>
			<div>SALE TYPE</div>

			<div class="txt-right-align"># ITEMS</div>
			<div class="txt-right-align">TOTAL VALUE</div>

			<div>&nbsp;</div>
			<div>&nbsp;</div>
			<div>&nbsp;</div>
		</div>
		<div class="headerRow" style="background-color: #dfdfdf">
			<div>&nbsp;</div>
			<div>&nbsp;</div>
			<div>&nbsp;</div>
			<div style="font-size: 14px; font-weight: 500">&nbsp;</div>
			<div style="font-size: 14px; font-weight: 500; text-align: right">{{this.sumNumItems}}</div>
			<div style="font-size: 14px; font-weight: 500; text-align: right">{{this.sumTotalValue | currency: "INR"}}</div>
			<div>&nbsp;</div>
			<div>&nbsp;</div>
		</div>
	</ng-template>

	<ng-template #MsgRef1>
		<div *ngFor="let item of filteredValues" class="listItem">
			<div class="item">{{item.customer_name}}</div>
			<div class="item">{{item.invoice_no}}</div>
			<div class="item">{{item.invoice_date}}</div>
			<div class="item">{{item.sale_type === "gstinvoice" ? "Invoice" : "Stock Issue"}}</div>

			<div class="item" style="text-align: right">{{item.no_of_items}}</div>
			<div class="item" style="text-align: right">{{item.net_total | currency: "INR"}}</div>

			<div class="item" style="text-align: center">
				<mat-icon [ngStyle]="{'color':'#6d78d2', 'cursor': 'pointer'}" (click)="goSalesEditScreen(item)">edit </mat-icon>
			</div>

			<div class="item" style="text-align: center">
				<mat-icon [ngStyle]="{'color':'#6d78d2', 'cursor': 'pointer'}" (click)="openDialog(item)">remove_red_eye </mat-icon>
			</div>
			<div class="item" style="text-align: center">
				<mat-icon [ngStyle]="{'color':'#6d78d2', 'cursor': 'pointer'}" (click)="goPrintInvoice(item)">print </mat-icon>
			</div>
			<div class="item" *ngIf="item.status === 'D'" style="text-align: center">
				<mat-icon [ngStyle]="{'color':'#ff8484', 'cursor': 'pointer'}" (click)="presentAlertConfirm(item)">delete </mat-icon>
			</div>

			<div *ngIf="tabIndex === 1">
				<mat-icon [matMenuTriggerFor]="menu" [matMenuTriggerData]="{item: item}" style="cursor: pointer">more_vert</mat-icon>
			</div>
		</div>

		<div class="no-records" *ngIf="tabIndex === 0 && (draftSales$| async)?.length === 0">No item in status "Draft"</div>
		<div class="no-records" *ngIf="tabIndex === 1 && (fullfilledSales$| async)?.length === 0">No item in status "Fullfilled"</div>
	</ng-template>
</ion-content>

<mat-menu #menu="matMenu">
	<ng-template matMenuContent let-aliasMenuItems="item">
		<button mat-menu-item (click)="salesReturn(aliasMenuItems)">
			<mat-icon>keyboard_return</mat-icon>
			<span>Sales Return</span>
		</button>
	</ng-template>
</mat-menu>
