<ion-content>
	<div class="search-wrap">
		<form [formGroup]="submitForm">
			<div class="form-wrap">
				<div class="customers">
					<mat-form-field class="mat-width-ext">
						<mat-label>Customers</mat-label>
						<mat-select
							formControlName="customerid"
							value="{selectedCust}"
							(selectionChange)="selectedCustomer($event)"
						>
							<mat-option value="all">
								All
							</mat-option>
							<mat-option *ngFor="let item of (customer$ | async)" [value]="item.id">
								{{item.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div>
					<ion-item class="input-item" lines="none">
						<mat-form-field class="mat-input-wrapper">
							<input
								matInput
								readonly
								[max]="maxDate"
								[matDatepicker]="fromdate"
								formControlName="fromdate"
								placeholder="From date"
								(focus)="fromdate.open()"
								(dateChange)="fromDateSelected($event)"
							/>
							<mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
							<mat-datepicker #fromdate></mat-datepicker>
						</mat-form-field>
					</ion-item>
				</div>
				<div>
					<ion-item class="input-item" lines="none">
						<mat-form-field class="mat-input-wrapper">
							<input
								matInput
								readonly
								[matDatepicker]="todate"
								[max]="maxDate"
								formControlName="todate"
								placeholder="To date"
								(focus)="todate.open()"
								required
								(dateChange)="toDateSelected($event)"
							/>
							<mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
							<mat-datepicker #todate></mat-datepicker>
						</mat-form-field>
					</ion-item>
				</div>
				<div>
					<mat-form-field class="mat-width-ext">
						<mat-label>Status</mat-label>
						<mat-select
							formControlName="status"
							(selectionChange)="statusChange($event)"
							required
							value="{statusFlag}"
						>
							<mat-option *ngFor="let item of statusList" [value]="item.id">
								{{item.value}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="search-btn">
					<button
						mat-raised-button
						[disabled]="!submitForm.valid"
						color="primary"
						style="font-size: 1rem;"
						(click)="search()"
					>
						Search
					</button>
				</div>
			</div>
		</form>

		<div style="display: flex; justify-content: space-between; padding-top: 30px;">
			<div>
				Recent Sales Report
			</div>
			<div style="font-size: 12px; color: #797979;">
				{{(sales$| async)?.length }} Records
			</div>
		</div>
		<div class="header header-style">
			<div>
				Invoice #
			</div>
			<div>
				Invoice Date
			</div>
			<div>
				Customer Name
			</div>
			<div>
				# of Items
			</div>
			<div>
				Total Value
			</div>
			<div>
				&nbsp;
			</div>
		</div>

		<div *ngFor="let item of (sales$ | async) " class="listItem row-color-nohover">
			<div class="item">{{item.invoice_no}}</div>
			<div class="item">{{item.invoice_date}}</div>
			<div class="item">{{item.customer_name}}</div>
			<div class="item">{{item.no_of_items}}</div>
			<div class="item">{{item.total_value}}</div>
			<div class="item">{{item.status === 'D' ? 'Draft' : 'Completed'}}</div>
			<div class="item cursor" (click)="goSalesEditScreen(item)">Edit</div>
			<div class="item cursor" *ngIf="item.status === 'D'" (click)="presentAlertConfirm(item)">Delete</div>
		</div>

		<ion-fab vertical="bottom" horizontal="end" slot="fixed">
			<ion-fab-button (click)="goSalesAddScreen()">
				<ion-icon name="add"></ion-icon>
			</ion-fab-button>
		</ion-fab>
	</div>
</ion-content>
