.m-right {
	display: grid;
	grid-template-columns: 1fr 40px;
}

.fname {
	font-size: 14px;
	color: #ffffff;
}

.role {
	font-size: 12px;
	color: #ffffff;
}

.c-name {
	font-size: 16px;
	color: #ffffff;
}
