<div
	style="
		width: 500px;
		background-color: #fff;
		box-shadow: 0px 0px 9px -5px rgb(0 0 0 / 70%);
		display: flex;
		position: fixed;
		justify-content: space-between;
		align-items: center;
		z-index: 2;
		top: -1px;
		padding: 1rem;
		font-weight: 500;
	"
>
	<div>Add New Product</div>
	<div>
		<img class="cursor" src="/assets/images/svg/close.svg" (click)="close()" width="20px" height="20px" />
	</div>
</div>

<div class="content">
	<form class="myForm" [formGroup]="submitForm">
		<div class="code">
			<mat-form-field class="mat-width-ext" style="padding: 8px 0px 0px 6px">
				<mat-label>Product Item Code</mat-label>
				<input matInput formControlName="product_code" required autocomplete="off" />
				<mat-error>This field is required</mat-error>
			</mat-form-field>
			<div *ngIf="pexists" class="error">Already Exists</div>
		</div>
		<!-- <div style="display: grid; grid-column: 2/-1"> -->
		<div>
			<mat-form-field style="padding: 8px 0px 0px 6px" class="mat-width-ext form-field-gap">
				<mat-label>Product Description</mat-label>
				<input matInput formControlName="description" required autocomplete="off" />
				<mat-error>This field is required</mat-error>
			</mat-form-field>
		</div>
		<div>
			<mat-form-field style="padding: 8px 0px 0px 6px" class="mat-width-ext">
				<mat-label>Product's Brand</mat-label>
				<mat-select formControlName="brand_id" required>
					<mat-option *ngFor="let item of brands" [value]="item.id">
						{{ item.name }}
					</mat-option>
				</mat-select>
				<mat-error>This field is required</mat-error>
			</mat-form-field>
		</div>

		<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px; padding: 16px 0px 0px 6px">
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>UOM</mat-label>
					<mat-select formControlName="unit" required>
						<mat-option *ngFor="let item of uom" [value]="item.key">
							{{ item.viewValue }}
						</mat-option>
					</mat-select>
					<mat-hint>Unit of measurement</mat-hint>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Pack Size</mat-label>
					<input matInput type="number" formControlName="packetsize" required numeric autocomplete="off" />
					<mat-error>This field is required</mat-error>
				</mat-form-field>
			</div>
		</div>

		<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px; padding: 16px 0px 0px 6px">
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>HSN Code</mat-label>
					<input matInput formControlName="hsncode" required autocomplete="off" />
				</mat-form-field>
			</div>

			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Tax Rate (%)</mat-label>
					<mat-select formControlName="taxrate" required>
						<mat-option *ngFor="let item of tax" [value]="item.key">
							{{ item.viewValue }}
						</mat-option>
					</mat-select>
					<mat-error>This field is required</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div style="display: grid; grid-template-columns: 1fr; gap: 10px; padding: 8px 0px 0px 6px">
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Current Stock</mat-label>
					<input matInput type="number" formControlName="currentstock" required numeric autocomplete="off" />
					<mat-error>This field is required</mat-error>
					<mat-hint>Current Stock in Hand</mat-hint>
				</mat-form-field>
			</div>
		</div>
		<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px; padding: 16px 0px 0px 8px">
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Min. Qty</mat-label>
					<input matInput type="number" formControlName="minqty" required numeric autocomplete="off" />
					<mat-error>This field is required</mat-error>
					<mat-hint>Minimum in stock expexted</mat-hint>
				</mat-form-field>
			</div>

			<div>
				<mat-form-field class="mat-width-100">
					<mat-label>MRP</mat-label>
					<input matInput type="number" formControlName="mrp" required numeric decimals="2" autocomplete="off" />
					<mat-error>This field is required</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px; padding: 16px 0px 0px 8px">
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Purchase Price</mat-label>
					<input matInput type="number" formControlName="purchase_price" required numeric decimals="2" autocomplete="off" />
					<mat-error>This field is required</mat-error>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Rack #</mat-label>
					<input matInput type="text" formControlName="rackno" autocomplete="off" />
				</mat-form-field>
			</div>
		</div>

		<div style="text-align: center" class="error" style="padding: 16px 0px">
			{{ responsemsg }}
		</div>
		<div style="text-align: center">
			<button mat-raised-button color="primary" (click)="onSubmit()" type="button">+ Add Product</button>
		</div>
	</form>
</div>
