<div class="content">
	<div class="screen-header">
		<div>Add New Product</div>
		<div>
			<img class="cursor" src="/assets/images/svg/close.svg" (click)="close()" width="20px" height="20px" />
		</div>
	</div>

	<form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
		<div class="product-info">
			<div class="code">
				<mat-form-field class="mat-width-ext">
					<mat-label>Code</mat-label>
					<input matInput (blur)="isProdExists()" formControlName="product_code" required />
					<mat-error>This field is required</mat-error>
				</mat-form-field>
				<div *ngIf="pexists" class="error">Already Exists</div>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Description</mat-label>
					<input matInput formControlName="description" required />
					<mat-error>This field is required</mat-error>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Brands</mat-label>
					<mat-select formControlName="brand_id">
						<mat-option *ngFor="let item of brands" [value]="item.id">
							{{ item.name }}
						</mat-option>
					</mat-select>
					<mat-error>This field is required</mat-error>
				</mat-form-field>
			</div>

			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>UOM</mat-label>
					<mat-select formControlName="unit">
						<mat-option *ngFor="let item of uom" [value]="item.key">
							{{ item.viewValue }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Packet Size</mat-label>
					<input matInput type="number" formControlName="packetsize" required />
					<mat-error>This field is required</mat-error>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>HSN Code</mat-label>
					<input matInput formControlName="hsncode" required />
					<mat-hint matTooltip="Info about the action">What is HSN Code?</mat-hint>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Tax Rate (%)</mat-label>
					<input matInput type="number" formControlName="taxrate" required />
					<mat-error>This field is required</mat-error>
				</mat-form-field>
			</div>

			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Min. Qty</mat-label>
					<input matInput type="number" formControlName="minqty" required />
					<mat-error>This field is required</mat-error>
				</mat-form-field>
			</div>

			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Unit/Price</mat-label>
					<input matInput type="number" formControlName="unit_price" required />
					<mat-error>This field is required</mat-error>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>MRP</mat-label>
					<input matInput type="number" formControlName="mrp" placeholder="Mrp" required />
					<mat-error>This field is required</mat-error>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Purchase Price</mat-label>
					<input matInput type="number" formControlName="purchase_price" required />
					<mat-error>This field is required</mat-error>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Sale Price</mat-label>
					<input matInput type="number" formControlName="salesprice" />
				</mat-form-field>
			</div>

			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Max. Discount</mat-label>
					<input matInput type="number" formControlName="maxdiscount" required />
					<mat-hint matTooltip="Info about the action">Hint: Max 100</mat-hint>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Rack #</mat-label>
					<input matInput type="number" formControlName="rackno" required />
				</mat-form-field>
			</div>
		</div>
		<div style="text-align: center" class="error" style="padding: 16px 0px">{{ responsemsg }}</div>
		<div style="text-align: center">
			<button mat-stroked-button type="button">Clear</button>&nbsp;&nbsp;
			<button mat-raised-button color="primary" type="submit">+ Add Product</button>
		</div>
	</form>
</div>
