<ion-content>
	<div class="screen-header">
		<div>
			<b>Enquiry #{{enqid}} > Order Processing</b>
		</div>
		<div>
			<!-- <span (click)="openEnquiry()" class="s-menu">
				New Enquiries
			</span> -->
			<span class="s-menu" [matMenuTriggerFor]="menu">
				<img src="/assets/svg/grid-menu.svg" width="20px" height="20px" />
			</span>
		</div>
	</div>

	<div class="container">
		<div class="cust-header" *ngIf="enqDetailsOrig">
			<div class="cust-lbl">Customer:</div>
			<div>
				{{enqDetailsOrig[0].name}}
			</div>
		</div>
		<div class="process-enq-wrap">
			<div class="process-prep-enq-heading">
				<div class="c-pad-mini">#</div>
				<div class="c-pad-mini">Prod Info</div>
				<div class="c-pad-mini">Alot. Qty</div>
				<div class="c-pad-mini">Notes</div>
				<div class="c-pad-mini">Req. Qty</div>
			</div>
			<div class="list-items">
				<div
					*ngFor="let item of this.productArr; let idx = index;
					let idx = index; let isOdd = odd; let isEven = even;"
					(click)="onClick(item)"
				>
					<div class="process-enq-list" [class.odd]="isOdd" [class.even]="isEven">
						<div>
							<div class="c-pad">
								{{idx+1}}
							</div>
						</div>
						<div>
							<div *ngIf="item.product_code" class="pdetails ">
								<div class="pcode">
									{{item.product_code}}
									<span class="avlstock">Stock: {{item.available_stock}}</span>
								</div>
								<div class="pdesc">{{item.product_desc}}</div>
							</div>
							<div *ngIf="!item.product_code" class="left-align c-pad">
								<div class="" *ngIf="!item.product_code" (click)="showAddProductComp(idx)">
									<div>
										<img src="/assets/images/svg/more.svg" width="18px" height="18px" /> Item Code
									</div>
								</div>
							</div>
						</div>

						<div (click)="openCurrencyPad(idx)" class="styl-txt-box-small txt-pad">
							{{item.giveqty}}
						</div>

						<div>
							<div class="c-pad">
								{{item.notes}}
							</div>
						</div>

						<div [class.oddDark]="isOdd" [class.evenDark]="isEven">
							<div class="c-pad">
								{{item.askqty}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="save-sec">
				<ion-button type="submit" (click)="moveToSale()">Ready for Invoice</ion-button>
			</div>
		</div>
	</div>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="goEnquiryScreen()">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>

<mat-menu #menu="matMenu">
	<button mat-menu-item (click)="openEnquiry()" style="padding-right: 16px; ">
		<span style="padding-right: 16px; ">
			<img src="../../assets/svg/enquiry.svg" width="24px" height="24px" style="vertical-align: middle;" />
		</span>
		<span>Order Queue</span>
	</button>
	<button mat-menu-item>
		<mat-icon>settings</mat-icon>
		<span>check Settings</span>
	</button>
	<button mat-menu-item>
		<span style="padding-right: 16px; ">
			<img src="../../assets/svg/logout.svg" width="24px" height="24px" style="vertical-align: middle;" />
		</span>

		<span>Log Out</span>
	</button>
</mat-menu>
