<!-- @format -->

<ion-content>
	<div class="screen-header">
		<div>
			<span style="color: #310ac0; cursor: pointer;" (click)="openEnquiry()">Inquiry Dashboard</span> /
			<span style="color: #797979;">Order Processing #{{enqid}}</span>
		</div>
		<div>
			&nbsp;
		</div>
	</div>

	<div class="container">
		<div class="cust-header" *ngIf="enqDetailsOrig">
			<div>
				<div class="cust-lbl">Customer:</div>
				<div>
					<div>{{enqDetailsOrig[0].name}}</div>
					<div>{{enqDetailsOrig[0].address1}}</div>
					<div>{{enqDetailsOrig[0].address2}}</div>
					<div>{{enqDetailsOrig[0].district}}</div>
				</div>
			</div>
			<div>
				<div class="cust-lbl">Remarks</div>
				<div>{{enqDetailsOrig[0].remarks}}</div>
			</div>
			<div>
				<div *ngIf="status === 'E'">
					<div class="cust-lbl">Status:</div>
					<div style="color: red;">Executed</div>
				</div>
				<div *ngIf="status === 'D'">
					<div class="cust-lbl">Status:</div>
					<div style="color: red;">Draft</div>
				</div>
				<div *ngIf="status === 'O'">
					<div class="cust-lbl">Status:</div>
					<div style="color: red;">New</div>
				</div>
			</div>
			<div style="text-align: right; align-items: center;">
				<button appPreventDoubleClick (throttledClick)="openAddItem()" [throttleTime]="500" mat-raised-button color="primary">
					+ Add Item
				</button>
			</div>
		</div>
		<div class="process-enq-wrap">
			<div class="process-prep-enq-heading">
				<div class="c-pad-mini">#</div>
				<div class="c-pad-mini">Prod Info</div>
				<div class="c-pad-mini">Rack#</div>
				<div class="c-pad-mini">Alot. Qty</div>
				<div class="c-pad-mini" style="padding-left: 10px;">Notes</div>
				<div class="c-pad-mini">Req. Qty</div>
				<div class="c-pad-mini">&nbsp;</div>
			</div>
			<div class="list-items">
				<div *ngFor="let item of productArr; let idx = index;" (click)="onClick(item)" style="border-bottom: 1px solid dimgrey;">
					<div class="process-enq-list">
						<div>
							<div class="c-pad">
								{{idx+1}}
							</div>
						</div>
						<div>
							<div *ngIf="item.product_code" class="pdetails">
								<div class="pcode">
									{{item.product_code}}
									<span class="avlstock">Stock: {{item.available_stock}}</span>&nbsp;&nbsp;&nbsp;
									<span class="" *ngIf="item.product_code" (click)="showAddProductComp(idx)">
										<span style="font-size: 12px; color: rgb(230, 61, 10);">Edit</span>
									</span>
								</div>
								<div class="pdesc">{{item.product_desc}}</div>
							</div>
							<div *ngIf="!item.product_code" class="left-align c-pad">
								<div class="" *ngIf="!item.product_code" (click)="showAddProductComp(idx)">
									<div><img src="/assets/images/svg/more.svg" width="18px" height="18px" /> Item Code</div>
								</div>
							</div>
						</div>
						<div style="font-size: 14px;">{{item.rackno}}</div>

						<div>
							<mat-form-field class="example-full-width">
								<input matInput type="number" value="{{item.giveqty}}" readonly />
								<mat-icon *ngIf="status !== 'E'" matSuffix (click)="openCurrencyPad(idx)">view_comfy</mat-icon>
							</mat-form-field>
							<!-- <span>{{item.giveqty}}</span> -->
						</div>

						<!-- <div (click)="openCurrencyPad(idx)" class="styl-txt-box-small txt-pad">
							<span><input matInput type="number" formControlName="quantity" /></span>
							<span>{{item.giveqty}}</span>
							<span> <mat-icon matSuffix (click)="openCurrencyPad(idx)">view_comfy</mat-icon></span>
						</div> -->

						<div style="background-color: #ffffee; margin-left: 10px;">
							<div class="c-pad">
								{{item.notes}}
							</div>
						</div>

						<div>
							<div class="c-pad">
								{{item.askqty}}
							</div>
						</div>
						<div style="justify-self: center; align-self: center;">
							<mat-checkbox *ngIf="status !== 'E'" [checked]="item.processed === 'YS'? true : false" (click)="checkedRow(idx)"></mat-checkbox>
						</div>
					</div>
				</div>
			</div>
			<div class="save-sec" *ngIf="status !== 'E'">
				<ion-button type="submit" fill="outline" (click)="presentAlertConfirm()">Ready for Invoice</ion-button>
				<ion-button type="button" (click)="save()">Save Draft</ion-button>
			</div>
		</div>
	</div>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="goEnquiryScreen()">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
