.screen-header {
	display: flex;
	font-weight: 400;

	padding: 10px;

	width: 100%;
	font-size: 14px;
}

.row1 {
	display: grid;
	width: 90%;
	margin: 0 auto;
	grid-template-columns: 1fr 200px 100px;
}

.actions {
	align-self: center;
	justify-self: center;
}

.topcontainer {
	display: grid;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 16px;

	.cust-header {
		display: grid;
		padding: 10px 5px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.avlstock {
	font-size: 12px;
	color: #0e0c99;
}

.styl-txt-box-small {
	height: 40px;
	border: 1px solid #d1d1d1;
	padding: 8px;

	font-size: 20px;
	align-self: center;
}

.s-menu {
	padding: 0px 10px;
}

.cust-lbl {
	font-size: 12px;
	color: rgb(168, 168, 168);
	height: 1rem;
}

.c-pad {
	padding: 10px;
}

.oddDark {
	background-color: #717171;

	color: #ffffff;
}

.evenDark {
	background-color: #a2a2a2;
	color: #ffffff;
}

.c-pad-mini {
	padding: 2px;
}

.save-sec {
	text-align: center;
	align-self: center;
	padding: 10px;
}

.example-full-width {
	width: 80px;
}

tr.example-element-row:not(.example-expanded-row):hover {
	background: #f2f2f2;
}

tr.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
}

table {
	width: 100%;
}

td.mat-column-actions {
	width: 20px;
	padding-right: 8px !important;
}

.mat-row {
	&:hover {
		background-color: #e9f3ff;
	}
	a {
		color: #3e75ff;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.mat-icon {
	color: #3e75ff;
}

@media screen and (max-width: 960px) {
	#sino {
		display: none;
	}

	.mat-elevation-z8 {
		background: transparent;
		box-shadow: none;
	}

	.mat-header-row {
		display: none;
	}

	tbody {
		display: block;
		width: 100%;
	}

	.mat-table {
		background: transparent;
		* {
			box-sizing: border-box;
		}

		.mat-row {
			display: block;
			overflow: hidden;
			height: auto;
			position: relative;
			clear: both;
			box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
			background-color: #fff;
			border-radius: 3px;
			+ .mat-row {
				margin-top: 24px;
			}
		}

		.mat-cell {
			display: block;
			width: 100%;
			padding: 0 16px;
			margin: 16px 0;
			border: 0 none;
			&:first-child {
				padding: 0 48px 0 16px;
				a {
					font-size: 20px;
					// font-weight: 400;
					color: inherit;
				}
				&:before {
					display: none;
				}
			}
			&.m-card-sub-title {
				margin-top: -8px;
				padding: 0 48px 0 16px;
				color: rgba(0, 0, 0, 0.54);
			}
		}

		.has_label_on_mobile {
			&:before {
				content: attr(data-label);
				display: inline;
				font-weight: normal;
			}
		}

		.mat-column-actions {
			width: auto;
			padding: 8px 0 0 !important;
			margin: 0;
			position: absolute;
			top: 0;
			right: 0;
			&:before {
				display: none;
			}
		}
	}

	.mat-paginator {
		margin-top: 24px;
	}
}

.make-gold {
	background-color: rgb(251, 229, 101);
}

.footer {
	display: flex;
	position: fixed;
	justify-content: space-between;
	bottom: 0px;

	width: 100%;
	height: auto;
	background-color: #ffffff;
	border-top: 1px solid #f1f1f1;
	padding: 8px;
}
.customer {
	display: grid;
	grid-template-columns: 450px 1fr 1fr 1fr;
	padding: 3rem 1rem;
	width: 94%;
	margin: 0 auto;
}

.example-full-width {
	width: 100%;
	padding: 0px;
}
.qty-width {
	width: 80px;
}

// New Table CSS

.content {
	display: grid;
	width: 90%;
	grid-template-columns: 80px 100px 1fr 80px 80px 100px 1fr 100px 100px;
	align-items: center;
	border-bottom: 2px solid rgb(173, 173, 173);
	color: #666666;
	background-color: #f5f5f5;
	margin: 0 auto;
	padding: 8px 5px 8px 5px;
	gap: 10px;
	font-size: 14px;
	font-weight: 400;
}

.list-item {
	display: grid;
	width: 90%;
	grid-template-columns: 80px 100px 1fr 80px 80px 100px 1fr 100px 100px;
	align-self: center;
	border-bottom: 1px solid #e0d9d9;
	font-size: 13px;
	padding: 5px 5px 10px 5px;
	margin: 0 auto;
	align-items: end;
	gap: 10px;
}

.txt-pad {
	padding: 8px;
}

.headstyl-left {
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	color: #666666;
}

.headstyl-right {
	text-align: right;
	font-size: 16px;
	font-weight: 500;
	color: #666666;
}

.headstyl-center {
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	color: #666666;
}

.num-format-cell-style {
	padding-right: 10px;
	align-self: center;
}
