.search-wrap {
	display: grid;
	width: 100%;
}

.form-wrap {
	display: grid;
	// grid-template-columns: 300px 1fr 1fr 130px 130px 150px 150px 200px;
	grid-template-columns: 220px 1fr 200px;
	gap: 10px;
	// background-color: #f6f6ff;
}
.inner-form {
	display: grid;
	grid-template-columns: 120px 250px 120px 120px;
	gap: 20px;
	justify-content: end;
}

.search-btn {
	padding: 0px 20px;
}

.header,
.listItem,
.headerRow {
	display: grid;
	grid-template-columns: 40px 2fr 100px 100px 180px 1fr 1fr 1fr 70px 50px 50px;
	padding: 5px;
	align-items: center;
}

.header-style {
	background-color: #f1efef;
	color: #333333;
	font-size: 13px;
}

.listItem {
	background-color: #fff;
	border-bottom: 1px solid #f2f2f2;
}

.title-row {
	display: flex;
	justify-content: space-between;
}

.mat-auto-width {
	width: 280px;
}

.item {
	font-size: 14px;
	color: #333333;
}

.mat-date-wrapper {
	width: 100%;
}

.title {
	font-size: 24px;
	background-color: #6b82b5;
	color: #fff;
	opacity: 0.6;
	text-align: center;
	line-height: 73px;
}
.title:hover {
	background-color: #6b82b5;
	opacity: 1;
	transition: 0.3s;
}

.mat-width-ext {
	width: 100%;
}

.customers {
	padding-top: 20px;
	text-align: right;
}

.example-radio-group {
	display: flex;
	flex-direction: column;
	/* display: inline-grid; */
	/* display: grid; */
	margin: 15px 0;
}

.radio-button {
	margin-bottom: 2px;
}
