<div class="screen-header">
	<div>Add New User</div>
	<div>
		<img
			class="cursor"
			src="/assets/images/svg/close.svg"
			(click)="close()"
			width="20px"
			height="20px"
		/>
	</div>
</div>

<div class="content">
	<form class="myForm" [formGroup]="submitForm" (ngSubmit)="onSubmit()">
		<div class="grid-split">
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Name</mat-label>
					<input matInput formControlName="firstname" required />
					<mat-error>This field is required</mat-error>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Phone</mat-label>
					<input matInput formControlName="username" required />
					<mat-error>Missing / Wrong format value</mat-error>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Password</mat-label>
					<input matInput formControlName="password" required />
					<mat-hint>Min. 6 characters</mat-hint>
					<mat-error>Missing / Wrong format</mat-error>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext" style="padding-top: 32px">
					<mat-label>Role</mat-label>
					<mat-select formControlName="role_id" required>
						<mat-option *ngFor="let item of roleList" [value]="item.id">
							{{ item.value }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Gender</mat-label>
					<mat-select formControlName="gender" required>
						<mat-option *ngFor="let item of genderList" [value]="item.id">
							{{ item.value }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div>
				<mat-form-field class="mat-width-ext">
					<mat-label>Email (Optional)</mat-label>
					<input matInput formControlName="email" />
					<mat-error>This field is required</mat-error>
				</mat-form-field>
			</div>
		</div>

		<div style="text-align: center; padding: 16px">
			<button mat-raised-button color="primary" type="submit">
				+ Add New User
			</button>
		</div>
	</form>
</div>
