.side-bar {
	display: grid;
	width: 80px;
	max-width: 80px;
	height: 100vh;
	z-index: 1;
	position: fixed;
	border-right: 1px solid rgb(168, 168, 168);
	text-align: center;
	align-content: flex-start;
}

.dashboard,
.enquiry,
.sale,
.purchase {
	padding: 12px 0px;
}
.dashboard {
	padding-top: 20px;
}
.mlabel {
	font-size: 12px;
	color: #222222;
}

.dashboard:hover,
.enquiry:hover,
.sale:hover,
.purchase:hover {
	background-color: rgb(240, 240, 240);
	cursor: pointer;
}

.menuhover {
	background-color: rgb(240, 240, 240);
	cursor: pointer;
}
