<div class="side-bar">
	<div class="dashboard" [ngClass]="chooseMenu('dashboard')" (click)="dashboard()">
		<div>
			<img src="/assets/svg/dashboard.svg" width="22px" height="22px" />
		</div>
		<div class="mlabel">
			Dashboard
		</div>
	</div>
	<div class="enquiry" [ngClass]="chooseMenu('enquiry')" (click)="goEnquiryScreen()">
		<div>
			<img src="/assets/svg/enquiry.svg" width="22px" height="22px" />
		</div>
		<div class="mlabel">
			ENQUIRY
		</div>
	</div>
	<div class="sale" [ngClass]="chooseMenu('sales')" (click)="goSalesScreen()">
		<div>
			<img src="/assets/svg/sales.svg" width="22px" height="22px" />
		</div>
		<div class="mlabel">
			SALES
		</div>
	</div>
	<div class="purchase" [ngClass]="chooseMenu('purchase')" (click)="goSearchPurchaseScreen()">
		<div>
			<img src="/assets/svg/purchase.svg" width="22px" height="22px" />
		</div>
		<div class="mlabel">
			PURCHASE
		</div>
	</div>

	<div class="purchase" [ngClass]="chooseMenu('accounts')" (click)="goAccountsScreen()">
		<div>
			<img src="/assets/svg/purchase.svg" width="22px" height="22px" />
		</div>
		<div class="mlabel">
			ACCOUNTS
		</div>
	</div>
</div>
