<ion-content>
	<div style="display: flex; justify-content: space-between; width: 90%; margin: 0 auto; padding: 16px 0px">
		<div>All Received Payments</div>
		<div>
			&nbsp;
			<span>
				<button appPreventDoubleClick (throttledClick)="addPayments()" [throttleTime]="500" mat-button color="primary">+ Add Payment Record</button>
			</span>
		</div>
	</div>

	<div style="width: 94%; margin: 0 auto; padding-top: 16px" [@.disabled]="true">
		<mat-tab-group color="primary" [(selectedIndex)]="tabIndex" (selectedTabChange)="tabClick($event)">
			<mat-tab label="Invoices">
				<ng-template [ngTemplateOutlet]="INVTABLE"></ng-template>
			</mat-tab>

			<mat-tab label="Payments">
				<ng-template [ngTemplateOutlet]="PYMTTABLE"></ng-template>
			</mat-tab>

			<mat-tab label="Transactions">
				<ng-template [ngTemplateOutlet]="TXNTABLE"></ng-template>
			</mat-tab>
		</mat-tab-group>
	</div>

	<ng-template #INVTABLE>
		<ng-container>
			<div class="example-container mat-elevation-z8">
				<div class="row1">
					<div class="search_box">
						<ion-searchbar
							autofocus
							debounce="300"
							placeholder="Type to search from invoices"
							#searchbartab1
							show-cancel-button="focus"
							(ionClear)="resetTab1()"
							(ionInput)="applyFilterTab1($event.target.value)"
						></ion-searchbar>
					</div>
					<div class="actions">
						<img src="/assets/images/svg/download-excel.svg" style="cursor: pointer" width="32px" height="32px" />
					</div>
				</div>

				<div class="example-table-container" #epltable1>
					<table mat-table [dataSource]="saleInvoicedataSource" multiTemplateDataRows>
						<ng-container matColumnDef="invoicedate">
							<th mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Invoice Date</th>
							<td mat-cell *matCellDef="let element" class="m-card-title" style="color: #333333; font-weight: 500">{{(element.invoice_date )}}</td>
						</ng-container>

						<ng-container matColumnDef="invoiceno">
							<th mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Inv #</th>
							<td mat-cell *matCellDef="let element" class="m-card-title">{{(element.invoice_no)}}</td>
						</ng-container>

						<ng-container matColumnDef="customername">
							<th mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Custmer Name</th>
							<td mat-cell *matCellDef="let element" class="m-card-title">{{(element.customer_name)}}</td>
						</ng-container>

						<ng-container matColumnDef="paymentstatus">
							<th class="m-txt-field" mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Payment Status</th>
							<td mat-cell *matCellDef="let element" class="m-txt-field">{{(element.payment_status)}}</td>
						</ng-container>

						<ng-container matColumnDef="nettotal">
							<th class="m-curr-field" mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Amount</th>
							<td mat-cell *matCellDef="let element" class="m-curr-field">{{(element.invoice_amt | currency: "INR")}}</td>
						</ng-container>

						<ng-container matColumnDef="paidamt">
							<th class="m-curr-field" mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Paid Amount</th>
							<td mat-cell *matCellDef="let element" class="m-curr-field">{{(element.paid_amount | nullzero | currency: "INR")}}</td>
						</ng-container>

						<ng-container matColumnDef="balamt">
							<th class="m-curr-field" mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Balance Amount</th>
							<td mat-cell *matCellDef="let element" class="m-curr-field">{{(element.bal_amount | nullzero | currency: "INR")}}</td>
						</ng-container>

						<ng-container matColumnDef="paybtn">
							<th mat-header-cell *matHeaderCellDef>&nbsp;</th>
							<td mat-cell *matCellDef="let element" class="m-curr-field">
								<button
									*ngIf="element.payment_status !== 'PAID'"
									mat-button
									appPreventDoubleClick
									(throttledClick)="addPaymentsBillToBill(element)"
									[throttleTime]="500"
									mat-button
									color="warn"
								>
									Record Payment
								</button>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="saleInvoiceDisplayedColumns; sticky: true"></tr>

						<tr class="example-element-row" mat-row *matRowDef="let row; columns: saleInvoiceDisplayedColumns;"></tr>
					</table>
					<div [hidden]="isTableHasData" class="center-message">No Data available.</div>
				</div>
				<mat-paginator #InvoiceTablePaginator="matPaginator" [pageSizeOptions]="[100, 200]" showFirstLastButtons></mat-paginator>
			</div>
			<mat-menu #menu="matMenu">
				<ng-template matMenuContent let-element="element">
					<button mat-menu-item>
						<mat-icon>edit </mat-icon>
						<span>Edit</span>
					</button>
				</ng-template>
			</mat-menu>
		</ng-container>
	</ng-template>

	<ng-template #PYMTTABLE>
		<ng-container>
			<div class="example-container mat-elevation-z8">
				<div class="row1">
					<div class="search_box">
						<ion-searchbar
							autofocus
							debounce="300"
							placeholder="Type to search from payments"
							#searchbartab2
							show-cancel-button="focus"
							(ionClear)="resetTab2()"
							(ionInput)="applyFilter($event.target.value)"
						></ion-searchbar>
					</div>
					<div class="actions">
						<img src="/assets/images/svg/download-excel.svg" style="cursor: pointer" width="32px" height="32px" />
					</div>
				</div>
				<div class="example-table-container" #epltable1>
					<table mat-table [dataSource]="paymentdataSource" multiTemplateDataRows>
						<ng-container matColumnDef="invoiceno">
							<th mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Invoice #</th>
							<td mat-cell *matCellDef="let element" class="m-card-title">{{(element.invoice_no )}}</td>
						</ng-container>

						<ng-container matColumnDef="invoicedate">
							<th mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Invoice Date</th>
							<td mat-cell *matCellDef="let element" class="m-card-title">{{(element.invoice_date )}}</td>
						</ng-container>

						<ng-container matColumnDef="customername">
							<th mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Customer Name</th>
							<td mat-cell *matCellDef="let element" class="m-card-title" style="color: #333333; font-weight: 500">{{(element.customer_name )}}</td>
						</ng-container>

						<ng-container matColumnDef="pymtmodename">
							<th mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Payment Mode</th>
							<td mat-cell *matCellDef="let element" class="m-card-title">{{(element.pymt_mode_name )}}</td>
						</ng-container>

						<ng-container matColumnDef="pymtdate">
							<th mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Payment Date</th>
							<td mat-cell *matCellDef="let element" class="m-card-title">{{(element.pymt_date )}}</td>
						</ng-container>

						<ng-container matColumnDef="paymentno">
							<th mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Pymt #</th>
							<td mat-cell *matCellDef="let element" class="m-card-title">{{(element.payment_no)}}</td>
						</ng-container>

						<ng-container matColumnDef="paidamt">
							<th class="m-curr-field" mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Paid Amt</th>
							<td mat-cell *matCellDef="let element" class="m-curr-field">{{element.applied_amount | currency: "INR"}}</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="paymentDisplayedColumns; sticky: true"></tr>

						<tr class="example-element-row" mat-row *matRowDef="let row; columns: paymentDisplayedColumns;"></tr>
					</table>
					<div [hidden]="isTableHasData" class="center-message">No Data available.</div>
				</div>
				<mat-paginator #PaymentTablePaginator="matPaginator" [pageSize]="100" [pageSizeOptions]="[100, 200]" showFirstLastButtons></mat-paginator>
			</div>
		</ng-container>
	</ng-template>

	<ng-template #TXNTABLE>
		<ng-container>
			<div class="example-container mat-elevation-z8">
				<div class="row1">
					<div class="search_box">
						<ion-searchbar
							autofocus
							debounce="300"
							placeholder="Type to search from Transactions"
							#searchbartab3
							show-cancel-button="focus"
							(ionClear)="resetTab3()"
							(ionInput)="applyFilter3($event.target.value)"
						></ion-searchbar>
					</div>
					<div class="actions">
						<img src="/assets/images/svg/download-excel.svg" style="cursor: pointer" width="32px" height="32px" />
					</div>
				</div>
				<div class="example-table-container" #epltable1>
					<table mat-table [dataSource]="pymttransactionsdataSource" multiTemplateDataRows>
						<ng-container matColumnDef="custname">
							<th mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Customer Nmae</th>
							<td mat-cell *matCellDef="let element" class="m-card-title" style="color: #333333; font-weight: 500">{{(element.customer_name )}}</td>
						</ng-container>

						<ng-container matColumnDef="pymtno">
							<th mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Payment #</th>
							<td mat-cell *matCellDef="let element" class="m-card-title">{{(element.payment_no )}}</td>
						</ng-container>

						<ng-container matColumnDef="pymtdate">
							<th mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Payment Date</th>
							<td mat-cell *matCellDef="let element" class="m-card-title">{{(element.pymt_date )}}</td>
						</ng-container>

						<ng-container matColumnDef="paidamt">
							<th mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Paid Amount</th>
							<td mat-cell *matCellDef="let element" class="m-card-title">{{(element.paid_amount | currency: "INR")}}</td>
						</ng-container>

						<ng-container matColumnDef="paymode">
							<th mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Pay Mode</th>
							<td mat-cell *matCellDef="let element" class="m-card-title">{{(element.pymt_mode_name )}}</td>
						</ng-container>

						<ng-container matColumnDef="payref">
							<th mat-header-cell *matHeaderCellDef style="color: #333333; font-size: 14px; font-weight: 500">Pymt Reference</th>
							<td mat-cell *matCellDef="let element" class="m-card-title">{{(element.pymt_ref)}}</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="pymtTxnDisplayedColumns; sticky: true"></tr>

						<tr class="example-element-row" mat-row *matRowDef="let row; columns: pymtTxnDisplayedColumns;"></tr>
					</table>
					<div [hidden]="isTableHasData" class="center-message">No Data available.</div>
				</div>
				<mat-paginator
					#PymtTransactionTablePaginator="matPaginator"
					[pageSize]="100"
					[pageSizeOptions]="[100, 200]"
					showFirstLastButtons
				></mat-paginator>
			</div>
		</ng-container>
	</ng-template>
</ion-content>
