.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 80%;
	margin: 0 auto;
	padding: 10px;
}

.list-item {
	display: grid;
	grid-template-columns: 60px 2fr 1fr;
}

.o-enq-details {
	display: grid;
	grid-template-rows: 1fr 1fr;
	padding: 10px;
}

.edate {
	font-size: 14px;
	color: #222222;
}
.items {
	font-size: 12px;
	color: #333333;
	align-self: center;
}

.custname {
	font-size: 16px;
	color: black;
}

.new-enq {
	display: grid;
	text-align: center;
	padding: 10px;
}

.idx {
	padding: 10px;
	text-align: center;
}

.list-item:hover {
	background-color: #c7c4d7;
	opacity: 1;
	cursor: pointer;
}
