<ion-content>
	<div class="content">
		<form [formGroup]="submitForm">
			<div class="form-wrap">
				<div class="title" (click)="goEnquiryScreen()" style="cursor: pointer;">
					<span style="font-size: 24px; color: #333;">INQUIRIES</span>&nbsp;&nbsp;&nbsp;<span style="font-size: 24px; color: #333;">+</span>
				</div>
				<div class="customers" style="padding-top: 20px; text-align: right;">
					<mat-form-field class="width">
						<mat-label>Search</mat-label>
						<input
							matInput
							[matAutocomplete]="auto"
							formControlName="customerctrl"
							required
							matTooltip="Type to filter the Customer list"
							matTooltipPosition="after"
						/>
						<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
							<mat-icon>close</mat-icon>
						</button>
						<mat-autocomplete #auto="matAutocomplete" (optionSelected)="getPosts($event)">
							<mat-option *ngFor="let customer of filteredCustomer | async" [value]="customer">
								<span>{{ customer.name }} </span>
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</div>
				<div style="padding-top: 20px;">
					<mat-form-field class="mat-input-wrapper">
						<mat-label>From</mat-label>
						<input
							matInput
							readonly
							required
							[max]="maxDate"
							[matDatepicker]="fromdate"
							formControlName="fromdate"
							(focus)="fromdate.open()"
							(dateChange)="fromDateSelected($event)"
						/>
						<mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
						<mat-datepicker #fromdate></mat-datepicker>
					</mat-form-field>
				</div>
				<div style="padding-top: 20px;">
					<mat-form-field class="mat-input-wrapper">
						<mat-label>To</mat-label>
						<input
							matInput
							readonly
							[matDatepicker]="todate"
							[max]="maxDate"
							formControlName="todate"
							(focus)="todate.open()"
							required
							(dateChange)="toDateSelected($event)"
						/>
						<mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
						<mat-datepicker #todate></mat-datepicker>
					</mat-form-field>
				</div>

				<div style="padding-top: 20px;">
					<mat-form-field class="mat-width-ext">
						<mat-label>Status</mat-label>
						<mat-select formControlName="status" (selectionChange)="statusChange($event)" required value="{statusFlag}">
							<mat-option *ngFor="let item of statusList" [value]="item.id">
								{{item.value}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="search-btn" style="padding-top: 20px;">
					<button mat-raised-button [disabled]="!submitForm.valid" color="primary" style="font-size: 1rem;" (click)="search()">
						Search
					</button>
				</div>
			</div>
		</form>
		<div style="width: 94%; margin: 0 auto; padding-top: 16px;">
			<mat-tab-group color="primary" [(selectedIndex)]="tabIndex" (selectedTabChange)="tabClick($event)">
				<mat-tab label="All Inquiries ({{(enquiries$| async)?.length }})">
					<ng-template [ngTemplateOutlet]="MsgRef"></ng-template>
					<ng-template [ngTemplateOutlet]="MsgRef1"></ng-template>
				</mat-tab>

				<mat-tab label="New ({{(newEnquiries$| async)?.length }})">
					<ng-template [ngTemplateOutlet]="MsgRef"></ng-template>
					<ng-template [ngTemplateOutlet]="MsgRef1"></ng-template>
				</mat-tab>

				<mat-tab label="In Progress ({{(draftEnquiries$| async)?.length }})">
					<ng-template [ngTemplateOutlet]="MsgRef"></ng-template>
					<ng-template [ngTemplateOutlet]="MsgRef1"></ng-template>
				</mat-tab>

				<mat-tab label="Invoice Ready ({{(invoiceReadyEnquiries$| async)?.length }})">
					<ng-template [ngTemplateOutlet]="MsgRef"></ng-template>
					<ng-template [ngTemplateOutlet]="MsgRef1"></ng-template>
				</mat-tab>

				<mat-tab label="Executed ({{(fullfilledEnquiries$| async)?.length }})">
					<ng-template [ngTemplateOutlet]="MsgRef"></ng-template>
					<ng-template [ngTemplateOutlet]="MsgRef1"></ng-template>
				</mat-tab>
			</mat-tab-group>
		</div>
	</div>

	<ng-template #MsgRef>
		<div class="header">
			<div>#</div>
			<div>INQ ID</div>
			<div>CUSTOMER</div>
			<div>INQUIRED ON</div>
			<div>STATUS</div>
			<div>ITEMS</div>
			<div>&nbsp;</div>
		</div>
	</ng-template>

	<ng-template #MsgRef1>
		<div *ngFor="let item of filteredValues let idx = index;" class="listItem">
			<div>
				{{idx + 1}}
			</div>
			<div>
				{{item.id}}
			</div>
			<div>
				{{item.customer_name}}
			</div>
			<div>
				{{item.enquiry_date | date: 'dd/MMM/yyyy h:mm a'}}
			</div>
			<div>
				{{item.status_txt }}
			</div>

			<div class="items">
				{{item.noofitems}}
			</div>
			<div>
				<div *ngIf="item.estatus === 'O' ">
					<div style="color: blue; cursor: pointer;" (click)="processEnquiry(item)">
						Order Process
					</div>
					<div>
						<img src="/assets/images/svg/step1.svg" style="cursor: pointer;" width="200px" (click)="processEnquiry(item)" />
					</div>
				</div>

				<div *ngIf="item.estatus === 'D' ">
					<div style="color: blue; cursor: pointer;" (click)="processEnquiry(item)">
						In Progress
					</div>
					<div>
						<img src="/assets/images/svg/step2.svg" style="cursor: pointer;" width="200px" (click)="processEnquiry(item)" />
					</div>
				</div>

				<div *ngIf="item.estatus === 'P' ">
					<div style="color: blue; cursor: pointer;" (click)="moveToSale(item)">
						Invoice Ready
					</div>
					<div>
						<img src="/assets/images/svg/step3.svg" style="cursor: pointer;" width="200px" (click)="moveToSale(item)" />
					</div>
				</div>

				<div *ngIf="item.estatus === 'E' ">
					<div style="color: blue; cursor: pointer;" (click)="processEnquiry(item)">
						View
					</div>
					<div>
						<img src="/assets/images/svg/step4.svg" style="cursor: pointer;" width="200px" (click)="processEnquiry(item)" />
					</div>
				</div>
			</div>
		</div>
	</ng-template>
</ion-content>
