<!-- @format -->

<ion-content class="icontent">
	<div class="content">
		<div style="padding-top: 10px; padding-bottom: 10px;"><h3>Enquiry Management</h3></div>
		<div>
			<form [formGroup]="submitForm">
				<div class="form-wrap">
					<div class="customers">
						<mat-form-field class="mat-width-ext">
							<mat-label>Customers</mat-label>
							<mat-select formControlName="customerid" value="{selectedCust}" (selectionChange)="selectedCustomer($event)">
								<mat-option value="all">
									All
								</mat-option>
								<mat-option *ngFor="let item of (customer$ | async)" [value]="item.id">
									{{item.name}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div>
						<ion-item class="input-item" lines="none">
							<mat-form-field class="mat-input-wrapper">
								<input
									matInput
									readonly
									[max]="maxDate"
									[matDatepicker]="fromdate"
									formControlName="fromdate"
									placeholder="From date"
									(focus)="fromdate.open()"
									(dateChange)="fromDateSelected($event)"
								/>
								<mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
								<mat-datepicker #fromdate></mat-datepicker>
							</mat-form-field>
						</ion-item>
					</div>
					<div>
						<ion-item class="input-item" lines="none">
							<mat-form-field class="mat-input-wrapper">
								<input
									matInput
									readonly
									[matDatepicker]="todate"
									[max]="maxDate"
									formControlName="todate"
									placeholder="To date"
									(focus)="todate.open()"
									required
									(dateChange)="toDateSelected($event)"
								/>
								<mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
								<mat-datepicker #todate></mat-datepicker>
							</mat-form-field>
						</ion-item>
					</div>
					<div>
						<mat-form-field class="mat-width-ext">
							<mat-label>Status</mat-label>
							<mat-select formControlName="status" (selectionChange)="statusChange($event)" required value="{statusFlag}">
								<mat-option value="all">
									All
								</mat-option>
								<mat-option *ngFor="let item of statusList" [value]="item.id">
									{{item.value}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="search-btn">
						<button mat-raised-button [disabled]="!submitForm.valid" color="primary" style="font-size: 1rem;" (click)="search()">
							Search
						</button>
					</div>
					<div style="margin-left: auto;">
						<button appPreventDoubleClick (throttledClick)="openBackOrder()" [throttleTime]="2000" mat-raised-button color="primary">
							Backorder
						</button>
					</div>
				</div>
			</form>
		</div>

		<div style="grid-column: 1/-1;">
			<div class="new-enq">{{(enquiries$| async)?.length }} Records</div>

			<div class="header">
				<div>#</div>
				<div>Enq ID</div>
				<div>Customer</div>
				<div>Enquiry On</div>
				<div>Status</div>
				<div>Items</div>
				<div></div>
			</div>
			<div *ngFor="let item of enquiries$ | async; let idx = index;">
				<div class="list-item">
					<div>
						{{idx + 1}}
					</div>
					<div>
						{{item.id}}
					</div>
					<div>
						{{item.customer_name}}
					</div>
					<div>
						{{item.enquiry_date | date: 'dd/MMM/yyyy h:mm a'}}
					</div>
					<div>
						{{item.status_txt }}
					</div>

					<div class="items">
						{{item.noofitems}}
					</div>
					<div>
						<ion-button *ngIf="item.estatus === 'O' " type="button" fill="outline" (click)="processEnquiry(item)"> Go to Cart</ion-button>
						<ion-button *ngIf="item.estatus === 'D' " type="button" fill="outline" (click)="processEnquiry(item)">Go to Cart</ion-button>
						<ion-button *ngIf="item.estatus === 'P' " type="button" fill="outline" (click)="moveToSale(item)">Convert to Sale</ion-button>
						<ion-button *ngIf="item.estatus === 'E' " type="button" fill="outline" (click)="processEnquiry(item)">View</ion-button>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="completed">
			<div class="new-enq">Ready For Invoicing - {{this.readyforsale?.length}} Items</div>

			<div
				*ngFor="let item of this.readyforsale; let idx = index; let isOdd = odd; let isEven = even;"
				(click)="moveToSale(item)"
			>
				<div class="list-item" [class.odd]="isOdd" [class.even]="isEven">
					<div class="idx">
						{{idx + 1}})
					</div>
					<div class="o-enq-details">
						<div class="custname">
							{{item.custname}}
						</div>
						<div class="edate">
							{{item.enquiry_date | date: 'dd/MMM/yyyy h:mm a'}}
						</div>
					</div>

					<div class="items">
						ITEMS: {{item.noofitems}}
					</div>
				</div>
			</div>
		</div> -->
	</div>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="goEnquiryScreen()">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
