.content {
	display: grid;
	width: 100%;
}

.header {
	padding: 10px;
	background-color: #f1efef;
	color: #333;
}

.header,
.listItem {
	display: grid;
	width: 100%;
	margin: 0 auto;
	grid-template-columns: 60px 100px 1fr 1fr 1fr 1fr 1fr;
	padding: 5px;
	align-items: center;
	font-size: 14px;
}

.header-style {
	background-color: #757575;
	color: #333;
	font-weight: 500;
}

.o-enq-details {
	display: grid;
	grid-template-rows: 1fr 1fr;
	padding: 10px;
}

.edate {
	font-size: 14px;
	color: #222222;
}
.items {
	font-size: 14px;
	color: #333333;
	align-self: center;
}

.custname {
	font-size: 16px;
	color: black;
}

.new-enq {
	display: flex;
	text-align: right;
	padding-bottom: 5px;
	justify-content: space-between;
}

.idx {
	padding: 10px;
	text-align: center;
}

.form-wrap {
	display: grid;
	grid-template-columns: 1.5fr 400px 160px 160px 200px 1fr;
	background-color: #f6f6ff;

	gap: 10px;
}

.title {
	font-size: 24px;
	color: #222222;
	background-color: #e2e2e2;
	text-align: center;
	line-height: 73px;
}

.search-btn {
	padding: 0px 20px;
}

.listItem {
	background-color: #fff;
	border-bottom: 1px solid #f2f2f2;
	align-items: center;
}

.title-row {
	display: flex;
	justify-content: space-between;
}
.width {
	width: 280px !important;
}

.mat-input-wrapper {
	width: 160px;
}
