.content {
	display: grid;
	width: 80%;
	margin: 0 auto;
}
.header,
.list-item {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
}
.list-item {
	padding: 4px;
}
.header {
	background-color: lightgrey;
	padding: 8px;
}
