<div class="wrapper">
	<div class="row1">
		<span style="font-size: 1.5rem; color: #222; display: grid; align-content: center"> Settings </span>
	</div>

	<div class="main-section">
		<div class="side">
			<mat-nav-list>
				<a mat-list-item [routerLink]="['', { outlets: { settings: ['general-settings'] } }]">
					<span matLine>General</span>
				</a>

				<a mat-list-item [routerLink]="['', { outlets: { settings: ['permissions-settings'] } }]">
					<span matLine>Permissions</span>
				</a>
				<a mat-list-item [routerLink]="['/detail']">
					<span matLine>Title</span>
				</a>
				<a mat-list-item [routerLink]="['/detail']">
					<span matLine>Title</span>
				</a>
			</mat-nav-list>
		</div>
		<div class="main">
			<router-outlet name="settings"></router-outlet>
		</div>
	</div>

	<div class="row3">
		<button mat-button matSuffix mat-icon-button type="button">
			<mat-icon>close</mat-icon>
		</button>
		<button mat-stroked-button color="primary" type="button" (click)="save()">SAVE</button>
	</div>
</div>
