.wrapper {
	display: grid;
	grid-template-rows: 60px 1fr 40px;
	min-height: 100%;

	.row1 {
		display: grid;
		grid-template-columns: 200px 1fr 40px;
		padding-left: 41px;
		padding-right: 20px;
		padding-top: 12px;

		.close {
			display: grid;
			justify-content: center;
			align-self: center;
			cursor: pointer;
		}
	}
	.header-row {
		display: grid;
		grid-template-columns: 40px 1fr 1fr 100px 100px 100px 50px;
		border-bottom: 1px solid #0a0a0a;
		width: 90%;
		padding: 16px 10px 10px 10px;
		max-height: 44px;
		justify-self: center;
		align-items: center;
	}

	.header-row-customer {
		display: grid;
		grid-template-columns: 40px 1fr 1fr 1fr;
		border-bottom: 1px solid #0a0a0a;
		width: 90%;
		padding: 16px 10px 10px 10px;
		max-height: 44px;
		justify-self: center;
		align-items: center;
	}

	.header-row-vendor {
		display: grid;
		grid-template-columns: 40px 1fr 1fr 1fr;
		border-bottom: 1px solid #0a0a0a;
		width: 90%;
		padding: 16px 10px 10px 10px;
		max-height: 44px;
		justify-self: center;
		align-items: center;
	}
	.header-row-brand {
		display: grid;
		grid-template-columns: 40px 1fr;
		border-bottom: 1px solid #0a0a0a;
		width: 90%;
		padding: 16px 10px 10px 10px;
		max-height: 44px;
		justify-self: center;
		align-items: center;
	}

	.row2 {
		display: grid;
		overflow-y: auto;
		overflow-x: hidden;
		align-content: flex-start;

		.list-item {
			display: grid;
			grid-template-columns: 40px 1fr 1fr 100px 100px 100px 50px;
			align-self: center;
			padding: 16px 10px 10px 10px;

			width: 90%;
			justify-self: center;
			align-items: center;

			transition: 0.3s;
		}
	}
	.row2-customer {
		display: grid;
		overflow-y: auto;
		overflow-x: hidden;
		align-content: flex-start;

		.list-item {
			display: grid;
			grid-template-columns: 40px 1fr 1fr 1fr;
			align-self: center;
			padding: 16px 10px 10px 10px;

			width: 90%;
			justify-self: center;
			align-items: center;

			transition: 0.3s;
		}
	}

	.row2-vendor {
		display: grid;
		overflow-y: auto;
		overflow-x: hidden;
		align-content: flex-start;

		.list-item {
			display: grid;
			grid-template-columns: 40px 1fr 1fr 1fr;
			align-self: center;
			padding: 16px 10px 10px 10px;

			width: 90%;
			justify-self: center;
			align-items: center;

			transition: 0.3s;
		}
	}

	.row2-brand {
		display: grid;
		overflow-y: auto;
		overflow-x: hidden;
		align-content: flex-start;

		.list-item {
			display: grid;
			grid-template-columns: 40px 1fr;
			align-self: center;
			padding: 16px 10px 10px 10px;

			width: 90%;
			justify-self: center;
			align-items: center;

			transition: 0.3s;
		}
	}

	.row3 {
		display: flex;
		justify-content: space-between;

		.scan {
			width: 240px;
			align-self: center;
		}
	}
}

// resize ion-searchbar dnd
// ion-searchbar {
// 	transform: scale(1.2); // Can also scale individually with scaleX() and scaleY()
// 	margin: 0 auto;
// 	width: 80%; // To avoid pixelate effect that occurs with scaling
// }

.scan-btn {
	width: 150px;
	text-align: center;
	padding: 8px;
	border-radius: 5px;
	color: rgb(236, 37, 37);
	border: 1px solid rgb(236, 37, 37);
}

.row-cnt {
	align-self: center;
	padding-left: 50px;
}

.desc-styl {
	font-size: 14px;
	opacity: 0.7;
}

.list-item:hover {
	background-color: #c7c4d7;
	opacity: 1;
}

.main-section {
	display: grid;
	grid-template-columns: 220px 1fr;

	.side {
		background-color: #f4f4f4;
	}
	.main {
		width: 100%;
	}
}
