.screen-header {
	display: flex;
	width: 100%;
    padding: 16px 16px 10px 10px;
	font-size: 0.9rem;
	font-weight: 500;
	color: #222222;
	justify-content: space-between;
}

.customer-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 5px 0px 5px 0px;
}

.header {
	display: grid;
	grid-template-columns: 1fr 1fr 50px 110px 1fr 60px 80px 180px;
	padding: 10px;
	font-size: 12px;
	background-color: #e7e7e7;
}

.list-item {
	display: grid;
	grid-template-columns: 1fr 1fr 50px 110px 1fr 60px 80px 180px;
	padding: 10px;
    font-size: 12px;
    border-bottom: 1px solid #e7e7e7;
}

.action-row {
	display: flex;
	justify-content: space-between;
	padding: 10px 0px 5px 6px;
	border-bottom: 1px solid #e2e2e2;
	align-items: center;
}
