<ion-content>
	<div class="screen-header">
		<div>&nbsp;</div>

		<div style="align-items: center">
			<img class="cursor" src="/assets/images/svg/close.svg" (click)="close()" width="16px" height="16px" />
		</div>
	</div>

	<div class="action-row">
		<div>INQUIRY</div>
		<div>
			<span style="padding: 0px 6px" class="cursor">
				<img src="/assets/images/svg/whatsapp.svg" style="cursor: pointer" width="24px" height="24px" (click)="openShareDialog()" />
			</span>

			<span style="padding: 0px 6px"
				><img src="/assets/images/svg/download-excel.svg" style="cursor: pointer" width="24px" height="24px" (click)="exportToExcel()"
			/></span>
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		</div>
	</div>

	<div class="customer-info">
		<div>
			<div style="padding: 5px">
				<div style="font-size: 13px; font-weight: 400; opacity: 0.6">Inquiry #</div>
				<div style="font-size: 14px; font-weight: 400">{{ this.enquirymasterdata?.enqid }}</div>
			</div>

			<div style="padding: 5px">
				<div style="font-size: 13px; font-weight: 400; opacity: 0.6">Inquiry Date</div>
				<div style="font-size: 14px; font-weight: 400">{{ this.enquirymasterdata?.enquiry_date | date: "dd/MMM/yyyy" }}</div>
			</div>

			<div style="padding: 5px">
				<div style="font-size: 13px; font-weight: 400; opacity: 0.6">Status</div>
				<div style="font-size: 14px; font-weight: 400">
					{{
						this.enquirymasterdata?.estatus === "E"
							? "Closed Inquiry"
							: this.enquirymasterdata?.estatus === "D"
							? "In Progress"
							: this.enquirymasterdata?.estatus === "P"
							? "Ready to Invoice"
							: this.enquirymasterdata?.estatus === "O"
							? "New Inquiry"
							: ""
					}}
				</div>
			</div>
			<div style="padding: 5px">
				<div style="font-size: 13px; font-weight: 400; opacity: 0.6">Processed Date</div>
				<div style="font-size: 14px; font-weight: 400">{{ this.enquirymasterdata?.processed_date || 'N/A'}}</div>
			</div>
		</div>
		<div>
			<div style="padding: 5px">
				<div style="font-size: 13px; font-weight: 400; opacity: 0.6">Billing Address</div>
				<div style="padding: 5px 0px">
					<div style="font-size: 14px; font-weight: 400">
						{{ this.enquirymasterdata?.name }}
					</div>
					<div style="font-size: 14px; font-weight: 400; padding: 1px 0x">{{ this.enquirymasterdata?.address1 }}</div>
					<div style="font-size: 14px; font-weight: 400; padding: 1px 0px">{{ this.enquirymasterdata?.address2 }}</div>
				</div>
			</div>
			<div style="padding: 5px">
				<div style="font-size: 13px; font-weight: 400; opacity: 0.6; padding: 5px 0px 0px 0px">Shipping Address</div>
				<div style="padding: 5px 0px">
					<div style="font-size: 14px; font-weight: 400">
						{{ this.enquirymasterdata?.customer_name }}
					</div>
					<div style="font-size: 14px; font-weight: 400; padding: 1px 0px">{{ this.enquirymasterdata?.csa_address1 }}</div>
					<div style="font-size: 14px; font-weight: 400; padding: 1px 0px">{{ this.enquirymasterdata?.csa_address2 }}</div>
				</div>
			</div>
		</div>
	</div>

	<div #epltable>
		<table style="width: 100%">
			<thead>
				<tr class="content">
					<th style="text-align: left; padding-left: 5px; font-weight: 500">SNo</th>
					<th style="text-align: left; padding-left: 5px; font-weight: 500">Item Code</th>
					<th style="text-align: left; padding-left: 5px; font-weight: 500">Item Description</th>
					<th style="text-align: right; padding-right: 5px; font-weight: 500">In Stock</th>
					<th style="text-align: left; padding-left: 5px; font-weight: 500">Rack #</th>
					<th style="text-align: right; padding-right: 5px; font-weight: 500">A. Qty</th>

					<th style="text-align: left; padding-left: 5px; font-weight: 500">Notes</th>
					<th style="text-align: right; padding-right: 5px; font-weight: 500">R. Qty</th>
				</tr>
			</thead>
			
			<tbody>
				<div *ngFor="let item of enquirydetailsdata ? enquirydetailsdata : []; let idx = index" class="list-item">
					<div style="text-align: left; padding-left: 5px">{{ idx + 1 }}</div>
					<div style="text-align: left; padding-left: 5px">{{ item?.pcode }}</div>
					<div style="text-align: left; padding-left: 5px">{{ item?.pdesc }}</div>
					<div style="text-align: right; padding-right: 5px">{{ item?.available_stock }}</div>
					<div style="text-align: left">{{ item?.rackno }}</div>

					<div style="text-align: right; padding-right: 5px">{{ item?.giveqty }}</div>
					<div style="text-align: left; padding-left: 5px">{{ item?.notes }}</div>
					<div style="text-align: right; padding-right: 5px">{{ item?.askqty }}</div>
				</div>
			</tbody>
		</table>
	</div>
</ion-content>
