<div class="screen-header">
	<div>Additional Items Inquiry</div>
	<div>
		<img class="cursor" src="/assets/images/svg/close.svg" (click)="close()" width="20px" height="20px" />
	</div>
</div>

<div class="content">
	<form (ngSubmit)="onSubmit()" [formGroup]="submitForm" #myForm="ngForm">
		<div class="enq-form">
			<div class="main-add">
				<div class="left">
					<div>
						<mat-form-field class="example-full-width">
							<input matInput [matAutocomplete]="auto1" formControlName="productctrl" #typehead #plist matTooltipPosition="after" tabindex="1" />
							<mat-hint matTooltip="Add product">Hint: Type product code</mat-hint>
							<mat-placeholder class="placeholder">Select Item Code</mat-placeholder>
							<button mat-button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearProdInput()">
								<mat-icon>close</mat-icon>
							</button>

							<mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayProdFn" (optionSelected)="setItemDesc($event, 'click')">
								<mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="20"></mat-spinner></mat-option>
								<ng-container *ngIf="!isLoading">
									<mat-option
										*ngFor="let product of product_lis"
										[value]="product"
										style="padding-top: 15px; height: 3.3em !important; padding-bottom: 15px"
									>
										<div style="display: grid; grid-template-columns: 1fr 80px">
											<div>
												<div style="font-size: 15px; padding: 2px; line-height: 1em">{{ product.product_code }}</div>
												<div style="font-size: 14px; padding: 2px; line-height: 1em">{{ product.description }}</div>
											</div>
											<div>
												<div style="font-size: 15px; padding: 2px; line-height: 1em; text-align: right">In Stock</div>
												<div style="font-size: 14px; padding: 2px; line-height: 1em; text-align: right; color: blue">
													{{ product.available_stock }}
												</div>
											</div>
										</div>
									</mat-option>
								</ng-container>
							</mat-autocomplete>

							<mat-error *ngIf="submitForm.controls['productctrl'].hasError('incorrect')"> Invalid product code </mat-error>
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="example-full-width">
							<input matInput type="text" formControlName="tempdesc" required tabindex="2" />
							<mat-placeholder class="placeholder">Item description</mat-placeholder>
							<mat-error *ngIf="submitForm.controls['tempdesc'].hasError('required')"> Please enter a value </mat-error>
						</mat-form-field>
					</div>

					<div>
						<mat-form-field class="example-full-width">
							<mat-label>Qty</mat-label>
							<input matInput type="number" min="1" max="1000" formControlName="tempqty" required tabindex="3" />
							<mat-hint matTooltip="Info about the action">Max 1000</mat-hint>
						</mat-form-field>
					</div>
					<div>
						<button mat-stroked-button color="primary" type="button" tabindex="4" (click)="add()">+ New Row</button>
					</div>
				</div>
				<div class="right">
					<div style="color: #999999; font-size: 14px; text-align: left"># items</div>
					<div style="color: #666666; font-size: 32px; text-align: center">{{ getLength() }}</div>
				</div>
			</div>

			<div class="actn-row">
				<div style="padding-left: 7px; cursor: pointer">
					<img src="/assets/images/svg/trash.svg" width="18px" height="18px" *ngIf="showDelIcon" (click)="onRemoveRows()" />
					<span class="itms-lbl" *ngIf="showDelIcon" (click)="onRemoveRows()">&nbsp;Delete</span>
				</div>
				<div class="itms-lbl">{{ productarr.controls.length || 0 }} Items</div>
			</div>

			<div formArrayName="productarr" class="list-block">
				<div class="item-details" *ngFor="let product of productarr.controls; let idx = index">
					<ng-container [formGroupName]="idx">
						<div class="id">
							<mat-checkbox (click)="checkedRow(idx)" formControlName="checkbox"></mat-checkbox>
						</div>

						<div>
							<mat-form-field class="example-full-width">
								<mat-label>Item Code</mat-label>
								<input matInput autofocus="*ngIf=idx === 1" type="text" formControlName="product_code" />
							</mat-form-field>
						</div>
						<div>
							<mat-form-field class="example-full-width">
								<input matInput type="text" formControlName="notes" placeholder="Item description" />
							</mat-form-field>
						</div>

						<div>
							<mat-form-field class="example-full-width">
								<mat-label>Qty(max 1000)</mat-label>
								<input matInput type="number" formControlName="quantity" />
								<mat-icon matSuffix style="cursor: pointer" (click)="openCurrencyPad(idx)">view_comfy</mat-icon>
							</mat-form-field>
						</div>
					</ng-container>
				</div>
			</div>

			<div class="submit">
				<button mat-raised-button color="primary" type="submit" name="action" class="cursor">Add Items</button>
			</div>
		</div>
	</form>
</div>
