.mat-stepper-horizontal {
	margin-top: 8px;
}

.mat-form-field {
	margin-top: 16px;
}

.content {
	display: grid;
	width: 80%;
	margin: 0 auto;
}

.prod-info,
.general-info,
.addl-info {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
}

.mat-width-ext {
	width: 400px;
}

.screen-header {
	display: flex;

	padding-top: 30px;
	font-size: 16px;
	font-weight: 500;
	color: #222222;

	// justify-content: space-between;
}

.gap {
	padding: 0px 10px;
	cursor: pointer;
}

.addbtn {
	margin-left: auto;
}
