/** @format */

.mat-stepper-horizontal {
	margin-top: 8px;
}

.mat-form-field {
	margin-top: 16px;
}

.content {
	display: grid;
	width: 94%;
	margin: 0 auto;
	padding: 16px;
}

.prod-info {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
}

.screen-header {
	display: flex;

	font-size: 16px;
	font-weight: 500;
	color: #222222;
}

.mat-width-ext {
	width: 100%;
}
