<ion-content>
	<div>
		<app-header [sidenav]="leftSidenav"></app-header>

		<mat-sidenav-container class="sidenav-container" style="min-width: 6rem">
			<mat-sidenav #leftSidenav mode="side" opened style="min-width: 6rem">
				<app-left-menu></app-left-menu>
			</mat-sidenav>
			<mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
				<div class="main_content">
					<ion-router-outlet></ion-router-outlet>
				</div>
			</mat-sidenav-content>
		</mat-sidenav-container>
	</div>
</ion-content>
