/** @format */

.content {
	display: grid;
}

.header {
	display: flex;
	justify-content: space-between;
	height: 40px;
}

.invoice-details {
	display: flex;
	justify-content: space-evenly;
}

.example-radio-group {
	display: flex;
	flex-direction: column;
	margin: 15px 0;
}

.example-radio-button {
	margin: 5px;
}
