<div class="content">
	<div class="screen-header">
		<div>Add New Brand</div>
		<div>
			<img class="cursor" src="/assets/images/svg/close.svg" (click)="close()" width="20px" height="20px" />
		</div>
	</div>

	<form class="myForm" [formGroup]="submitForm" (ngSubmit)="onSubmit()">
		<div class="brand-info">
			<div class="name">
				<mat-form-field class="mat-width-ext">
					<mat-label>Name</mat-label>
					<input matInput (blur)="isBrandExists()" formControlName="name" required />
					<mat-error>This field is required</mat-error>
				</mat-form-field>
				<div *ngIf="bexists" class="error">Already Exists</div>
			</div>
		</div>

		<div style="text-align: center; padding: 16px">
			<button mat-raised-button color="primary" type="submit">+ Add New Brand</button>
		</div>
	</form>
</div>
