<ion-content>
	<div class="screen-header">
		<div style="font-size: 16px">SALES RETURN</div>

		<div style="align-items: center">
			<img class="cursor" src="/assets/images/svg/close.svg" (click)="close()" width="16px" height="16px" />
		</div>
	</div>

	<div class="action-row">
		<div>{{ this.salemasterdata?.name }}</div>
		<div>{{ this.salemasterdata?.address1 }}</div>
		<div>{{ this.salemasterdata?.address2 }}</div>
		<div>{{ this.salemasterdata?.district }}</div>
	</div>

	<div class="customer-info">
		<div style="padding: 5px">
			<div style="font-size: 13px; font-weight: 400; opacity: 0.6">Invoice #</div>
			<div style="font-size: 14px; font-weight: 400">{{ this.salemasterdata?.invoice_no }}</div>
		</div>

		<div style="padding: 5px">
			<div style="font-size: 13px; font-weight: 400; opacity: 0.6">Invoice Date</div>
			<div style="font-size: 14px; font-weight: 400">{{ this.salemasterdata?.invoice_date }}</div>
		</div>

		<div style="padding: 5px">
			<div style="font-size: 13px; font-weight: 400; opacity: 0.6">Status</div>
			<div style="font-size: 14px; font-weight: 400">{{ this.salemasterdata?.status === 'C' ? 'Completed' : '' }}</div>
		</div>
	</div>

	<div #epltable>
		<table style="width: 100%">
			<thead>
				<tr class="header">
					<th style="text-align: left">SNo</th>
					<th style="text-align: left">ITEM</th>
					<th style="text-align: left">&nbsp;</th>
					<th style="text-align: left">QTY</th>
					<th style="text-align: right">RETURN NOW</th>
					<th style="text-align: right">MRP</th>
					<th style="text-align: right">DIS%</th>

					<th style="text-align: right">TAX</th>

					<th style="text-align: right">NET AMNT</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of returnArr ? returnArr : []; let idx = index" class="list-item row-color">
					<td style="text-align: left">{{ idx + 1 }}</td>
					<td>
						<div style="font-size: 12px; color: hsl(0, 0%, 48%)">{{ item.product_code }}</div>
						<div>
							{{ item.description }}
						</div>
					</td>
					<td>
						<mat-form-field style="width: 170px">
							<mat-label>Reason</mat-label>
							<mat-select required value="{{ selReturnType }}" (selectionChange)="reasonChange($event, idx)">
								<mat-option *ngFor="let item of saleReturnTypeList" [value]="item"> {{ item }} </mat-option>
							</mat-select>
						</mat-form-field>
					</td>

					<td style="text-align: right; padding-right: 10px">Ordered: {{ item?.qty }} Returned: {{ item?.returned }}</td>
					<td style="text-align: right">
						<mat-form-field *ngIf="item?.qty !== item?.returned" style="width: 50px; margin-bottom: -1.25em; text-align: right">
							<input
								matInput
								name="received_now"
								type="number"
								(blur)="update_change($event, idx)"
								value="{{ item?.received_now }}"
								min="0"
								max="{{ item?.qty - item?.returned }}"
							/>
							<div *ngIf="item?.error" style="font-size: 11px; color: red">Mismatch</div>
						</mat-form-field>
						<div style="text-align: center !important" *ngIf="item?.qty === item?.returned">-</div>
					</td>

					<td style="text-align: right">{{ (+item?.mrp).toFixed(2) }}</td>
					<td style="text-align: right">
						<mat-form-field style="width: 50px; margin-bottom: -1.25em; text-align: right">
							<input
								matInput
								name="disc_value"
								type="number"
								(change)="update_disc_value($event, idx)"
								value="{{ item?.disc_percent }}"
								min="0"
								max="100"
							/>
						</mat-form-field>
					</td>
					<td style="text-align: right">{{ item?.taxrate }}</td>
					<td style="text-align: right">{{ (+item?.total_value).toFixed(2) }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div *ngIf="nothingToReturnMsg" style="text-align: center; padding: 10px; color: red">
		<div>{{ this.nothingToReturnMsg }}</div>
	</div>
	<div style="display: flex; justify-content: center; padding-top: 10px">
		<button mat-raised-button color="primary" style="font-size: 1rem" (click)="return()">Approve returns & Create credit note</button>&nbsp;&nbsp;
		<button mat-raised-button color="secondary" style="font-size: 1rem" (click)="cancel()">Cancel</button>
	</div>
</ion-content>
